$def with (connected, id, errormess, data, context='')
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var title : $c.getMessage('add',self.lang) $c.getMessage('alarmlog',self.lang)
$if id == 'new':
    $code :
	myID = 'new'
	rmq = ''
    $var location: alarmlog=alarmlog alarmlog/new/new=add
$else :
    $code:
	if not id.split('_')[0] in 'bec':
	    alarmlog = c.AllAlarmLogs.get(id)
	    alarm = c.AllAlarms.get(alarmlog.fields['a_id'])
	    compo = alarmlog.get_component(c)
	    src = alarmlog.get_source(c)
	    myID = 'update'
	    rmq = alarmlog.fields['remark']
    $var title :  $c.getMessage('alarmlog',self.lang) $id
	    
$if context != '' :
    $code:
	myID = 'component'
	splits = context.split('_')
	elem = c.get_object(splits[0],splits[-1])
	rmq = '' 
$if myID == 'update':
    $var location: list/$(compo.get_type())=$(compo.get_class_acronym()) find/al/$(compo.get_type())_$(compo.getID())=alarmlog edit/al_$(alarmlog.getID())=edit
$elif myID == 'component':
    $ aType = id.split('_')[0]
    $var location: list/$(aType)=$(elem.get_class_acronym()) find/al/$(aType)_$(elem.getID())=alarmlog alarmlogs/$(aType)_$(elem.getID())/new=add
<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.getMessage('time',self.lang)</label>
	    <div class="col-sm-9 parent">
		<input name="begintime" type="text" class="form-control input" id="inputTime" placeholder="$c.getMessage('dateentry',self.lang)" 
		$if myID == 'update':
		    value="$useful.date_to_ISO(alarmlog.fields['begintime'])"
		$else :
		    value ="$c.get_time()"
		><script>rome.moment.locale("$(self.lang.lower())");rome(inputTime,{"inputFormat": "YYYY-MM-DD HH:mm:ss"});</script>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="Source" class="col-sm-3 col-form-label">$c.getMessage('source',self.lang) </label>
	    <div class="col-sm-9">
		<select name = "noassign1" class="form-control" id="Source" readonly>
		$if src:
			<option value="$(src.get_type())_$(src.getID())" selected>
			$if src.get_type() == 's':
				$src.fields['acronym'] - $src.getName(self.lang)
			$else:
				$c.getMessage(src.get_class_acronym(),self.lang) #$(src.getID())
			</option>
		</select>
	    </div>
	</div>

	<div class="form-group row">
	    <label for="Alarm" class="col-sm-3 col-form-label">$c.getMessage('alarm',self.lang) </label>
	    <div class="col-sm-9">
		<select name = "noassign2" class="form-control" id="Alarm" readonly>
		$if alarm:
			<option value="$(alarm.get_type())_$(alarm.getID())" selected>$alarm.fields['acronym'] - $alarm.getName(self.lang) </option>
		</select>
	    </div>
	</div>

	<div class="form-group row">
	    <label for="alarmTime" class="col-sm-3 col-form-label">$c.getMessage('alarmtime',self.lang)</label>
	    <div class="col-sm-9">
		<input name="time" type="text" class="form-control" id="alarmTime" placeholder="$c.getMessage('dateentry',self.lang)" 
		$if myID == 'update':
		    value="$useful.date_to_ISO(alarmlog.fields['alarmtime'])"
		$else :
		    value ="$c.get_time()"
		readlonly>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="Component" class="col-sm-3 col-form-label">$c.getMessage('component',self.lang) </label>
	    <div class="col-sm-9">
		<select name = "noassign3" class="form-control" id="Component" readonly>
		$if compo:
			<option value="$(compo.get_type())_$(compo.getID())" selected>$compo.fields['acronym'] - $compo.getName(self.lang) </option>
		</select>
	    </div>
	</div>

	<div class="form-group row">
	<div class="col-sm-3">
	    <label for="completedTime" class="form-label">$c.getMessage('completedtime',self.lang)</label>
	</div>
	    $code:
		    compTime = None
		    if errormess != '':
			if 'completedtime' in data :
			    compTime = data['completedtime'] 
		    elif id != 'new':
		    	compTime = alarmlog.fields['completedtime']
	<div class="col-sm-2">
	    <input name="iscompleted" type="checkbox" class="form-control" value="1" id="isCompleted" $("checked" if compTime else "")>
	</div>
	<div class="col-sm-6 parent">
	    <input name="completedtime" type="text" class="form-control input" id="completedTime" placeholder="$c.getMessage('dateentry',self.lang)" value="$compTime">
		<script>rome(completedTime,{"inputFormat": "YYYY-MM-DD HH:mm:ss"});</script>
	</div>
	</div>

	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    <label class="switch">
		    $code:
			cond = (id == 'new')
			if not cond :
			    cond = alarmlog.isActive()
			if errormess != '' :
			    if 'active' in data :
				cond  = True
			    else:
				cond = False
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	<div class="form-group row">
	    <label for="inputImage" class="col-sm-3 col-form-label">$c.getMessage('file',self.lang)</label>
	    <label class="control-label col-sm-9">
	    $if id != 'new':
		$ ext = alarmlog.isImaged()
		$if ext:
			<a href="$alarmlog.getImageURL(ext)" target="_blank">$ext</a>
	    <input id="inputImage" name="placeImg" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "jpeg", "png"]'>
	    </label>
	</div>
	<div class="form-group row">
	    <label for="inputFile" class="col-sm-3 col-form-label">$c.getMessage('document',self.lang)</label>
	    <label class="control-label col-sm-9">
            $ i=0
	    $if id != 'new':
		    $for filename in alarmlog.getDocumentList():
		        $ i=i+1
			<a href="/files/$(alarmlog.getTypeId())?remove=$filename" class="btn btn-danger" onclick="return(YNmessage(this,'$(c.getMessage("remove",self.lang))','$filename'))">X</a> &nbsp;
			($(i)) <a href="$alarmlog.getDocumentURL(filename)" target="_blank">$filename</a><br/>
	    <input id="inputFile" name="linkedDocs" type="file" multiple class="file file-loading"'>
            </label>
	</div>

	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/find/al/$(compo.get_type())_$(compo.getID())"
		$else :
		    href="/index"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>
