$def with (connected, link, message)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var recursive : False
$var location : backup=backup
$var title : $c.getMessage('createBackup',self.lang)

    <row>
    $if message:
        <div class="column alert alert-danger text-center">
          <strong><big>$c.getMessage(message,self.lang)</big></strong>
        </div>
    </row>
    <div class="column alert alert-info text-center">
      <strong><big><a href="/updateELSA">$:c.getHalfling('updateELSA')&nbsp;&nbsp;$c.getMessage('updateELSA', self.lang)</a></big></strong>
    </div>
    <form method="post" action="/backup" id="selectBackup" enctype="multipart/form-data">
        <div class="form-group column">
            <input type="submit" value="$c.getMessage('createBackup',self.lang)" class="form-control" name="create_backup">
        </div>
    </form>
    <row>
    $if link:
        <div class="column alert alert-info text-center">
          <strong><big><a href="$link">$c.getMessage('downloadBackup',self.lang)</a></big></strong>
        </div>
    </row>
    <form method="post" action="/restore" id="selectRestore" enctype="multipart/form-data">
        <div class="form-group column">
            <input type="file" name="zip_archive_to_restore">
            <input type="submit" value="$c.getMessage('restore',self.lang)" class="form-control" name="restore_and_restart">
        </div>
    </form>
    <form method="post" action="/backup" id="selectShutdown" enctype="multipart/form-data">
        <div class="form-group column">
            <input type="submit" value="$c.getMessage('shutdown',self.lang)" class="form-control" name="shutdown">
            <input type="checkbox" name="restart" checked>Restart</input>
        </div>
    </form>
