$def with (mail, link)

$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$var recursive : False
$var location : backup=backup
$var title : $c.getMessage('createBackup',self.lang)

<div class="container">
    <form method="post" action="" id="selectAction" enctype="multipart/form-data">
        <div class="form-group column">
            <input type="submit" value="$c.getMessage('createBackup',self.lang)" class="form-control" name="create_backup">
            <input type="file" name="zip_archive_to_restore">
            <input type="submit">
        </div>
    </form>
    $if link is not None:
        <a href="$link">Download last backup</a>
</div>
