$def with (mail,barcode, errormess)
$var allowed : $c.connectedUsers.users[mail].cuser.allowed(c)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var recursive : False
$var title : ELSA BARCODE search
$if errormess == '' :
    $code:
	elem  = c.AllBarcodes.barcode_to_item(barcode)
    $var location: list/$(elem.get_type())=$(c.findAll(elem.get_type()).get_class_acronym()) barcode/$(barcode)=barcode
     
    <script>
	$$(function(){
	    $$("#includedMenu").load("/fullentry/$(elem.get_type())_$(elem.getID())");
	});
    </script>
    <div id="includedMenu" style="min-height:11ex;"></div>
$else:
    $var location: barcode/$(barcode)=barcode
    <div class="form-group row" id="error">
	    $c.getMessage('errorbarcode',self.lang) [$(barcode)]
    </div>
    
<div class="row">
    <svg id='barcode'></svg>
</div>
<div class="form-group row" id="error2">
        $c.getMessage('barcoderules',self.lang) [$(barcode)]
</div>
<script>
if (generateBarcode('#barcode', $barcode)) {
        jQuery('div#error2').css('display', 'none')
    }
</script>
