$def with (connected, id, errormess, data, context='')
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var title : $c.getMessage('add',self.lang) $c.getMessage('batch',self.lang)
$ aRecipe = None
$ aMeasure = None
$ precision = None
$ elem = None
$ rmq = ''
$code:
    if data and ('group' in data) and data['group']:
	kRecipe = data['group']
	aRecipe = c.AllGrRecipe.get(kRecipe)
	precision = aRecipe.get_measure(c)
    elif id != 'new':
	elem = c.AllBatches.get(id)
	if elem:
		kRecipe = elem.fields['gr_id']
		aRecipe = c.AllGrRecipe.get(kRecipe)
		precision = elem.get_measure(c)
    elif context:
        kRecipe = context.split('_')[-1]
        aRecipe = c.AllGrRecipe.get(kRecipe)
	precision = aRecipe.get_measure(c)
$if elem:
    $ rmq = elem.fields['remark']
    $var title :  $c.AllBatches.getName(self.lang) $elem.fields['acronym']
$if errormess != '':
    $ rmq = data['remark']
$var bcTop:gr
$var bcElem:b_$id
$var bcOwner:$context
$var bcOperation:edit
<form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>
		
	<script>
		$$(function(){
			$$("#includedPermission").load("/select/group/$(aRecipe.getTypeId() if aRecipe else 'gr')");
		});
	</script>
	<div id="includedPermission"></div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.getMessage('time',self.lang)</label>
	    <div class="col-sm-9 parent">
		<input name="time" type="text" class="form-control input" id="inputTime" placeholder="$c.getMessage('dateentry',self.lang)" 
		$if errormess != '':
		    $if 'time' in data :
			value="$data['time']" 
		$elif elem:
		    value="$elem.fields['time']"
		$else :
		    value ="$c.get_time()"
		><script>rome.moment.locale("$(self.lang.lower())");rome(inputTime,{"inputFormat": "YYYY-MM-DD HH:mm:ss"});</script>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$:c.getAllHalfling(c.AllBatches)$c.getMessage('acronym',self.lang)</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="$c.getMessage('acronym',self.lang)" 
		$if errormess != '':
		    $if 'acronym' in data :
			value="$data['acronym']"
		$elif elem:
		    value="$elem.fields['acronym']"
		$elif aRecipe:
		    value="$(aRecipe.proposedMemberAcronym(c))"
		required="true">
	    </div>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-4 col-form-label">$c.getMessage('name',self.lang)</label>
	</div>
	
	$for k,v in c.AllLanguages.elements.items():
	    <div class="form-group row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-3">
		    <strong>$v.fields['name']</strong>
		</div>
		<div class="col-sm-8">
		    <input name="$k" type="text" class="form-control" id="inputName" placeholder="Name"
		$if errormess != '':
		    $if k in data :
			value="$data[k]"
		$elif elem:
		    value="$elem.get_real_name(k)"
		$elif aRecipe:
		    value="$(aRecipe.get_real_name(k))"
		$if self.lang == k: 
		    required="true"
		>
		</div>
	    </div>

	$ gf_provider = None
	$ aFunction = None
	$if aRecipe:
		$ gf_provider = aRecipe.field('provider_gf_id')
		$ aFunction = c.AllGrFunction.get(gf_provider)
	$if aFunction :
		<div class="form-group row">
		    <label for="providerSelect" class="col-sm-3 col-form-label">$c.getMessage('provider',self.lang)</label>
		    <div class="col-sm-9">
			<select name = "provider_id" class="form-control" id="providerSelect">
			    <option></option>
			    $for k,aUser in c.AllUsers.get_sorted().items():
			      $if aUser.isActive() and aUser.hasParent(c,aFunction.fields['acronym']):
				<option value="$k"
				$if errormess != '':
				    $if 'provider_id' in data :
					$if k == data['provider_id']:
					    selected
				$elif elem:
					$if k == elem.fields['provider_id'] :
					    selected
				>$(aUser.get_select_str(self.lang))</option>
			</select>
		    </div>
		</div>
		<div class="form-group row">
		    <label for="inputRefProvider" class="col-sm-3 col-form-label">$c.getMessage('provider_ref',self.lang)</label>
		    <div class="col-sm-9">
			<input name="provider_ref" type="text" class="form-control" id="inputRefProvider" placeholder="Enter Provider Reference number"
			$if errormess != '':
			    $if 'provider_ref' in data :
				value="$data['provider_ref']"
			$elif elem:
			    value="$elem.fields['provider_ref']"
			>
		    </div>
		</div>

	$ gf_buyer = None
	$ aFunction = None
	$if aRecipe:
		$ gf_buyer = aRecipe.field('buyer_gf_id')
		$ aFunction = c.AllGrFunction.get(gf_buyer)
	$if aFunction :
		<div class="form-group row">
		    <label for="buyerSelect" class="col-sm-3 col-form-label">$c.getMessage('buyer',self.lang)</label>
		    <div class="col-sm-9">
			<select name = "buyer_id" class="form-control" id="buyerSelect">
			    <option></option>
			    $for k,aUser in c.AllUsers.get_sorted().items():
			      $if aUser.isActive() and aUser.hasParent(c,aFunction.fields['acronym']):
				<option value="$k"
				$if errormess != '':
				    $if 'buyer_id' in data :
					$if k == data['buyer_id']:
					    selected
				$elif elem:
					$if k == elem.fields['buyer_id'] :
					    selected
				>$(aUser.get_select_str(self.lang))</option>
			</select>
		    </div>
		</div>
		<div class="form-group row">
		    <label for="inputRefBuyer" class="col-sm-3 col-form-label">$c.getMessage('buyer_ref',self.lang)</label>
		    <div class="col-sm-9">
			<input name="buyer_ref" type="text" class="form-control" id="inputRefBuyer" placeholder="Enter Buyer Reference number"
			$if errormess != '':
			    $if 'buyer_ref' in data :
				value="$data['buyer_ref']"
			$elif elem:
			    value="$elem.fields['buyer_ref']"
			>
		    </div>
		</div>
	
	<div class="form-group row">
	    <label for="measureSelect" class="col-sm-3 col-form-label">$c.getMessage('measure',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "measure" class="form-control" id="measureSelect">
		$if precision:
		    <option value="m_$(precision.getID())" selected>$(precision.get_select_str(self.lang))</option>
		$else:
		    $for k,aMeasure in c.AllMeasures.get_sorted().items():
			<option value="m_$k"
			$if errormess != '':
			    $if 'measure' in data :
				$if 'm_'+k == data['measure']:
				    selected
			$elif elem:
				$if k == elem.fields['m_id'] :
				    selected
			>$(aMeasure.get_select_str(self.lang))</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputQty" class="col-sm-3 col-form-label">$c.getMessage('quantity',self.lang)</label>
	    <div class="col-sm-5">
		<input name="basicqt" type="number" lang="en-US" class="form-control" id="inputQty" placeholder="$c.getMessage('quantity',self.lang)"
		    $if errormess != '':
			$if 'basicqt' in data :
			    value="$data['basicqt']" 
		    $elif id == 'new':
			$if aRecipe:
			    value="$aRecipe.field('basicqt')"
		    $else:
			value="$unicode(elem.get_quantity())"
		    $if precision:
			min="$(precision.fields['min'])" max="$(precision.fields['max'])" step="$(precision.get_html_step())"
		>
	    </div>
	    <div class="col-xs-4">
		$if aRecipe:
		    $aRecipe.field('basicqt')
	    </div>
	</div>
		
	<div class="form-group row">
	    <label for="inputCost" class="col-sm-3 col-form-label">$c.getMessage('unitcost',self.lang)</label>
	    <div class="col-xs-5">
		<input name="cost" type="number" lang="en-US" step="0.01" class="form-control" id="inputCost" placeholder="$c.getMessage('cost',self.lang)"
		    $if errormess != '':
			$if 'cost' in data :
			    value="$data['cost']" 
		    $elif id == 'new':
			$if aRecipe:
			    value="$aRecipe.field('cost')"
		    $elif elem:
			value="$elem.fields['cost']"
		>
	    </div>
	    <div class="col-xs-4">
		$if aRecipe:
		    $aRecipe.field('cost')
		<big>$c.currency</big>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputFixedCost" class="col-sm-3 col-form-label">$c.getMessage('fixedcost',self.lang)</label>
	    <div class="col-xs-5">
		<input name="fixed_cost" type="number" lang="en-US" step="0.01" class="form-control" id="inputFixedCost" placeholder="$c.getMessage('cost',self.lang)"
		    $if errormess != '':
			$if 'fixed_cost' in data :
			    value="$data['fixed_cost']" 
		    $elif id == 'new':
			$if aRecipe:
				value="$aRecipe.field('fixed_cost')"
		    $elif elem:
			value="$elem.fields['fixed_cost']"
		>
	    </div>
	    <div class="col-xs-4">
		$if aRecipe:
		    $aRecipe.field('fixed_cost')
		<big>$c.currency</big>
	    </div>
	</div>
	<div class="form-group row">
	    <label for="inputBarcode" class="col-sm-3 col-form-label">$:c.getHalfling('barcode') $c.getMessage('code',self.lang)</label>
	    <div class="col-sm-9">
		<input name="code" type="number" lang="en-US" min="0" step="1" class="form-control" id="inputBarcode" placeholder="$c.getMessage('code',self.lang)"
		$if errormess != '':
		    $if 'code' in data :
			value="$data['code']"
		$elif elem:
		    value="$elem.get_barcode(c,'')"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="Remark" >$rmq</textarea>
	    </div>
	</div>

	<div class="form-group row">
	<div class="col-sm-3">
	    <label for="expirationDate" class="form-label">$c.getMessage('expirationdate',self.lang)</label>
	</div>
	    $code:
		    compTime = None
		    if errormess != '':
			if 'expirationdate' in data :
			    compTime = data['expirationdate']
		    elif elem:
		    	compTime = elem.fields['expirationdate']
	<div class="col-sm-2">
	    $if elem:
		$ lifespan = elem.lifespan()
		    $if lifespan:
			$unicode(elem.lifespan()) $c.getMessage('days',self.lang)
	</div>
	<div class="col-sm-6 parent">
	    <input name="expirationdate" type="text" class="form-control input" id="expirationDate" placeholder="$c.getMessage('dateentry',self.lang)" value="$compTime">
		<script>rome(expirationDate,{"inputFormat": "YYYY-MM-DD HH:mm:ss"});</script>
	</div>
	</div>
	
	<div class="form-group row">
	<div class="col-sm-3">
	    <label for="completedTime" class="form-label">$c.getMessage('completedtime',self.lang)</label>
	</div>
	    $code:
		    compTime = None
		    if errormess != '':
			if 'completedtime' in data :
			    compTime = data['completedtime'] 
		    elif elem:
		    	compTime = elem.fields['completedtime']
	<div class="col-sm-2">
	    <input name="iscompleted" type="checkbox" class="form-control" value="1" id="isCompleted" $("checked" if compTime else "")>
	</div>
	<div class="col-sm-6 parent">
	    <input name="completedtime" type="text" class="form-control input" id="completedTime" placeholder="$c.getMessage('dateentry',self.lang)" value="$compTime">
		<script>rome(completedTime,{"inputFormat": "YYYY-MM-DD HH:mm:ss"});</script>
	</div>
	</div>

	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = False
		if elem :
		    cond = elem.isActive()
		if errormess != '' :
		    if 'active' in data :
			cond  = True
		    else:
			cond = False
	    <label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputImage" class="col-sm-3 col-form-label">$c.getMessage('file',self.lang)</label>
	    <label class="control-label col-sm-9">
	       <input id="inputImage" name="placeImg" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "jpeg", "png"]'>
	    </label>
	</div>
	<div class="form-group row">
	    <label for="inputFile" class="col-sm-3 col-form-label">$c.getMessage('document',self.lang)</label>
	    <label class="control-label col-sm-9">
            $ i=0
	    $if elem:
		    $for filename in elem.getDocumentList():
		        $ i=i+1
			<a href="/files/$(elem.getTypeId())?remove=$filename" class="btn btn-danger" onclick="return(YNmessage(this,'$(c.getMessage("remove",self.lang))','$filename'))">X</a> &nbsp;
			($(i)) <a href="$elem.getDocumentURL(filename)" target="_blank">$filename</a><br/>
	    <input id="inputFile" name="linkedDocs" type="file" multiple class="file file-loading">
            </label>
	</div>

	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/find/related/b_$(id)"
		$else :
		    href="/list/b"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
</form>

<script>
    function mySelectChange() {
	var select = document.getElementById("group");
	var value = select.options[select.selectedIndex].innerText.split(" -")[0];
	value = value.replace(/_/g , "");
	value = value.replace(/ /g , "");
	today = new Date();
	dd = ('0'+today.getDate()).slice(-2)
	mm = ('0'+today.getMonth()).slice(-2)
	yy = (''+today.getFullYear()).slice(-2)
	document.getElementById("inputAcronym").value = value+"_"+yy+mm+dd+"_";
    }
</script>

<script>
var mins = [];
var maxs = [];
var steps = [];
$for k,aMeasure in c.AllMeasures.elements.items():
    mins[$k]=$(aMeasure.fields['min']);
    maxs[$k]=$(aMeasure.fields['max']);
    steps[$k]='$(aMeasure.get_html_step())';

$$("#measureSelect").change(function() {
    $$("#measureSelect option:selected").each(function() {
       var v = this.value.slice(2);
       $$("#inputQty").attr({
         "max" : maxs[v],
         "min" : mins[v],
         "step" : steps[v]
       });
    });
}).change();
</script>
