$def with (connected,id1,id2, errormess)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$code:
    batch = c.AllBatches.get(id1)
    cp = c.AllCheckPoints.get(id2)
    elems = cp.get_model_sorted()
    here = batch.get_actual_position_here(c)
    here_id = None
    here_type = None
    if here:
	here_id = here.getID()
	here_type = here.get_type()
$var location: list/b=batch find/h/b_$(id1)=related control/b_$(id1)/h_$(id2)=checkpoint
$var title : $batch.getName(self.lang): $cp.getName(self.lang)
<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>
	<div class="form-group row">
	    <label class="col-sm-12 col-form-label center-block" style="font-size:18px">$:c.getAllHalfling(c.AllCheckPoints) $cp.fields['acronym'] - $cp.getName(self.lang): <span class="text-danger">$cp.fields['remark']<span></label>
	</div>

	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.getMessage('time',self.lang)</label>
	    <div class="col-sm-9 parent">
		<input name="time" type="text" class="form-control input" id="inputTime" placeholder="$c.getMessage('dateentry',self.lang)" value ="$c.get_time()">
		<script>rome.moment.locale("$(self.lang.lower())");rome(inputTime,{"inputFormat": "YYYY-MM-DD HH:mm:ss"});</script>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputObject" class="col-sm-3 col-form-label">$:c.getAllHalfling(c.AllBatches) $c.getName(c.AllBatches,self.lang) </label>
	    <div class="col-sm-9">
		<select name="batch" class="form-control" id="inputPosition">
			<option value="b_$(id1)" selected>$batch.fields['acronym'] - $batch.getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<hr id = "hrform">
	
	$code:
	    counttm = 1
	    countdm = 1
	    countvm = 1
	$for e in elems:
	    $ aMeasure = None
	    $if e.get_type() == 'tm' and " upd_t " in self.allowed:
		<div class="form-group row">
		    <input type="hidden" name="tm_id_$(counttm)" value="$e.getID()"/>
		    <label class="col-sm-12 col-form-label">$:c.getAllHalfling(c.AllTransfers) $e.getName(self.lang): <span class="text-danger">$e.fields['remark']<span></label>
		</div>
		$ seconds = e.fields['typical']
		$if seconds:
		    <div class="form-group row">
			<div class="col-xs-11"><strong>$(useful.seconds_to_string(seconds))</strong></div>
		    </div>
	
		$code:
		   usages = None
		   kusage = e.fields['gu_id']
		<div class="form-group row">
		    <label for="inputPosition" class="col-sm-3 col-form-label">$c.getMessage('target',self.lang)</label>
		    <div class="col-sm-9">
			<select name = "tm_position_$(counttm)" class="form-control" id="inputPosition">
			$:c.AllGrUsage.component_options(kusage,here_type,here_id,self.lang)
			</select>
		    </div>
		</div>
		<div class="form-group row">
		    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
		    <div class="col-sm-9">
			<textarea name="tm_remark_$(counttm)" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" ></textarea>
		    </div>
		</div>
		<hr id = "hrform">
		$code:
		    counttm += 1
	    $elif e.get_type() == 'dm' and " upd_d " in self.allowed:
		$ aMeasure = e.get_measure(c)
		<div class="form-group row">
		    <input type="hidden" name="dm_id_$(countdm)" value="$e.getID()"/>
                    <input type="hidden" name="dm_measure_$(countdm)" value="$e.fields['m_id']">
		    <label class="col-sm-12 col-form-label">$:c.getAllHalfling(c.AllManualData) $e.getName(self.lang): <span class="text-danger">$e.fields['remark']<span></label>
		</div>
		
		<div class="form-group row">
		    <label for="inputValue" class="hidden-xs col-sm-3 col-form-label">$aMeasure.getName(self.lang)</label>
		    $if 0 < aMeasure.integers_count() <= 6:
		      <div class="col-sm-9">
			$ typical = None
			$if e.fields['typical']:
			    $ typical = int(e.fields['typical'])
			$for i in aMeasure.valuesRange():
			    $ Aname, Aacronym, Acolor, Atext_color = e.getTypeAlarm(i,None)
			    $ selection = " checked" if i==typical else ""
			    <label style="background-color:#$Acolor; color:#$Atext_color;padding:8px;margin-right:8px;"><strong><big>
			    <input name="dm_value_$(countdm)" type="radio" value="$i"$(selection)>$i</big></strong></label>
                        <strong>$(aMeasure.fields['unit'])</strong>
		      </div>
		    $else:
		      <div class="col-xs-6 col-sm-7">
		        <input name="dm_value_$(countdm)" type="number" min="$(aMeasure.fields['min'])" max="$(aMeasure.fields['max'])" step="$(aMeasure.get_html_step())" class="form-control" size="15" id="inputValue" placeholder="$c.getMessage('value',self.lang)" value="$e.fields['typical']">
                      </div>
		      <div class="col-xs-3 col-sm-2">
                        <strong>$(aMeasure.fields['unit'])</strong>
		      </div>
		</div>
		<div class="form-group row">
		    <label for="inputRemark" class="hidden-xs col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
		    <div class="col-xs-12 col-sm-9">
			<textarea name="dm_remark_$(countdm)" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" ></textarea>
		    </div>
		</div>
		<hr id = "hrform">
		$code:
		    countdm += 1
	    $elif e.get_type() == 'vm' and " upd_v " in self.allowed:		
		<div class="form-group row">
		    <input type="hidden" name="vm_id_$(countvm)" value="$e.getID()"/>
		    <label class="col-sm-12 col-form-label">$:c.getAllHalfling(c.AllPourings) $e.getName(self.lang): <span class="text-danger">$e.fields['remark']<span></label>
		</div>
		$ aUsage = c.AllGrUsage.get(e.fields['gu_id'])
                $ aMeasure = None
		$if e.fields['in'] != '0':
		    <div class="form-group row">
			$ aRecipe = c.AllGrRecipe.get(e.fields['src'])
			$if aRecipe:
			    $ aMeasure = aRecipe.get_measure(c)
			<label for="b_id" class="col-sm-3 col-form-label">$c.getMessage('batch',self.lang) $c.getMessage('source',self.lang)</label>
			$if aRecipe:
				<div class="col-sm-9" id = "divsrc">
				    <select name="vm_src_$(countvm)" class="form-control" id="src">
					$for k in c.AllBatches.get_batches_for_recipe_usage([aRecipe.getID()]+aRecipe.get_submap_str(), ([aUsage.getID()]+aUsage.get_submap_str()) if aUsage else []):
					    $if not k.isComplete() and not (k.getID() == batch.getID()):
						<option value="$k.getID()"$:(" selected" if k.getTypeId()==self.pinned else '')>$k.fields['acronym'] - $k.getName(self.lang) [= $unicode(k.get_residual_quantity())] </option>
				    </select>
				</div>
		    </div>
		$else:
		    <div class="form-group row">
			<label for="b_id" class="col-sm-3 col-form-label">$c.getMessage('batch',self.lang) $c.getMessage('target',self.lang)</label>
			<div class="col-sm-9" id = "divdest">
			    <select name="vm_dest_$(countvm)" class="form-control" id="dest">
				$code:
				    possDest = []
				    aRecipe = c.AllGrRecipe.get(e.fields['dest'])
				    aRecipeFamily = []
				    if aRecipe:
					aRecipeFamily = [aRecipe.getID()]+aRecipe.get_submap_str()
				    aUsageFamily = []
				    if aUsage:
					aUsageFamily = [aUsage.getID()]+aUsage.get_submap_str()
					possDest = c.AllBatches.get_batches_for_recipe_usage(aRecipeFamily, aUsageFamily)
				    pinning = True
				    if batch:
					aMeasure = batch.get_measure(c)
					pinning = not (batch in possDest)
					if pinning and batch.fields['gr_id'] in aRecipeFamily:
					    pinning = False
				$if not pinning:
				    <optgroup label="$c.getMessage('subbatch',self.lang) [= $unicode(batch.get_residual_quantity())]">
				    $:c.AllGrUsage.component_options(e.fields['gu_id'],None,None,self.lang)
				    <optgroup label="$c.getMessage('batch',self.lang)">
				$for b in possDest:
				    $if not b.isComplete():
					$if b.getID() != batch.getID():
					    <option value="b_$b.getID()"$:(" selected" if (pinning and b.getTypeId()==self.pinned) else '')>$b.fields['acronym'] - $b.getName(self.lang) [= $unicode(b.get_residual_quantity())] </option>
			    </select>
			</div>
		    </div>		
		<div class="form-group row">
		    <label for="inputValue" class="col-xs-12 col-sm-3 col-form-label">$c.getMessage('quantity',self.lang)</label>
		    <div class="col-xs-8 col-sm-7">
			<input name="vm_quantity_$(countvm)" type="number" 
                        $if aMeasure:
                            min="$(aMeasure.fields['min'])" max="$(aMeasure.fields['max'])" step="$(aMeasure.get_html_step())"
                        class="form-control" id="inputValue" placeholder="$c.getMessage('value',self.lang)" value="$unicode(e.get_quantity())"required >
		    </div>
                    $if aMeasure:
		      <div class="col-xs-4 col-sm-2">
                        <input type="hidden" name="vm_measure_$(countvm)" value="$aMeasure.getID()">
                        <strong>$(aMeasure.fields['unit'])</strong>
		      </div>
		</div>
		
		<div class="form-group row">
		    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
		    <div class="col-sm-9">
			<textarea name="vm_remark_$(countvm)" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" ></textarea>
		    </div>
		</div>
		<hr id = "hrform">
		$code:
		    countvm += 1
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a href="/find/h/b_$(id1)" class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>

