$def with (id1,id2,mail, errormess)
$var recursive : False
$code:
    batch = c.AllBatches.elements[id1]
    cp = c.AllCheckPoints.elements[id2]
    elems = cp.get_model_sorted()
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var location: list/b=batch find/h/b_$(id1)=related control/b_$(id1)/h_$(id2)=checkpoint
$var title : $batch.getName(self.lang): $cp.getName(self.lang)
<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.getMessage('time',self.lang)</label>
	    <div class="col-sm-9">
		<input name="time" type="text" class="form-control" id="inputTime" placeholder="$c.getMessage('time',self.lang)" value ="$c.get_time()">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputObject" class="col-sm-3 col-form-label">$c.getName(c.AllBatches,self.lang) </label>
	    <div class="col-sm-9">
		<select name = "batch" class="form-control" id="inputPosition">
			<option value="b_$(id1)">$batch.fields['acronym'] - $batch.getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<hr id = "hrform">
	
	$code:
	    counttm = 1
	    countdm = 1
	    countvm = 1
	$for e in elems:
	    $if e.get_type() == 'tm':
		<div class="form-group row">
		    <input type="hidden" name="tm_id_$(counttm)" value="$e.getID()"/>
		    <label class="col-sm-12 col-form-label">$:c.getAllHalfling(c.AllTransfers) $e.getName(self.lang)</label>
		</div>
		<div class="form-group row">
		    <label for="inputPosition" class="col-sm-3 col-form-label">$c.getMessage('target',self.lang)</label>
		    <div class="col-sm-9">
			<select name = "tm_position_$(counttm)" class="form-control" id="inputPosition">
			    <optgroup label="$c.getMessage('place',self.lang)">
			    $for k,v in c.AllPieces.elements.items():
				$if v.fields['gu_id'] == e.fields['gu_id'] or v.fields['gu_id'] in c.AllGrUsage.elements[v.fields['gu_id']].children :
				    <option value="p_$k">$v.fields['acronym'] - $v.getName(self.lang) </option>
			    <optgroup label="$c.getMessage('equipment',self.lang)">
			    $for k,v in c.AllEquipments.elements.items():
				$if v.fields['gu_id'] == e.fields['gu_id'] or v.fields['gu_id'] in c.AllGrUsage.elements[v.fields['gu_id']].children :
				    <option value="e_$k" >$v.fields['acronym'] - $v.getName(self.lang)</option>
			    <optgroup label="$c.getMessage('container',self.lang)">
			    $for k,v in c.AllContainers.elements.items():
				$if v.fields['gu_id'] == e.fields['gu_id'] or v.fields['gu_id'] in c.AllGrUsage.elements[v.fields['gu_id']].children :
				    <option value="c_$k">$v.fields['acronym'] - $v.getName(self.lang)</option>
			</select>
		    </div>
		</div>
		<div class="form-group row">
		    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
		    <div class="col-sm-9">
			<textarea name="tm_remark_$(counttm)" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$e.fields['remark']</textarea>
		    </div>
		</div>
		<hr id = "hrform">
		$code:
		    counttm += 1
	    $elif e.get_type() == 'dm':
		$ aMeasure=c.AllMeasures.elements[e.fields['m_id']]
		<div class="form-group row">
		    <input type="hidden" name="dm_id_$(countdm)" value="$e.getID()"/>
		    <label class="col-sm-12 col-form-label">$:c.getAllHalfling(c.AllManualData) $e.getName(self.lang)</label>
		</div>
		
		<div class="form-group row">
		    <label for="inputValue" class="col-sm-3 col-form-label">$aMeasure.getName(self.lang)</label>
		    <div class="col-sm-3">
		        <input name="dm_value_$(countdm)" type="number" min="$(aMeasure.fields['min'])" max="$(aMeasure.fields['max'])" step="$(aMeasure.get_html_step())" class="form-control" size="15" id="inputValue" placeholder="$c.getMessage('value',self.lang)" value="$e.fields['typical']">
                    </div>
		    <div class="col-sm-3">
                        <input type="hidden" name="dm_measure_$(countdm)" value="$e.fields['m_id']">
                        <strong>$(aMeasure.fields['unit'])</strong>
		    </div>
		</div>
		<div class="form-group row">
		    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
		    <div class="col-sm-9">
			<textarea name="dm_remark_$(countdm)" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$e.fields['remark']</textarea>
		    </div>
		</div>
		<hr id = "hrform">
		$code:
		    countdm += 1
	    $elif e.get_type() == 'vm':		
		<div class="form-group row">
		    <input type="hidden" name="vm_id_$(countvm)" value="$e.getID()"/>
		    <label class="col-sm-12 col-form-label">$:c.getAllHalfling(c.AllPourings) $e.getName(self.lang)</label>
		</div>
		$if e.fields['in'] != '0':
		    <div class="form-group row">
                        $ aMeasure = None
			<label for="b_id" class="col-sm-3 col-form-label">$c.getMessage('batch',self.lang) $c.getMessage('source',self.lang)</label>
			<div class="col-sm-9" id = "divsrc">
			    <select name="vm_src_$(countvm)" class="form-control" id="src">
				$for k in c.AllBatches.elements.keys():
				    $if not (k == batch.getID()):
					<option value="$k">$c.AllBatches.elements[k].fields['acronym'] - $c.AllBatches.elements[k].getName(self.lang) [= $c.AllBatches.elements[k].get_residual_quantity()] </option>
			    </select>
			</div>
		    </div>
		$else :
		    <div class="form-group row">
                        $ aMeasure = c.AllMeasures.elements[batch.fields['m_id']]
			<label for="b_id" class="col-sm-3 col-form-label">$c.getMessage('batch',self.lang) $c.getMessage('source',self.lang)</label>
			<div class="col-sm-9" id = "divdest">
			    <select name="vm_dest_$(countvm)" class="form-control" id="dest">
				$for k in c.AllBatches.elements.keys():
				    $if not (k == batch.getID()):
					<option value="$k">$c.AllBatches.elements[k].fields['acronym'] - $c.AllBatches.elements[k].getName(self.lang) [= $c.AllBatches.elements[k].get_residual_quantity()] </option>
			    </select>
			</div>
		    </div>		
		<div class="form-group row">
		    <label for="inputValue" class="col-sm-3 col-form-label">$c.getMessage('quantity',self.lang)</label>
		    <div class="col-sm-9">
			<input name="vm_quantity_$(countvm)" type="number" 
                        $if aMeasure:
                            min="$(aMeasure.fields['min'])" max="$(aMeasure.fields['max'])" step="$(aMeasure.fields['step'])"
                        class="form-control" id="inputValue" placeholder="$c.getMessage('value',self.lang)" value="$e.fields['quantity']"required >
		    </div>
		</div>
		
		<div class="form-group row">
		    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
		    <div class="col-sm-9">
			<textarea name="vm_remark_$(countvm)" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$e.fields['remark']</textarea>
		    </div>
		</div>
		<hr id = "hrform">
		$code:
		    countvm += 1
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a href="/item/b_$(batch.getID())" class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>

