$def with (mail, type,id)
$var allowed : $c.connectedUsers.users[mail].cuser.allowed(c)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$code :
    elem = c.connectedUsers.users[mail].cuser.exportdata
    allSource = c.findAll(type)
    source = allSource.get(id)

$var recursive : False
$var location: list/$(type)=$(c.findAll(type).get_class_acronym()) exportdata/$(type)_$(id)=exportdata datatable/$(type)_$(id)=datatable
$var title : $(source.getName(self.lang))
<script>
    $$(function(){
	$$("#includedMenu$(type)_$(id)").load("/fullentry/$(type)_$(id)");
    });
</script>
<div id="includedMenu$(type)_$(id)"></div>

$if elem is not None:    
    <div class="container" style="margin-top:15px;">        
	<table class="table table-condensed" >
	    <thead>
		<tr>
		    $for e in elem.fieldnames:
			<th>$e</th>
		</tr>
	    </thead>
	    <tbody>
		$for line in elem.elements:
		    $if line['value'] != 'None' :
			<tr>
			    $for e in elem.fieldnames:
                              <td align="center">
                                $if e == 'duration':
                                    $if line['duration'] != '' :
                                        $useful.timestamp_to_time(int(line['duration']))
                                $else :
				    $line[e]
                              </td>
			</tr>
	    </tbody>
	</table>
    </div>
$else:
    -
