$def with (connected, type,id)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$if type == 'new':
    $var location: exportdata/=exportdata
    $var title : $c.getMessage('export',self.lang)
    $ id = None
$else:
    $code:
        elem = c.get_object(type,id)
    $var location: list/$(type)=$(elem.get_class_acronym()) exportdata/$(type)_$(id)=exportdata
    $var title : $elem.getName(self.lang)
<div class="container">
    <form  method="post" action="" id="exportdata"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
        <div class="form-group row">
            <label for="inputElement" class="col-sm-3 col-form-label">$c.getMessage('component',self.lang)</label>
            <div class="col-sm-9">
            <select name = "element" class="form-control" id="inputElement">
		$:c.AllGrUsage.component_options(None,type,id,self.lang)
                <optgroup label="$c.getMessage('batch',self.lang)">
                $for k,b in c.AllBatches.get_sorted().items():
		  $if b.isActive():
                    <option value="b_$(k)"
                        $if 'b' == type and k == id :
                            selected
                    >$b.fields['acronym'] - $b.getName(self.lang)</option>
                </select>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-6 col-form-label">$c.getMessage('alarm',self.lang)</label>
            <span class="glyphicon glyphicon-remove-circle"> </span>
            <label class="switch">
                <input name="alarm" type="checkbox" value="1" checked >
                <div class="slider round"></div>
            </label>
            <span class="glyphicon glyphicon-ok-circle"> </span>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-6 col-form-label">$c.getMessage('manualdata',self.lang)</label>
            <span class="glyphicon glyphicon-remove-circle"> </span>
            <label class="switch">
                <input name="manualdata" type="checkbox" value="1" checked >
                <div class="slider round"></div>
            </label>
            <span class="glyphicon glyphicon-ok-circle"> </span>
        </div>
        
        <div class="form-group row">
            <label  class="col-sm-6 col-form-label">$c.getMessage('transfer',self.lang)</label>
            <span class="glyphicon glyphicon-remove-circle"> </span>
            <label class="switch">
                <input name="transfer" type="checkbox" value="1" checked>
                <div class="slider round"></div>
            </label>
            <span class="glyphicon glyphicon-ok-circle"> </span>
        </div>
	
        <div class="form-group row">
            <label  class="col-sm-6 col-form-label">$c.getMessage('pouring',self.lang)</label>
            <span class="glyphicon glyphicon-remove-circle"> </span>
            <label class="switch">
                <input name="pouring" type="checkbox" value="1" checked>
                <div class="slider round"></div>
            </label>
            <span class="glyphicon glyphicon-ok-circle"> </span>
        </div>
        
        <div class="form-group row">
            <label  class="col-sm-6 col-form-label">$c.getMessage('valuesensor',self.lang)</label>
            <span class="glyphicon glyphicon-remove-circle"> </span>
            <label class="switch">
                <input  name="valuesensor" type="checkbox" value="1" >
                <div class="slider round"></div>
            </label>
            <span class="glyphicon glyphicon-ok-circle"> </span>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-6 col-form-label">$c.getMessage('specialvalue',self.lang)</label>
            <span class="glyphicon glyphicon-remove-circle"> </span>
            <label class="switch">
                <input  name="specialvalue" type="checkbox" value="1" checked>
                <div class="slider round"></div>
            </label>
            <span class="glyphicon glyphicon-ok-circle"> </span>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-6 col-form-label">$c.getMessage('acronym',self.lang)</label>
            <span class="glyphicon glyphicon-remove-circle"> </span>
            <label class="switch">
                <input  name="acronym" type="checkbox" value="1" checked>
                <div class="slider round"></div>
            </label>
            <span class="glyphicon glyphicon-ok-circle"> </span>
        </div>

        <div class="form-group row">
            <div class="col-sm-1">
            </div>
            
            <div class="col-sm-2">
                $if type != 'new':
                    <a href="/find/related/$(type)_$(id)" class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
                $else:
                    <a href="/" class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
            </div>
            
            <div class="col-sm-2">
            </div>
            
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-block" name = "download" value ="1">Download</button>
            </div> 
            
            <div class="col-sm-2">
            </div>
            
            <div class="col-sm-2">
                <button href="/" type="submit" class="btn btn-primary btn-block"name = "web" value ="1">On Web</button>
            </div>
            
            <div class="col-sm-1">
            </div>
        </div>
    </form>
</div>
