$def with (type,id,mail,barcode='')
$code:
    allobjects = c.findAllFromType(type)
    elem = allobjects.elements[id]
    keyID = c.findAllFromObject(elem).keyColumn    
$var allowed : $c.connectedUsers.users[mail].cuser.allowed(c)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var recursive : False
$var location: list/$(type)=$(c.findAllFromType(type).get_class_acronym()) find/related/$(type)_$(id)=related
$var title: $elem.getName(self.lang)
<script>
    $$(function(){
        $$("#includedAllMenu$(type)_$(id)").load("/fullentry/$(type)_*$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>

$if elem.fields['a_id'] and elem.fields['a_id'] in c.AllAlarms.elements:
  $ alarm = c.AllAlarms.elements[elem.fields['a_id']]
	<script>
	    $$(function(){
	        $$("#includedAllMenua_$(alarm.getID())").load("/fullentry/a_*$(alarm.getID())");
	    });
	</script>
	<div id="includedAllMenua_$(alarm.getID())"></div>

$ source = elem.get_source(c)
$if source and source.get_type() not in 'dtv':
	<script>
	    $$(function(){
	        $$("#includedAllMenu$(source.get_type())_$(source.getID())").load("/fullentry/$(source.get_type())_*$(source.getID())");
	    });
	</script>
	<div id="includedAllMenu$(source.get_type())_$(source.getID())"></div>

$ compo = elem.get_component(c)
$if compo:
	<script>
	    $$(function(){
	        $$("#includedAllMenu$(compo.get_type())_$(compo.getID())").load("/fullentry/$(compo.get_type())_*$(compo.getID())");
	    });
	</script>
	<div id="includedAllMenu$(compo.get_type())_$(compo.getID())"></div>

  
$if barcode > '':
	<div class="row">
	    <svg id='barcode'></svg>
	</div>
	<div class="form-group row" id="error2">
	        $c.getMessage('barcoderules',self.lang) [$(barcode)]
	</div>
	<script>
	if (generateBarcode('#barcode', $barcode)) {
	        jQuery('div#error2').css('display', 'none')
	    }
	</script>
