$def with (connected,type,id,barcode='')
$code:
    allobjects = c.findAll(type)
    elem = allobjects.get(id)
    subtype = elem.isModeling()
    allModeled = c.findAll(subtype) if subtype else None
$var allowed : $(connected.cuser.allowed(c))
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var location: list/$(type)=$(c.findAll(type).get_class_acronym()) find/related/$(type)_$(id)=related
$var title: $elem.getName(self.lang)
<script>
    $$(function(){
        $$("#includedAllMenu$(type)_$(id)").load("/fullentry/$(type)_*$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>
    
$ aTransfer = elem.get_last_transfer(c)    
$if aTransfer:
        $ key=aTransfer.fields['cont_type']+"_"+aTransfer.fields['cont_id']
	    <div class="row active" style ="margin-top:10px;margin-bottom:10px;background-color:#E5E5E7;padding:15px;" >
		<label class="col-sm-12">$c.getMessage('actualposition',self.lang) :</label>   
		<script>
	            $$(function(){
	                $$("#includedT$(key)").load("/fullentry/$(key)");
	            });
		</script>
		<div id="includedT$(key)"></div>
	    </div>
$ toCheck =[[type,id]]
$if type == 'p' :
    <div class="row active" style ="margin-top:10px;margin-bottom:10px;background-color:#E5E5E7;padding:15px;" >
	<label class="col-sm-12">$c.getMessage('equipment',self.lang) :</label>
	$for k in c.AllEquipments.get_sorted_hierarchy():
	    $ equipment = c.AllEquipments.get(k)
	    $if equipment and equipment.isActive() and equipment.is_actual_position(toCheck[0][0],id,c) :
		$code:
		    toCheck.append(['e',k])
		<script>
		$$(function(){
		    $$("#includedE_$(k)").load("/fullentry/e_$(k)");
		});
		</script>
		<div id="includedE_$(k)"></div>
    </div>
$if type in 'pe':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('container',self.lang) :</label>    
	$for k in c.AllContainers.get_sorted_hierarchy():
	    $ container = c.AllContainers.get(k)
	    $if container and container.isActive() and container.is_actual_position(toCheck[0][0],id,c) :
		$code:
		    toCheck.append(['c',k])
		<script>
		$$(function(){
		    $$("#includedC_$(k)").load("/fullentry/c_$(k)");
		});
		</script>
		<div id="includedC_$(k)"></div>
    </div>
$if type == 'a':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('gfunction',self.lang) :</label>    

    $for gr in c.AllGrFunction.sort_hierarchy(elem.get_user_groups()):
                <script>
                    $$(function(){
                        $$("#includedgf_$(gr)").load("/fullentry/gf_$(gr)");
                    });
                </script>
                <div id="includedgf_$(gr)"></div>
    </div>

$if type in 'ampec':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('sensor',self.lang) :</label>    

    $for k in c.AllSensors.get_sorted_hierarchy():
	$ sensor = c.AllSensors.get(k)
	$if sensor:
	        $if (type=='a'):
	            $ OK = (type=='a') and ( (sensor.fields['a_min'] == id) or (sensor.fields['a_minmin'] == id) or (sensor.fields['a_max'] == id) or (sensor.fields['a_maxmax'] == id) or (sensor.fields['a_typical'] == id) )
	        $else:
	            $ OK = sensor.fields[type+'_id'] == id
	$else:
		$ OK = False
        $if OK:
                <script>
                    $$(function(){
                        $$("#includedS_$(k)").load("/fullentry/s_$(k)");
                    });
                </script>
                <div id="includedS_$(k)"></div>
    </div>
$if type in 'amh':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('manualdatamodel',self.lang) :</label>    

    $for k in c.AllManualDataModels.get_sorted_hierarchy():
	$ dataModel = c.AllManualDataModels.get(k)
	$if dataModel:
	        $if (type=='a'):
	            $ OK = (type=='a') and ( (dataModel.fields['a_min'] == id) or (dataModel.fields['a_minmin'] == id) or (dataModel.fields['a_max'] == id) or (dataModel.fields['a_maxmax'] == id) or (dataModel.fields['a_typical'] == id) )
	        $else:
	            $ OK = dataModel.fields[type+'_id'] == id
	$else:
		$ OK = False
        $if OK:
                <script>
                    $$(function(){
                        $$("#includedDM_$(k)").load("/fullentry/dm_$(k)");
                    });
                </script>
                <div id="includedDM_$(k)"></div>
    </div>

    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('pouringmodel',self.lang) :</label>    

    $for k in c.AllPouringModels.get_sorted_hierarchy():
	$ pouringModel = c.AllPouringModels.get(k)
	$if pouringModel:
	        $if (type=='a'):
	            $ OK = (type=='a') and ( (pouringModel.fields['a_min'] == id) or (pouringModel.fields['a_minmin'] == id) or (pouringModel.fields['a_max'] == id) or (pouringModel.fields['a_maxmax'] == id) or (pouringModel.fields['a_typical'] == id) )
	        $else:
	            $ OK = pouringModel.fields[type+'_id'] == id
	$else:
		$ OK = False
        $if OK:
                <script>
                    $$(function(){
                        $$("#includedVM_$(k)").load("/fullentry/vm_$(k)");
                    });
                </script>
                <div id="includedVM_$(k)"></div>
    </div>

    $for k in c.AllTransferModels.get_sorted_hierarchy():
	$ transferModel = c.AllTransferModels.get(k)
	$if transferModel:
	        $if (type=='a'):
	            $ OK = (type=='a') and ( (transferModel.fields['a_min'] == id) or (transferModel.fields['a_minmin'] == id) or (transferModel.fields['a_max'] == id) or (transferModel.fields['a_maxmax'] == id) or (transferModel.fields['a_typical'] == id) )
	        $else:
	            $ OK = transferModel.fields[type+'_id'] == id
	$else:
		$ OK = False
        $if OK:
                <script>
                    $$(function(){
                        $$("#includedTM_$(k)").load("/fullentry/tm_$(k)");
                    });
                </script>
                <div id="includedTM_$(k)"></div>
    </div>

$if (' '+type+' ') in ' s dm ':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('alarm',self.lang) :</label>    

    $for k in c.AllAlarms.get_sorted_hierarchy():
        $if (elem.fields['a_min'] == k) or (elem.fields['a_minmin'] == k) or (elem.fields['a_max'] == k) or (elem.fields['a_maxmax'] == k) or (elem.fields['a_typical'] == k):
                <script>
                    $$(function(){
                        $$("#includedA_$(k)").load("/fullentry/a_$(k)");
                    });
                </script>
                <div id="includedA_$(k)"></div>
    </div>

$if type == 'u':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('batch',self.lang) :</label>    

    $for batch in elem.get_batches(c):
        $if not batch.isComplete():
                <script>
                    $$(function(){
                        $$("#includedB_$(batch.getID())").load("/fullentry/b_$(batch.getID())");
                    });
                </script>
                <div id="includedB_$(batch.getID())"></div>
    </div>

$if type in 'pec':
	<div class="row active"style = "background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	    <label class="col-sm-12">$c.getMessage('batch',self.lang) :</label>
	    $for k in c.AllBatches.get_sorted_hierarchy():
		$ batch = c.AllBatches.get(k)
		$if batch and batch.isActive() and not batch.isComplete():
		        $for t, i in toCheck:
		            $if batch.is_actual_position(t, i, c) is True:
		                <script>
		                    $$(function(){
		                        $$("#includedB_$(k)").load("/fullentry/b_$(k)");
		                    });
				</script>
				<div id="includedB_$(k)"></div>
	</div>
$if subtype:
	<div class="row active" style = "background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	    <label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>
	    $for k in c.AllCheckPoints.get_sorted_hierarchy():
		$ checkpoint = c.AllCheckPoints.get(k)
		$if checkpoint:
		        $for t, i in toCheck:
		            $if checkpoint.owns(t, i) is True:
		                <script>
		                    $$(function(){
		                        $$("#includedCK_$(k)").load("/fullentry/h_$(k)");
		                    });
				</script>
				<div id="includedCK_$(k)"></div>
	</div>

    <div class="row active" style ="background-color:#E5E5E7;margin-top:0px;margin-bottom:10px;padding:15px;">
    $ biglist = allModeled.get_sorted_hierarchy()
    <label class="col-sm-12">$c.getMessage(allModeled.get_class_acronym(),self.lang) :</label>
    $ j=30
    $for k in biglist:
	$ data = allModeled.get(k)
	$if data and data.isActive() and data.getID() == id :
            <script>
	        $$(function(){
	            $$("#included$(subtype)_$(k)").load("/fullentry/$(subtype)_$(k)");
	        });
	    </script>
	    <div id="included$(subtype)_$(k)"></div>
	    $ j -= 1
            $if j <= 0:
		<div class="row active">... <strong>$len(biglist)</strong> $c.getMessage(allModeled.get_class_acronym(),self.lang)</div>
		$break
    </div>

$if type == 'b':
	$code:
	    recipes = set()
	    recipe_id = elem.fields['gr_id']
	    recipe = c.AllGrRecipe.get(recipe_id)
	    if recipe:
	        recipes.add(recipe_id)
	        new_recipes = recipe.get_all_parents([],c.AllGrRecipe)
	        recipes.update(new_recipes)
	    allowedcheckpoints = None
	    usages = set()
	    usage = None
	    components = elem.get_actual_position_hierarchy(c,[])
	    if len(components) > 0:
		    for place in components:
			if place.get_type() in 'pec':
			        gr_usage = place.get_group()
				usage = c.AllGrUsage.get(gr_usage)
			        if usage:
			            usages.add(gr_usage)
			            new_usages = usage.get_all_parents([],c.AllGrUsage)
				    usages.update(new_usages)
		    allowedcheckpoints = c.AllCheckPoints.get_checkpoints_for_recipe_usage(recipes,usages)
	    if recipe and len(usages) == 0:
		gr_usage = recipe.fields['gu_id']
		usage = c.AllGrUsage.get(gr_usage)

	$if elem.fields['provider_id']:
	    <div class="row active" style ="background-color:#E5E5E7;margin-top:0px;margin-bottom:10px;padding:15px;">
		$if elem.fields['provider_ref']:
		    <label class="col-sm-12">$c.getMessage('provider_ref',self.lang) : $(elem.fields['provider_ref'])</label>
		$else:
		    <label class="col-sm-12">$c.getMessage('provider',self.lang) :</label>
		<script>
	        $$(function(){
		    $$("#includedAllMenuup_$(elem.fields['provider_id'])").load("/fullentry/u_$(elem.fields['provider_id'])");
	        });
	        </script>
	        <div id="includedAllMenuup_$(elem.fields['provider_id'])"></div>
	    </div>

	$if elem.fields['buyer_id']:
	    <div class="row active" style ="background-color:#E5E5E7;margin-top:0px;margin-bottom:10px;padding:15px;">
		$if elem.fields['buyer_ref']:
		    <label class="col-sm-12">$c.getMessage('buyer_ref',self.lang) : $(elem.fields['buyer_ref'])</label>
		$else:
		    <label class="col-sm-12">$c.getMessage('buyer',self.lang) :</label>
	        <script>
	        $$(function(){
		    $$("#includedAllMenuub_$(elem.fields['buyer_id'])").load("/fullentry/u_$(elem.fields['buyer_id'])");
	        });
	        </script>
	        <div id="includedAllMenuub_$(elem.fields['buyer_id'])"></div>
	    </div>
	<div class="row active" style ="background-color:#E5E5E7;margin-top:0px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>
	$for i in c.AllCheckPoints.sort_hierarchy(elem.checkpoints):
	        <script>
	        $$(function(){
		    $$("#includedAllMenuh_$(i)").load("/fullentry/h_$(i)");
	        });
	        </script>
	        <div id="includedAllMenuh_$(i)"></div>
	    
	$if len(usages) > 0:
	    $ add_allowed = (" upd_d " in self.allowed) or (" upd_t " in self.allowed) or (" upd_v " in self.allowed)
	    <div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:0px;margin-bottom:10px">
	    <form  method="post" action="" enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
		<input type="hidden" name="batch" value="$id">
		<div class="row active">
		    <div class="col-sm-2">
		    <strong><a href="/map/$(type)_$id" class="btn btn-warning" role="button">$:(c.getHalfling('datatable'))</a></strong>
		    &nbsp; &nbsp;
		    <button type="button" class="btn btn-warning btn-md map$(type)_$id" data-toggle="modal" data-target="#mapmodal">$:(c.getHalfling('schema'))</button>
		    </div>
		    <div class="col-sm-4">
		    $if allowedcheckpoints and add_allowed:
			<select name="checkpoint" class="form-control" id="inputPosition">
			$for v in allowedcheckpoints:
			    <option value="$v.getID()">
			    $if v.getID() in elem.checkpoints :
				*
			    $v.fields['acronym'] - $v.getName(self.lang) </option>
			</select>
		    </div>
		    <div class="col-sm-6">
		    $if allowedcheckpoints and add_allowed:
			<button type="submit" class="btn btn-primary btn-block">$c.getMessage('add',self.lang) $c.getMessage('checkpoint',self.lang)</button>
		    </div>
		</div>
	    </form>
	    </div>
	$else:
	    <div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
		  $if ( " upd_t " ) in self.allowed:
			<a href="/create/t/b_$id" class="btn btn-warning" role="button"><strong>$:(c.getHalfling('transfer')) $:(c.getAllHalfling(c.AllGrUsage))</strong>
		  	$if usage:
			    $usage.fields['acronym'] - <strong>$usage.getName(self.lang)</strong>
			</a></strong>
		</div>
	    </div>
        </div>
        <div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;">
	<form  method="post" action="/clone/$(type)_$id" enctype="multipart/form-data">
	    <div class="form-group row">
		<label for="inputQty" class="col-sm-2 col-form-label">$:(c.getHalfling('batch'))$elem.fields['acronym']</label>
		<div class="col-sm-2">
		    <input name="quantity" type="number" min="1" step="1" class="form-control" id="inputQty" placeholder="$c.getMessage('quantity',self.lang)" >
		</div>	    
		<div class="col-sm-2">
		    <button type="submit" class="btn btn-primary btn-block">$c.getMessage('duplicate',self.lang) $c.getMessage('batch',self.lang)</button>
		</div> 
	    </div>
	</form>
        </div>


$if barcode > '':
	<div class="row">
	    <svg id='barcode'></svg>
	</div>
	<div class="form-group row" id="error2">
	        $c.getMessage('barcoderules',self.lang) [$(barcode)]
	</div>
	<script>
	if (generateBarcode('#barcode', $barcode)) {
	        jQuery('div#error2').css('display', 'none')
	    }
	</script>
