$def with (type,id,mail,barcode='')
$code:
    allobjects = c.findAllFromType(type)
    elem = allobjects.elements[id]
    keyID = c.findAllFromObject(elem).keyColumn    
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var recursive : False
$var location: list/$(type)=$(c.findAllFromType(type).get_class_acronym()) find/related/$(type)_$(id)=related
$var title: $elem.getName(self.lang)
<script>
    $$(function(){
        $$("#includedAllMenu$(type)_$(id)").load("/fullentry/$(type)_*$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>
    
$code:
    t = elem.get_last_transfer()    
	
$if t is not None :
    $code:
        pos = c.findAllFromType(c.AllTransfers.elements[t].fields['cont_type'])
        p = pos.elements[c.AllTransfers.elements[t].fields['cont_id']]
    <div class="row active" style ="margin-top:10px;margin-bottom:10px;background-color:#E5E5E7;padding:15px;" >
	<label class="col-sm-12">$c.getMessage('actualposition',self.lang) :</label>   
	<script>
            $$(function(){
                $$("#includedT$(c.AllTransfers.elements[t].fields['cont_type'])_$(c.AllTransfers.elements[t].fields['cont_id'])").load("/fullentry/$(c.AllTransfers.elements[t].fields['cont_type'])_$(c.AllTransfers.elements[t].fields['cont_id'])");
            });
	</script>
	<div id="includedT$(c.AllTransfers.elements[t].fields['cont_type'])_$(c.AllTransfers.elements[t].fields['cont_id'])"></div>
    </div>
    

$code:
    toCheck =[[type,id]]
$if type in 'p' :
    <div class="row active" style ="margin-top:10px;margin-bottom:10px;background-color:#E5E5E7;padding:15px;" >
	<label class="col-sm-12">$c.getMessage('equipment',self.lang) :</label>
	$for k,equipment in c.AllEquipments.elements.items():
	    $if equipment.is_actual_position(toCheck[0][0],id,c) :
		$code
		    toCheck.append(['e',k])
		<script>
		$$(function(){
		    $$("#includedE_$(k)").load("/fullentry/e_$(k)");
		});
		</script>
		<div id="includedE_$(k)"></div>
    </div>
$if type in 'pe':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('container',self.lang) :</label>    
	$for k,container in c.AllContainers.elements.items():
	    $if container.is_actual_position(toCheck[0][0],id,c) :
		$code
		    toCheck.append(['c',k])
		<script>
		$$(function(){
		    $$("#includedC_$(k)").load("/fullentry/c_$(k)");
		});
		</script>
		<div id="includedC_$(k)"></div>
    </div>
$if type in 'ampec':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('sensor',self.lang) :</label>    

    $for k,sensor in c.AllSensors.elements.items():
        $if (type=='a'):
            $ OK = (type=='a') and ( (sensor.fields['a_min'] == id) or (sensor.fields['a_minmin'] == id) or (sensor.fields['a_max'] == id) or (sensor.fields['a_maxmax'] == id) or (sensor.fields['a_typical'] == id) )
        $else:
            $ OK = sensor.fields[type+'_id'] == id
        $if OK:
                <script>
                    $$(function(){
                        $$("#includedS_$(k)").load("/fullentry/s_$(k)");
                    });
                </script>
                <div id="includedS_$(k)"></div>
    </div>
$if type in 'amh':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('manualdatamodel',self.lang) :</label>    

    $for k,dataModel in c.AllManualDataModels.elements.items():
        $if (type=='a'):
            $ OK = (type=='a') and ( (dataModel.fields['a_min'] == id) or (dataModel.fields['a_minmin'] == id) or (dataModel.fields['a_max'] == id) or (dataModel.fields['a_maxmax'] == id) or (dataModel.fields['a_typical'] == id) )
        $else:
            $ OK = dataModel.fields[type+'_id'] == id
        $if OK:
                <script>
                    $$(function(){
                        $$("#includedDM_$(k)").load("/fullentry/dm_$(k)");
                    });
                </script>
                <div id="includedDM_$(k)"></div>
    </div>

$if type in 'sdm':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('alarm',self.lang) :</label>    

    $for k,alarm in c.AllAlarms.elements.items():
        $if (elem.fields['a_min'] == k) or (elem.fields['a_minmin'] == k) or (elem.fields['a_max'] == k) or (elem.fields['a_maxmax'] == k) or (elem.fields['a_typical'] == k):
                <script>
                    $$(function(){
                        $$("#includedA_$(k)").load("/fullentry/a_$(k)");
                    });
                </script>
                <div id="includedA_$(k)"></div>
    </div>


$if type in 'pec':
	<div class="row active"style = "background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	    <label class="col-sm-12">$c.getMessage('batch',self.lang) :</label>
	    $for k,batch in c.AllBatches.elements.items():
	        $for t, i in toCheck:
	            $if batch.is_actual_position(t, i, c) is True:
	                <script>
	                    $$(function(){
	                        $$("#includedB_$(k)").load("/fullentry/b_$(k)");
	                    });
			</script>
			<div id="includedB_$(k)"></div>
	</div>
$if (type+' ') in 'dm tm vm ':
	<div class="row active"style = "background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	    <label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>
	    $for k,checkpoint in c.AllCheckPoints.elements.items():
	        $for t, i in toCheck:
	            $if checkpoint.owns(t, i) is True:
	                <script>
	                    $$(function(){
	                        $$("#includedCK_$(k)").load("/fullentry/h_$(k)");
	                    });
			</script>
			<div id="includedCK_$(k)"></div>
	</div>

$if type in 'b':
	$code:
	    recipes = set()
	    recipe_id = elem.fields['gr_id']
	    recipe = None
	    if recipe_id and recipe_id in c.AllGrRecipe.elements:
	        recipes.add(recipe_id)
	        recipe = c.AllGrRecipe.elements[recipe_id]
	        new_recipes = set(recipe.get_all_parents([],None))
	        recipes = recipes | new_recipes
	    allowedcheckpoints = None
	    usages = set()
	    usage = None
	    components = elem.get_actual_position_hierarchy(c,[])
	    if len(components) > 0:
		    for place in components:
			if place.get_type() in 'pec':
			        gr_usage = place.get_group()
			        if gr_usage and gr_usage in c.AllGrUsage.elements:
			            usages.add(gr_usage)
				    usage = c.AllGrUsage.elements[gr_usage]
			            new_usages = set(usage.get_all_parents([],None))
				    usages = usages | new_usages
		    allowedcheckpoints = c.AllCheckPoints.get_checkpoints_for_recipe_usage(recipes,usages)
	    if recipe and len(usages) == 0:
		gr_usage = recipe.fields['gu_id']
	        if gr_usage and gr_usage in c.AllGrUsage.elements:
		    usage = c.AllGrUsage.elements[gr_usage]

	<div class="row active">
	    <label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>
	</div>	
	$for i in elem.checkpoints:
	        <script>
	        $$(function(){
		    $$("#includedAllMenuh_$(i)").load("/fullentry/h_$(i)");
	        });
	        </script>
	        <div id="includedAllMenuh_$(i)"></div>
	    
	<div style="margin:15px;">
	</div>    
	 
	$if len(usages) > 0:
	  <div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	    <form  method="post" action="" enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
		<input type="hidden" name="batch" value="$id">
		<div class="row active">
		    <div class="col-sm-2">
		    </div>
		    <div class="col-sm-4">
		    $if allowedcheckpoints:
			<select name = "checkpoint" class="form-control" id="inputPosition">
			$for v in allowedcheckpoints:
			    <option value="$v.getID()">
			    $if v.getID() in elem.checkpoints :
				*
			    $v.fields['acronym'] - $v.getName(self.lang) </option>
			</select>
		    </div>
		    <div class="col-sm-6">
		    $if allowedcheckpoints:
			<button type="submit" class="btn btn-primary btn-block">$c.getMessage('add',self.lang) $c.getMessage('checkpoint',self.lang)</button>
		    <strong><a href="/map/$(type)_$id" class="btn btn-warning" role="button">$:(c.getHalfling('datatable'))</a></strong>
		    <button type="button" class="btn btn-warning btn-md map" data-toggle="modal" data-target="#mapmodal">$:(c.getHalfling('schema'))</button>
		    </div>
		</div>
	    </form>
	  </div>
	$else:
	    <div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4">
			<a href="/create/t/b_$id" class="btn btn-warning" role="button"><strong>$:(c.getHalfling('transfer')) $:(c.getAllHalfling(c.AllGrUsage))</strong>
			$if usage:
			    $usage.fields['acronym'] - <strong>$usage.getName(self.lang)</strong>
			</a></strong>
		</div>
	    </div>

	<script>
		$$('.map').on("click",function(e){
		    $$('#modal_map').modal('hide');
		    $$("#modal_map").find(".modal-dialog").load("/graph/$(type)_$(id)");
		    $$("#modal_map").modal('show');
		});
	</script>
	
	<div class="modal" id="modal_map" style="color:back;">
	    <div class="modal-dialog">
	    </div>
	</div>

$if barcode > '':
	<div class="row">
	    <svg id='barcode'></svg>
	</div>
	<div class="form-group row" id="error2">
	        $c.getMessage('barcoderules',self.lang) [$(barcode)]
	</div>
	<script>
	if (generateBarcode('#barcode', $barcode)) {
	        jQuery('div#error2').css('display', 'none')
	    }
	</script>
