$def with (id,mail,barcode='')
$var recursive : False
$code:
    permissionKey = 'm_'
    elem = c.AllMeasures.get(id)
    keyID = c.AllMeasures.keyColumn
$var allowed : $c.connectedUsers.users[mail].cuser.allowed(c)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var location: list/m=$(c.findAll('m').get_class_acronym()) find/d/m_$(id)=manualdata
$var title : $elem.getName(self.lang)

<script>
    $$(function(){
	$$("#includedAllMenum_$(id)").load("/fullentry/m_*$(id)");
    });
</script>
<div id="includedAllMenum_$(id)"></div>


<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <label class="col-sm-12">$c.getMessage('sensor',self.lang) :</label>    
    $for k,sensor in c.AllSensors.elements.items():
	$if sensor.fields['m_id'] == id :
	    <script>
		$$(function(){
		    $$("#includedMenus_$(k)").load("/fullentry/s_$(k)");
		});
	    </script>
	    <div id="includedMenus_$(k)"></div>
</div>

    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('manualdatamodel',self.lang) :</label>    

    $for k,dataModel in c.AllManualDataModels.elements.items():
        $if dataModel.fields['m_id'] == id:
                <script>
                    $$(function(){
                        $$("#includedDM_$(k)").load("/fullentry/dm_$(k)");
                    });
                </script>
                <div id="includedDM_$(k)"></div>
    </div>

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:0px;padding:15px;">
    <label class="col-sm-12">$:c.getAllHalfling(c.AllManualData) $c.getMessage('manualdata',self.lang) </label>    
</div>
<div class="row active" style ="background-color:#E5E5E7;margin-top:0px;margin-bottom:0px;padding:15px;">
    <label class="col-sm-3">$c.getMessage('time',self.lang)</label>
    <label class="col-sm-2">$c.getMessage('checkpoint',self.lang)</label>
    <label class="col-sm-3">$c.getMessage('measure',self.lang)</label>
    <label class="col-sm-3">$c.getMessage('remark',self.lang)</label>
</div>
<div class="row active" style ="background-color:#E5E5E7;margin-top:0px;margin-bottom:10px;padding:15px;">
    $for k,data in c.AllManualData.elements.items():
	$if data.fields['m_id'] == id :
	    <div class="row active" style="color:#f07e26;">
		<div class="col-xs-3" >
		    $data.fields['time']
		</div>	    
		<div class="col-xs-2" >
		    $if data.fields['h_id'] != '' :
		        <a href="/find/related/h_$(data.fields['h_id'])">$:c.getAllHalfling(c.AllCheckPoints) $c.AllCheckPoints.get(data.fields['h_id']).fields['acronym']</a>
		</div>
		<div class="col-xs-3" >
			<strong>$data.fields['value']</strong>  $elem.fields['unit']</a>
		</div>
		<div class="col-xs-3" >
		    $data.fields['remark']
		</div>
		$if ( " upd_d " ) in self.allowed:
		  <div class="col-xs-1">
		    <strong><a href="/edit/d_$k" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-edit"></span></a></strong>
		  </div>
	    </div>
</div>
$if barcode > '':
	<div class="row">
	    <svg id='barcode'></svg>
	</div>
	<div class="form-group row" id="error2">
	        $c.getMessage('barcoderules',self.lang) [$(barcode)]
	</div>
	<script>
	if (generateBarcode('#barcode', $barcode)) {
	        jQuery('div#error2').css('display', 'none')
	    }
	</script>
