$def with (connected, type, id)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$code:
    allobjects = c.findAll(type)
    elem = allobjects.get(id)
    keyID = allobjects.keyColumn
    allowedcheckpoints, recipes, usages = elem.get_allowed_checkpoints(c)
$var recursive : False
$var title: $c.getName(allobjects,self.lang)
$var bcTop:
$var bcElem:$(type)_$id
$var bcOwner:
$var bcOperation:find

<script>
    $$(function(){
	$$("#includedAllMenu$(type)_$(id)").load("/fullentry/$(type)_*$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>


<div class="row active">
    <label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>
</div>

$for i in elem.checkpoints:
        <script>
        $$(function(){
	    $$("#includedAllMenuh_$(i)").load("/fullentry/h_$(i)");
        });
        </script>
        <div id="includedAllMenuh_$(i)"></div>
    
<div style="margin:15px;">
</div>    

$ add_allowed = (" upd_d " in self.allowed) or (" upd_t " in self.allowed) or (" upd_v " in self.allowed)
<div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <form  method="post" action=""  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="row active">
	    <div class="col-sm-2">
	    </div>
	    $if add_allowed:
		    <div class="col-sm-4">
			<input type="hidden" name="batch" value="$id">
			<select name="checkpoint" class="form-control" id="inputPosition">
			$for v in allowedcheckpoints:
			    <option value="$v.getID()"$:(" selected" if v.getTypeId()==connected.how else '')>
			    $if v.getID() in elem.checkpoints :
				*
			    $v.fields['acronym'] - $v.getName(self.lang) </option>
			</select>
		    </div>
	    <div class="col-sm-6">
		$if add_allowed:
			<button type="submit" class="btn btn-primary btn-block">$c.getMessage('add',self.lang) $c.getMessage('checkpoint',self.lang)</button>
                <strong><a href="/map/$(type)_$id" class="btn btn-warning" role="button">$:(c.getHalfling('datatable'))</a></strong>
		<button type="button" class="btn btn-warning btn-md map" data-toggle="modal" data-target="#mapmodal">$:(c.getHalfling('schema'))</button>
	    </div>
	</div>
    </form>
</div>

<script>
	$$('.map').on("click",function(e){
	    $$('#modal_map').modal('hide');
	    $$("#modal_map").find(".modal-dialog").load("/graph/$(type)_$(id)");
	    $$("#modal_map").modal('show');
	});
</script>

<div class="modal" id="modal_map" style="color:back;">
    <div class="modal-dialog">
    </div>
</div>
