$def with (type,id,mail,barcode='')
$var recursive : False
$var title : ELSA
$code:
    allobjects = c.findAllFromType(type)
    elem = allobjects.elements[id]
    keyID = allobjects.keyColumn
    
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var location: list/$(type)=$(elem.get_class_acronym()) find/related/$(type)_$(id)=related
$var title : $(elem.getName(self.lang))

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
    <label class="col-sm-12">$c.getMessage('parent',self.lang) :</label>    
    $for k in elem.parents:
	<script>
	    $$(function(){
		$$("#includedMenuparents_$(k)").load("/fullentry/$(type)_$(k)");
	    });
	</script>
	<div id="includedMenuparents_$(k)"></div>
</div>

<script>
    $$(function(){
	$$("#includedAllMenug_$(id)").load("/fullentry/$(type)_*$(id)");
    });
</script>
<div id="includedAllMenug_$(id)"></div>

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
    <label class="col-sm-12">$c.getMessage('child',self.lang) :</label>    
    $for k in elem.children:
	<script>
	    $$(function(){
		$$("#includedMenuchildren_$(k)").load("/fullentry/$(type)_$(k)");
	    });
	</script>
	<div id="includedMenuchildren_$(k)"></div>
</div>


$if type == 'gf':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('user',self.lang) :</label>    
	$for k,user in c.AllUsers.elements.items():
	    $if user.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenuu_$(k)").load("/fullentry/u_$(k)");
		    });
		</script>
		<div id="includedMenuu_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/u/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('user',self.lang)</a>
	</div>
    </div> 
$elif type == 'h':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('manualdatamodel',self.lang) :</label>    
	$for k in elem.dm:
		<script>
		    $$(function(){
			$$("#includedMenudm_$(k)").load("/fullentry/dm_$(k)");
		    });
		</script>
		<div id="includedMenudm_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/dm/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('manualdatamodel',self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('transfermodel',self.lang) :</label>    
	$for k in elem.tm:
		<script>
		    $$(function(){
			$$("#includedMenutm_$(k)").load("/fullentry/tm_$(k)");
		    });
		</script>
		<div id="includedMenutm_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/tm/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('transfermodel',self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('pouringmodel',self.lang) :</label>    
	$for k in elem.vm:
		<script>
		    $$(function(){
			$$("#includedMenuvm_$(k)").load("/fullentry/vm_$(k)");
		    });
		</script>
		<div id="includedMenuvm_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/vm/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('pouringmodel',self.lang)</a>
	</div>
    </div> 
    $code:
	    recipes = set()
	    recipe_id = elem.fields['gr_id']
	    if recipe_id and recipe_id in c.AllGrRecipe.elements:
	        recipes.add(recipe_id)
	        recipe = c.AllGrRecipe.elements[recipe_id]
	        new_recipes = set(recipe.get_all_parents([],None))
	        recipes = recipes | new_recipes
	    usages = set()
	    gr_usage = elem.fields['gu_id']
	    if gr_usage and gr_usage in c.AllGrUsage.elements:
		usages.add(gr_usage)
		usage = c.AllGrUsage.elements[gr_usage]
		new_usages = set(usage.get_all_parents([],None))
		usages = usages | new_usages
	    allowedbatches = c.AllBatches.get_batches_for_recipe_usage(recipes,usages)

    	<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	    <label class="col-sm-12">$c.getMessage('batch',self.lang) :</label>
	    $for i in elem.batches:
	        <script>
	        $$(function(){
		    $$("#includedAllMenub_$(i)").load("/fullentry/b_$(i)");
	        });
	        </script>
	        <div id="includedAllMenub_$(i)"></div>
        </div>
	 
        <form method="post" action="" class="row active" enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
		<div class="col-sm-9">
	        	<input type="hidden" name="checkpoint" value="$id">
			<select name = "batch" class="form-control">
			$for v in allowedbatches:
			    <option value="$v.getID()">
			    $if v.getID() in elem.batches :
				*
			    $v.fields['acronym'] - $v.getName(self.lang) </option>
			</select>
                </div>
		<div class="col-sm-3">
			<button type="submit" class="btn btn-primary">$c.getMessage('add',self.lang) $c.getMessage('checkpoint',self.lang)</button>
                </div>
	</form>

$elif type == 'gu':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('place',self.lang) :</label>    
	$for k,p in c.AllPlaces.elements.items():
	    $if p.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenup_$(k)").load("/fullentry/p_$(k)");
		    });
		</script>
		<div id="includedMenup_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/p/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('place',self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('equipment',self.lang) :</label>    
	$for k,e in c.AllEquipments.elements.items():
	    $if e.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenue_$(k)").load("/fullentry/e_$(k)");
		    });
		</script>
		<div id="includedMenue_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/e/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('equipment',self.lang)</a>
	</div>
    </div> 

    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('container',self.lang) :</label>    
	$for k,cont in c.AllContainers.elements.items():
	    $if cont.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenuc_$(k)").load("/fullentry/c_$(k)");
		    });
		</script>
		<div id="includedMenuc_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/c/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('container',self.lang)</a>
	</div>
    </div> 
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>    
	$for k,cp in c.AllCheckPoints.elements.items():
	    $if cp.fields['gu_id'] == id:
		<script>
		    $$(function(){
			$$("#includedMenuh_$(k)").load("/fullentry/h_$(k)");
		    });
		</script>
		<div id="includedMenuh_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/h/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('checkpoint',self.lang)</a>
	</div>
    </div> 
$elif type == 'gr':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('batch',self.lang) :</label>    
	$for k,b in c.AllBatches.elements.items():
	    $if b.get_group() == id:
		<script>
		    $$(function(){
			$$("#includedMenub_$(k)").load("/fullentry/b_$(k)");
		    });
		</script>
		<div id="includedMenub_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/b/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('batch',self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>    
	$for k,cp in c.AllCheckPoints.elements.items():
	    $if cp.fields['gr_id'] == id:
		<script>
		    $$(function(){
			$$("#includedMenuh_$(k)").load("/fullentry/h_$(k)");
		    });
		</script>
		<div id="includedMenuh_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-1"></div>
	<div class="col-xs-5 vcenter" id="addItem">
	    <a href="/create/h/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('checkpoint',self.lang)</a>
	</div>
	<div class="col-xs-5 vcenter">
	    <button type="button" class="btn btn-primary btn-md map" data-toggle="modal" data-target="#mapmodal">$c.getMessage('map',self.lang)</button>
	</div>
    </div> 

	<script>
		$$('.map').on("click",function(e){
		    $$('#modal_map').modal('hide');
		    $$("#modal_map").find(".modal-dialog").load("/graph/$(type)_$(id)");
		    $$("#modal_map").modal('show');
		});
	</script>
	
	<div class="modal" id="modal_map" style="color:back;">
	    <div class="modal-dialog">
	    </div>
	</div>

$if barcode > '':
	<div class="row">
	    <svg id='barcode'></svg>
	</div>
	<div class="form-group row" id="error2">
	        $c.getMessage('barcoderules',self.lang) [$(barcode)]
	</div>
	<script>
	if (generateBarcode('#barcode', $barcode)) {
	        jQuery('div#error2').css('display', 'none')
	    }
	</script>
