$def with (connected,id,barcode='')
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$code:
    permissionKey = 'm_'
    elem = c.AllMeasures.get(id)
    keyID = c.AllMeasures.keyColumn
    subtype = 'd'
    allModeled = c.AllManualData
$var location: list/m=$(c.findAll('m').get_class_acronym()) find/d/m_$(id)=manualdata
$var title : $elem.getName(self.lang)

<script>
    $$(function(){
	$$("#includedAllMenum_$(id)").load("/fullentry/m_*$(id)");
    });
</script>
<div id="includedAllMenum_$(id)"></div>


<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <label class="col-sm-12">$c.getMessage('sensor',self.lang) :</label>    
    $for k,sensor in c.AllSensors.elements.items():
	$if sensor.fields['m_id'] == id :
	    <script>
		$$(function(){
		    $$("#includedMenus_$(k)").load("/fullentry/s_$(k)");
		});
	    </script>
	    <div id="includedMenus_$(k)"></div>
</div>

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('manualdatamodel',self.lang) :</label>    

    $for k,dataModel in c.AllManualDataModels.elements.items():
        $if dataModel.isActive() and dataModel.fields['m_id'] == id:
                <script>
                    $$(function(){
                        $$("#includedDM_$(k)").load("/fullentry/dm_$(k)");
                    });
                </script>
                <div id="includedDM_$(k)"></div>
</div>

<div class="row active" style ="background-color:#E5E5E7;margin-top:0px;margin-bottom:10px;padding:15px;">
    $ biglist = allModeled.get_sorted_hierarchy()
    <label class="col-sm-12">$c.getMessage(allModeled.get_class_acronym(),self.lang) :</label>
    $ j=30
    $for k in biglist:
	$ data = allModeled.elements[k]
	$if data and data.isActive() and data.fields[keyID] == id :
            <script>
	        $$(function(){
	            $$("#included$(subtype)_$(k)").load("/fullentry/$(subtype)_$(k)");
	        });
	    </script>
	    <div id="included$(subtype)_$(k)"></div>
	    $ j -= 1
            $if j <= 0:
		<div class="row active">... <strong>$len(biglist)</strong> $c.getMessage(allModeled.get_class_acronym(),self.lang)</div>
		$break
</div>

$if barcode > '':
	<div class="row">
	    <svg id='barcode'></svg>
	</div>
	<div class="form-group row" id="error2">
	        $c.getMessage('barcoderules',self.lang) [$(barcode)]
	</div>
	<script>
	if (generateBarcode('#barcode', $barcode)) {
	        jQuery('div#error2').css('display', 'none')
	    }
	</script>
