$def with (connected,type,id,barcode='')
$code:
    allobjects = c.findAll(type)
    elem = allobjects.get(id)
$var lang : $(connected.cuser.fields['language'])
$var completeMenu : $connected.completeMenu
$var pinned : $(connected.pinned())
$var recursive : False
$var bcTop:
$var bcOwner:
$var bcElem:$(type)_$id
$var bcOperation:
$var title : $(elem.getName(self.lang))
$var allowed : $(connected.cuser.allowed(c))

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
    <label class="col-sm-12">$(c.getMessage('parent',self.lang)) :</label>    
    $for k in allobjects.sort_hierarchy(elem.parents):
	<script>
	    $$(function(){
		$$("#includedMenuparents_$(k)").load("/fullentry/$(type)_$(k)");
	    });
	</script>
	<div id="includedMenuparents_$(k)"></div>
</div>

<script>
    $$(function(){
	$$("#includedAllMenug_$(id)").load("/fullentry/$(type)_$("!" if barcode else "*")$(id)");
    });
</script>
<div id="includedAllMenug_$(id)"></div>

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
    <label class="col-sm-12">$c.getMessage('child',self.lang) :</label>    
    $for k in allobjects.sort_hierarchy(elem.children):
	<script>
	    $$(function(){
		$$("#includedMenuchildren_$(k)").load("/fullentry/$(type)_$(k)");
	    });
	</script>
	<div id="includedMenuchildren_$(k)"></div>
</div>
<div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_"+type+" " ) in self.allowed:
	    <a href="/create/$(type)/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getName(allobjects,self.lang)</a>
	</div>
</div>

$if type == 'gf':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('user',self.lang) :</label>    
	$for k in c.AllUsers.get_sorted_hierarchy():
	    $ user = c.AllUsers.get(k)
	    $if user and user.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenuu_$(k)").load("/fullentry/u_$(k)");
		    });
		</script>
		<div id="includedMenuu_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_u " ) in self.allowed:
	    <a href="/create/u/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('user',self.lang)</a>
	</div>
    </div> 
$elif type == 'h':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('manualdatamodel',self.lang) :</label>    
	$for k in c.AllManualDataModels.sort_hierarchy(elem.dm):
		<script>
		    $$(function(){
			$$("#includedMenudm_$(k)").load("/fullentry/dm_$(k)");
		    });
		</script>
		<div id="includedMenudm_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_dm " ) in self.allowed:
	    <a href="/create/dm/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('manualdatamodel',self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('transfermodel',self.lang) :</label>    
	$for k in c.AllTransferModels.sort_hierarchy(elem.tm):
		<script>
		    $$(function(){
			$$("#includedMenutm_$(k)").load("/fullentry/tm_$(k)");
		    });
		</script>
		<div id="includedMenutm_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_tm " ) in self.allowed:
	    <a href="/create/tm/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('transfermodel',self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('pouringmodel',self.lang) :</label>    
	$for k in c.AllPouringModels.sort_hierarchy(elem.vm):
		<script>
		    $$(function(){
			$$("#includedMenuvm_$(k)").load("/fullentry/vm_$(k)");
		    });
		</script>
		<div id="includedMenuvm_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_vm " ) in self.allowed:
	    <a href="/create/vm/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('pouringmodel',self.lang)</a>
	</div>
    </div> 
    $code:
	    recipes = set()
	    recipe_id = elem.fields['gr_id']
	    if recipe_id and recipe_id in c.AllGrRecipe.elements:
	        recipes.add(recipe_id)
	        recipe = c.AllGrRecipe.elements[recipe_id]
	        new_recipes = recipe.get_all_children([],c.AllGrRecipe)
	        recipes.update(new_recipes)
	    usages = set()
	    gr_usage = elem.fields['gu_id']
	    if gr_usage and gr_usage in c.AllGrUsage.elements:
		usages.add(gr_usage)
		usage = c.AllGrUsage.elements[gr_usage]
		new_usages = usage.get_all_children([],c.AllGrUsage)
		usages.update(new_usages)
	    allowedbatches = c.AllBatches.get_batches_for_recipe_usage(recipes,usages)
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	    <label class="col-sm-12">$c.getMessage('batch',self.lang) :</label>
	    $for b in elem.get_batches(c):
		$if not b.isComplete():
		    <script>
		        $$(function(){
			    $$("#includedAllMenu$(b.getTypeId())").load("/fullentry/$(b.getTypeId())");
		        });
		    </script>
		    <div id="includedAllMenu$(b.getTypeId())"></div>
    </div>
	 
	$if (" upd_d " in self.allowed) or (" upd_t " in self.allowed) or (" upd_v " in self.allowed):
            <form method="post" action="" class="row active" enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
		<div class="col-sm-9">
	        	<input type="hidden" name="checkpoint" value="$id">
			<select name="batch" class="form-control">
			$for v in allowedbatches:
			    <option value="$v.getID()"$:(" selected" if v.getTypeId()==self.pinned else '')>
			    $if v.getID() in elem.batches :
				*
			    $v.fields['acronym'] - $v.getName(self.lang) </option>
			</select>
                </div>
		<div class="col-sm-3">
			<button type="submit" class="btn btn-primary">$c.getMessage('add',self.lang) $c.getMessage('checkpoint',self.lang)</button>
                </div>
	    </form>
$elif type == 'gu':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('place',self.lang) :</label>    
	$for k in c.AllPlaces.get_sorted_hierarchy():
	    $ p = c.AllPlaces.get(k)
	    $if p and p.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenup_$(k)").load("/fullentry/p_$(k)");
		    });
		</script>
		<div id="includedMenup_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_p " ) in self.allowed:
	    <a href="/create/p/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('place',self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('equipment',self.lang) :</label>    
	$for k in c.AllEquipments.get_sorted_hierarchy():
	    $ e = c.AllEquipments.get(k)
	    $if e and e.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenue_$(k)").load("/fullentry/e_$(k)");
		    });
		</script>
		<div id="includedMenue_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_e " ) in self.allowed:
	    <a href="/create/e/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('equipment',self.lang)</a>
	</div>
    </div> 

    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('container',self.lang) :</label>    
	$for k in c.AllContainers.get_sorted_hierarchy():
	    $ cont = c.AllContainers.get(k)
	    $if cont and cont.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenuc_$(k)").load("/fullentry/c_$(k)");
		    });
		</script>
		<div id="includedMenuc_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_c " ) in self.allowed:
	    <a href="/create/c/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('container',self.lang)</a>
	</div>
    </div> 
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>    
	$for k in c.AllCheckPoints.get_sorted_hierarchy():
	    $ cp = c.AllCheckPoints.get(k)
	    $if cp and cp.fields['gu_id'] == id:
		<script>
		    $$(function(){
			$$("#includedMenuh_$(k)").load("/fullentry/h_$(k)");
		    });
		</script>
		<div id="includedMenuh_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_h " ) in self.allowed:
	    <a href="/create/h/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('checkpoint',self.lang)</a>
	</div>
    </div> 
$elif type == 'gr':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('batch',self.lang) :</label>    
	$for b in elem.get_batches(c):
	    $if not b.isComplete():
		<script>
		    $$(function(){
			$$("#includedMenub_$(b.getID())").load("/fullentry/b_$(b.getID())");
		    });
		</script>
		<div id="includedMenub_$(b.getID())"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	$if ( " upd_b " ) in self.allowed:
	    <a href="/create/b/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('batch',self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>    
	$for k in c.AllCheckPoints.get_sorted_hierarchy():
	    $ cp = c.AllCheckPoints.get(k)
	    $if cp and cp.fields['gr_id'] == id:
		<script>
		    $$(function(){
			$$("#includedMenuh_$(k)").load("/fullentry/h_$(k)");
		    });
		</script>
		<div id="includedMenuh_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-3"></div>
	<div class="col-xs-5 vcenter" id="addItem">
	$if ( " upd_h " ) in self.allowed:
	    <a href="/create/h/$(type)_$(id)" class = "vcenter">$:c.getHalfling('add') $c.getMessage('checkpoint',self.lang)</a>
	</div>
	<div class="col-xs-2 vcenter">
	    <strong><a href="/map/$(type)_$id" class="btn btn-warning" role="button">$:(c.getHalfling('datatable'))</a></strong>
	    <button type="button" class="btn btn-warning btn-md map$(type)_$id" data-toggle="modal" data-target="#mapmodal">$:(c.getHalfling('schema'))</button>
	</div>
    </div> 
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.getMessage('pouringmodel',self.lang) :</label>    
	$for k in c.AllPouringModels.get_sorted_hierarchy():
	    $ vm = c.AllPouringModels.get(k)
	    $if vm and ( (vm.fields['src'] == id) or (vm.fields['dest'] == id) ):
		<script>
		    $$(function(){
			$$("#includedMenuvm_$(k)").load("/fullentry/vm_$(k)");
		    });
		</script>
		<div id="includedMenuvm_$(k)"></div>
    </div>
