$def with (type, id, mail)
$code:
    allobjects = c.findAllFromType(type)
    elem = allobjects.elements[id]
    keyID = allobjects.keyColumn
    recipes = set()
    recipe_id = elem.fields['gr_id']
    if recipe_id and recipe_id in c.AllGrRecipe.elements:
        recipes.add(recipe_id)
        recipe = c.AllGrRecipe.elements[recipe_id]
        new_recipes = set(recipe.get_all_parents([],None))
        recipes = recipes | new_recipes
    components = elem.get_actual_position_hierarchy(c,[])
    usages = set()
    for place in components:
	if place.get_type() in 'pec':
	        gr_usage = place.get_group()
	        if gr_usage and gr_usage in c.AllGrUsage.elements:
	            usages.add(gr_usage)
		    usage = c.AllGrUsage.elements[gr_usage]
	            new_usages = set(usage.get_all_parents([],None))
		    usages = usages | new_usages
    allowedcheckpoints = c.AllCheckPoints.get_checkpoints_for_recipe_usage(recipes,usages)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var location: list/$(type)=$(allobjects.get_class_acronym()) find/h/$(type)_$(id)=checkpoint
$var recursive : False
$var title: $c.getName(allobjects,self.lang)

<script>
    $$(function(){
	$$("#includedAllMenu$(type)_$(id)").load("/fullentry/$(type)_*$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>


<div class="row active">
    <label class="col-sm-12">$c.getMessage('checkpoint',self.lang) :</label>
</div>

$for i in elem.checkpoints:
        <script>
        $$(function(){
	    $$("#includedAllMenuh_$(i)").load("/fullentry/h_$(i)");
        });
        </script>
        <div id="includedAllMenuh_$(i)"></div>
    
<div style="margin:15px;">
</div>    
 
<div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <form  method="post" action=""  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="row active">
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-4">
		<input type="hidden" name="batch" value="$id">
		<select name = "checkpoint" class="form-control" id="inputPosition">
		$for v in allowedcheckpoints:
		    <option value="$v.getID()">
		    $if v.getID() in elem.checkpoints :
			*
		    $v.fields['acronym'] - $v.getName(self.lang) </option>
		</select>
	    </div>
	    <div class="col-sm-6">
		<button type="submit" class="btn btn-primary btn-block">$c.getMessage('add',self.lang) $c.getMessage('checkpoint',self.lang)</button>
                <strong><a href="/map/$(type)_$id" class="btn btn-warning" role="button">$:(c.getHalfling('datatable'))</a></strong>
		<button type="button" class="btn btn-warning btn-md map" data-toggle="modal" data-target="#mapmodal">$:(c.getHalfling('schema'))</button>
	    </div>
	</div>
    </form>
</div>

<script>
	$$('.map').on("click",function(e){
	    $$('#modal_map').modal('hide');
	    $$("#modal_map").find(".modal-dialog").load("/graph/$(type)_$(id)");
	    $$("#modal_map").modal('show');
	});
</script>

<div class="modal" id="modal_map" style="color:back;">
    <div class="modal-dialog">
    </div>
</div>
