$def with (connected, id, modelid=None)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var recursive : False
$code:
    permissionKey = 'm_'
    elem = c.AllBatches.get(id)
    keyID = 'b'
$var location: list/b=batch find/v/b_$(id)=pouring
$var title : $elem.getName(self.lang)
<script>
    $$(function(){
	$$("#includedAllMenuB_$(id)").load("/fullentry/b_*$(id)");
	$if modelid:
	    $$("#includedAllMenuVM_$(modelid)").load("/fullentry/vm_$(modelid)");
    });
</script>
<div id="includedAllMenuB_$(id)"></div>
$if modelid:
    <div id="includedAllMenuVM_$(modelid)"></div>


<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
    <label class="col-sm-12">$c.getMessage('batch',self.lang) $c.getMessage('source',self.lang) :</label>
    <label class="col-sm-3">$c.getMessage('time',self.lang)</label>
    <label class="col-sm-2">$c.getMessage('checkpoint',self.lang)</label>
    <label class="col-sm-3">$c.getMessage('component',self.lang)</label>
    <label class="col-sm-3">$c.getMessage('measure',self.lang) / $c.getMessage('remark',self.lang)</label>    
    $for k in elem.destination:
	$ pouring = c.AllPourings.get(k)
	$if pouring and (not modelid or pouring.fields['vm_id']==modelid):
		<div class="row active">
			<div class="col-xs-3" >
			    $pouring.fields['time']
			</div>
			<div class="col-xs-2" >
			    $if pouring.fields['h_id'] != '' :
			        <a href="/find/related/h_$(pouring.fields['h_id'])">$:c.getAllHalfling(c.AllCheckPoints) $c.AllCheckPoints.get(pouring.fields['h_id']).fields['acronym']</a>
			    $if pouring.fields['vm_id'] != '' :
		                <br/><a href="/find/related/vm_$(pouring.fields['vm_id'])" style="color:#28A4C9">- $c.AllPouringModels.get(pouring.fields['vm_id']).fields['acronym']</a>
			</div>
			$ batch = c.AllBatches.get(pouring.fields['src'])
			<div class="col-xs-3 text-right">
			    <a href="/find/v/b_$(pouring.fields['src'])" class="btn btn-warning" role="button" style="float:right">$:c.getHalfling('input')</a>
			    <strong><a href="/find/v/b_$(pouring.fields['src'])">$batch.fields['acronym']</a></strong>
			    <br>$batch.getName(self.lang)
			</div>	    
			<div class="col-xs-3" >
			    $unicode(pouring.get_quantity())) $pouring.get_unit(c)</a>
			    $if pouring.fields['al_id'] :
			        <a href="/edit/al_$(pouring.fields['al_id'])">$:c.getAllHalfling(c.AllAlarmLogs)</a>
			    $if pouring.fields['remark']:
				<br/><span class="text-danger">$pouring.fields['remark']</span>
			</div>
			$if ( " upd_v " ) in self.allowed:
			  <div class="col-xs-1">
			    <strong><a href="/edit/v_$(pouring.fields['v_id'])" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-edit"></span></a></strong>
			  </div>
	    	</div>
</div>

<div class="row active" style="background-color:rgb(0, 21, 43);margin-top:0px">
    <div class="col-xs-5">
    </div>
    <div class="col-xs-6" id="addItem">
	$if ( " upd_v " ) in self.allowed:
	    <a href="/create/v/b_$(id)_in">$:c.getHalfling('add') $c.getMessage('pouring',self.lang)$:c.getAllHalfling(c.AllPourings)</a>
    </div>
</div> 

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
    <label class="col-sm-12">$c.getMessage('batch',self.lang) $c.getMessage('target',self.lang)</label>   
    <label class="col-sm-3">$c.getMessage('time',self.lang)</label>
    <label class="col-sm-2">$c.getMessage('checkpoint',self.lang)</label>
    <label class="col-sm-3">$c.getMessage('component',self.lang)</label>
    <label class="col-sm-3">$c.getMessage('measure',self.lang) / $c.getMessage('remark',self.lang)</label>   
    $for k in elem.source:
	$ pouring = c.AllPourings.get(k)
	$if pouring and (not modelid or pouring.fields['vm_id']==modelid):
	    <div class="row active">
		<div class="col-xs-3" >
		    $pouring.fields['time']
		</div>	
		<div class="col-xs-2" >
		    $if pouring.fields['h_id'] != '' :
		        <a href="/find/related/h_$(pouring.fields['h_id'])">$:c.getAllHalfling(c.AllCheckPoints) $c.AllCheckPoints.get(pouring.fields['h_id']).fields['acronym']</a>
		    $if pouring.fields['vm_id'] != '' :
	                <br/><a href="/find/related/vm_$(pouring.fields['vm_id'])" style="color:#28A4C9">- $c.AllPouringModels.get(pouring.fields['vm_id']).fields['acronym']</a>
		</div>
		$ batch = c.AllBatches.get(pouring.fields['dest'])
		<div class="col-xs-3">
		    <strong><a href="/find/v/b_$(pouring.fields['dest'])"><span class="btn btn-warning" style="float:left" role="button">$:c.getHalfling('output')</span>$batch.fields['acronym']</a></strong><br>$batch.getName(self.lang)
		</div>    
		<div class="col-xs-3" >
		    $pouring.get_quantity()  $pouring.get_unit(c)
		    $if pouring.fields['remark']:
		    	<br/><span class="text-danger">$pouring.fields['remark']</span>
		</div>
		<div class="col-xs-1">
		    <strong><a href="/edit/v_$(pouring.fields['v_id'])" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-edit"></span></a></strong>
		</div>
	    </div>
</div>
<div class="row active" style="background-color:rgb(0, 21, 43);margin-top:0px">
    <div class="col-xs-5">
    </div>
    <div class="col-xs-6" id="addItem">
	$if ( " upd_v " ) in self.allowed:
		<a href="/create/v/b_$(id)_out">$:c.getHalfling('add') $c.getMessage('pouring',self.lang)$:c.getAllHalfling(c.AllPourings," rotate180")</a>
    </div>
</div> 
