$def with (mail,type, id)	
$var recursive : True
$var title : "ELSA"
$code :
    allElem = c.findAllFromType(type)
    elem = allElem.elements[id]
    keyID = allElem.keyColumn
    permissionKey = type +'_'

$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var title : "ELSA - "+$(elem.get_name())

<div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;
$if 'colorgraph' in elem.fields.keys() :
    border-left-style: solid;border-width: 10px;border-color:$(elem.fields['colorgraph']);
$elif type == 'h':
    $if elem.fields['abstract'] == '1' or elem.fields['abstract'] == 1 :
	border-left-style: solid;border-width: 10px;border-color:#337ab7;
">
    <div class="col-xs-12 " >
	<div class="col-xs-2 vcenter">
	    <button type="button" class="btn btn-warning btn-md $(type)_$(id)" data-toggle="modal" data-target="#$(type)_$(id)modal"><span class="$c.AllHalflings.elements['info'].getHalfling()"></span></button>
	</div>
	<div class="col-xs-1 vcenter" >
	$if 'active' in elem.fields :
	    $if elem.fields['active'] == '0' or  elem.fields['active'] == 0 :
		<span class="glyphicon glyphicon-remove-circle"> </span>
	    $else:
		<span class="glyphicon glyphicon-ok-circle"> </span>
	</div>	    
	<div class="col-xs-1 vcenter" 
	    $if 'm' in type and type != 'm':
		style="color : #337ab7"
	><span class="$c.AllHalflings.elements[elem.get_name()].getHalfling()"></span> </div>
	<div class="col-xs-3 vcenter">
	    <div class="row">
		<a href="/find/related/$(type)_$(id)">
		$elem.fields['acronym'] 
		</a>
	    </div>
	    <div class="row">
		<a href="/find/related/$(type)_$(id)">
		<strong>$elem.getName(self.lang)</strong>
		</a>
	   </div>
	</div>
	$if type in 'pu' :
	    $code :
		groups = c.get_group(allElem.get_key_group())
	    <div class="col-xs-3 vcenter">
		<span class="$c.AllHalflings.elements[groups.get_name_object()].getHalfling()"></span>
	        $if elem.get_group() != '' :
		    <a href="/item/$(allElem.get_key_group())_$elem.get_group()">$groups.elements[elem.get_group()].fields['acronym']</a>
	    </div>
	$elif type in 'ec':
	    <div class="col-xs-3 vcenter">
		<div class="row">
		    $code :
			groups = c.get_group(allElem.get_key_group())
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements[groups.get_name_object()].getHalfling()"></span>
		    </div>
		    $if elem.get_group() != '' :
			<div class="col-xs-2 vcenter">
			       <a href="/item/$(allElem.get_key_group())_$elem.get_group()">$groups.elements[elem.get_group()].fields['acronym']</a>
			</div>
		    $else :
			<div class="col-xs-2 vcenter">
			    -
			</div>
		</div>
		<div class="row">
		    $code:
			tmp = elem.get_actual_position()
			if tmp is not None :
			    pos = c.AllTransfers.elements[tmp].get_cont()
			else :
			    pos = None
		    $if pos is not None :
			<div class="col-xs-1 vcenter">
			    <span class="$c.AllHalflings.elements[pos.get_name()].getHalfling()"></span>
			</div>
			<div class="col-xs-10 vcenter">
			    <a href="/item/$(pos.get_type())_$pos.getID()">$pos.fields['acronym']</a>
			</div>
		    $else:
			<div class="col-xs-1 vcenter">
			    -
			</div>
			<div class="col-xs-10 vcenter"> -</div>
		</div>
	    </div>
	$elif type == 'b':
	    $code :
		groups = c.get_group(allElem.get_key_group())
	    <div class="col-xs-3 vcenter">
		<div class="row">
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements[groups.get_name_object()].getHalfling()"></span>
		    </div>
		    $if elem.get_group() != '' :
			<div class="col-xs-10 vcenter">
			    <a href="/item/$(allElem.get_key_group())_$elem.get_group()">$groups.elements[elem.get_group()].fields['acronym']</a>
			</div>
		    $else :
			<div class="col-xs-10 vcenter">
			    -
			</div>
		</div>
		<div class="row">
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements['scale'].getHalfling()"></span>
		    </div>
		    <div class="col-xs-10 vcenter">
			$if elem.fields['m_id'] != '':
			    $(elem.get_residual_quantity()) <a href="/item/m_$elem.fields['m_id']">$(c.AllMeasures.elements[elem.fields['m_id']].fields['unit'])</a>
		    </div>
		</div>
	    </div>
	$elif type in 'dmvmtm' and type not in 'mtvd':
	    $code :
		groups = c.get_group(allElem.get_key_group())
	    <div class="col-xs-3 vcenter">
		<div class="row">
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements[groups.get_name_object()].getHalfling()"></span>
		    </div>
		    $if elem.get_group() != '' :
			<div class="col-xs-10 vcenter">
			       <a href="/item/$(allElem.get_key_group())_$elem.get_group()">$groups.elements[elem.get_group()].fields['acronym']</a>
			</div>
		    $else :
			<div class="col-xs-10 vcenter">
			    -
			</div>
		</div>
		<div class="row">
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements['rank'].getHalfling()"></span>
		    </div>
		    <div class="col-xs-10 vcenter">
			$if elem.fields['rank'] != '':
			    $elem.fields['rank']
			$else:
			    -
			    
		    </div>
		</div>
	    </div>
	$elif type == 'h':
	    <div class="col-xs-3 vcenter">
		<div class = "row">
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements['grecipe'].getHalfling()"></span>
		    </div>
	            <div class="col-xs-4 vcenter">
		    $if elem.fields['gr_id'] :
			 <a href="/item/gr_$elem.fields['gr_id']">$c.AllGrRecipe.elements[elem.fields['gr_id']].fields['acronym']</a>
                    </div>
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements['guse'].getHalfling()"></span>
		    </div>
		    $if elem.fields['gu_id'] :
	                <div class="col-xs-4 vcenter">
			    <a href="/item/gu_$elem.fields['gu_id']">$c.AllGrUsage.elements[elem.fields['gu_id']].fields['acronym']</a>
		        </div>
		</div>
		<div class="row">
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements['rank'].getHalfling()"></span>
		    </div>
		    <div class="col-xs-10 vcenter">
			$if elem.fields['rank'] != '':
			    $elem.fields['rank']
			$else:
			    -
			    
		    </div>
		</div>
	    </div>
	$elif type == 's':
	    <div class="col-xs-3 vcenter">
		<div class="row">
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements[elem.get_component(c).get_name()].getHalfling()"></span>
		    </div>
		    <div class="col-xs-10 vcenter">
			   <a href="/item/$elem.get_component(c).get_type()_$elem.get_component(c).getID()">$elem.get_component(c).fields['acronym']</a>
		    </div>
		</div>
		<div class="row">
		    <div class="col-xs-1 vcenter">
			<span class="$c.AllHalflings.elements['measure'].getHalfling()"></span>
		    </div>
		    <div class="col-xs-10 vcenter">
			<span style="background-color:#$(elem.colorAlarm);color:black">$(elem.lastvalue)</span> <a href="/item/m_$elem.fields['m_id']">$(c.AllMeasures.elements[elem.fields['m_id']].fields['unit'])</a>
		    </div>
		</div>
	    </div>
	$elif type == 'm':
	    <div class="col-xs-3 vcenter">
		$elem.fields['unit']
	    </div>
	$else:
	    <div class="col-xs-3 vcenter">
	    </div>
	<div class="col-xs-1 vcenter">
	    <button type="button" class="btn btn-warning btn-md " data-toggle="modal" data-target="#modal_menu_$(type)_$(id)"><span class="$c.AllHalflings.elements['menu'].getHalfling()"></span></button>
	</div>
    </div>
</div>

<div class="modal" id="modal_$(type)_$(id)" style="color:back;">
    <div class="modal-dialog">
    </div>
</div>

<script>
    $$(document).ready(function(){
	$$('.$(type)_$(id)').on("click",function(e){
	    $$('#modal_menu_$(type)_$(id)').modal('hide');
	    $$("#modal_$(type)_$(id)").find(".modal-dialog").load("/modal/$(type)_$(id)");
	    $$("#modal_$(type)_$(id)").modal('show');
	});
    });
</script>


<div class="modal" id="modal_menu_$(type)_$(id)">
    <div class="modal-dialog">
	<div class="modal-content">
            <div class="modal-header row ">
		<div class="col-xs-2" 
		    $if 'm' in type and type != 'm':
			style="color : #337ab7"
		>
		    <strong><span class="$c.AllHalflings.elements[allElem.get_name_object()].getHalfling()"></span></strong>
		</div>
                <h4 class="modal-title col-xs-6 "> $elem.fields['acronym'] - $elem.getName(self.lang)</h4>
		<div class="col-xs-2" >
		</div>
                <button type="button" class="col-xs-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
            </div>
	<div class="modal-body">
                <div class="container-fluid">
		    $if type == "TODO" :
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2">
				<strong><a href="#" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['alarm'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				Alertes en cours
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2">
				<strong><a href="#" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['alarm'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				Alarmes en cours
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2">
				<strong><a href="#" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['ToDo'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				Things to Do
			    </div>
			</div>
		    $if 'm' in type and 'm' != type:
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2">
				<strong><a href="/item/h_$(allElem.elements[id].fields['h_id'])" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['checkpoint'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$c.AllMessages.elements['checkpoint'].getName(self.lang)
			    </div>
			</div>
		    $if type == 'b' :
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2">
				<strong><a href="/find/v/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['pouring'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$len(c.AllBatches.elements[id].source) $c.AllMessages.elements['mpouring'].getName(self.lang)
			    </div>
			</div>
		    $if type in 'cpeb' :
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2">
				<strong><a href="/find/d/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['manualdata'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$len(c.findAllFromType(type).elements[id].data) $c.AllMessages.elements['mdata'].getName(self.lang)
			    </div>
			</div>
		    $if type in 'ceb' :
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2">
				<strong><a href="/find/t/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['transfer'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$len(c.findAllFromType(type).elements[id].position) $c.AllMessages.elements['mtransfer'].getName(self.lang)
			    </div>
			</div>
		    $if type == 'b' :
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2">
				<strong><a href="/find/h/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['checkpoint'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$len(c.AllBatches.elements[id].checkpoints) $(c.AllMessages.elements['checkpoint'].getName(self.lang))(s)
			    </div>
			</div>
		    <div class="row" style="margin-top:10px;">
			<div class="col-xs-2">
			    <button type="button" class="btn btn-warning btn-md $(type)_$(id)" data-toggle="modal" data-target="#$(type)_$(id)modal"><span class="$c.AllHalflings.elements['info'].getHalfling()"></span></button>
			</div>
			<div class="col-xs-10">
			    $c.AllMessages.elements['info'].getName(self.lang)
			</div>
		    </div>
		    $if type in 'cpemgugrgfh' and type not in 'u':
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2">
				<strong><a href="/find/related/$(type)_$id" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['related'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$c.AllMessages.elements['related'].getName(self.lang)
			    </div>
			</div>
		    $if type in 'cpesm' :
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2" >
				<strong><a href="/graphic/$(type)_$id" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['graphic'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$c.AllMessages.elements['graphic'].getName(self.lang)
			    </div>
			</div>
		    $if type in 'cpesm' :
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2" >
				<strong><a href="#" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['alarm'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$c.AllMessages.elements['alarmlog'].getName(self.lang)
			    </div>
			</div>
		    $if type in 'cpeb' :
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2" >
				<strong><a href="/export/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['exportdata'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$c.AllMessages.elements['export'].getName(self.lang)
			    </div>
			</div>
		    $if c.AllBarcodes.get_barcode(elem.get_type(), elem.id) != '' :
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-2" >
				<strong><a href="/barcode/$(c.AllBarcodes.get_barcode(elem.get_type(), elem.id))" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['barcode'].getHalfling()"></span></a></strong>
			    </div>
			    <div class="col-xs-10">
				$c.AllMessages.elements['barcode'].getName(self.lang)
			    </div>
			</div>			
		    <div class="row" style="margin-top:10px;">
			<div class="col-xs-2" >
			    <strong><a href="/edit/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['edit'].getHalfling()"></span></a></strong>
			</div>
			<div class="col-xs-10">
			    $c.AllMessages.elements['update'].getName(self.lang)
			</div>
		    </div>			
                </div>
            </div>
            <div class="modal-footer row">
		<div class="col-xs-10" >
		</div>
		<button type="button" class="col-xs-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
            </div>
        </div>
    </div>
</div>
