$def with (mail,type, id, current)	
$var recursive : True
$var title : "ELSA"
$code :
    allElem = c.findAllFromType(type)
    elem = allElem.elements[id]
    keyID = allElem.keyColumn
    permissionKey = '_'+type +'_'
    btn_class="btn-warning"
    if 'm' in type and type != 'm':
        btn_class = "btn-info"

$var lang : $(c.connectedUsers.users[mail].cuser.fields['language'])
$var title : $(elem.getName(self.lang))

<div class="row active" style="color:#f07e26;background-color:$("#D5D5D7" if current else "#E5E5E7" );margin-top:6px;margin-bottom:6px;padding:5px;
$if 'colorgraph' in elem.fields.keys() :
    border-left-style: solid;border-width: 5px;border-color:$(elem.fields['colorgraph']);
$elif type == 'h':
    $if elem.fields['abstract'] == '1' or elem.fields['abstract'] == 1 :
	border-left-style: solid;border-width: 6px;border-color:#337ab7;
">
	 <div class="col-xs-2 vcenter">
            $if permissionKey in '_h_gr_gu_gf_':
                $ parents = elem.get_all_parents([])
                $for p in reversed(parents):
                    <a href="/find/related/$(type)_$(p)"><strong><big>&#8662;</big></strong></a>
            <button type="button" class="btn $(btn_class) btn-md $(type)_$(id)" data-toggle="modal" data-target="#$(type)_$(id)modal">
            $if 'active' in elem.fields :
                $if elem.fields['active'] == '0' or  elem.fields['active'] == 0 :
                  <span class="icon-combine">
                    $:(c.getAllHalfling(allElem))
                    <span class="halflings halflings-remove text-danger"></span>
                  </span>
	        $else:
                    $:(c.getAllHalfling(allElem))
            $else:
                $:(c.getAllHalfling(allElem))
	    $if elem.isImaged():
		<img src="$(elem.getImageURL())" alt="?" height=48>
            </button>
	 </div>
	<div class="col-xs-3 vcenter">
	    <div class="row">
		<a href="/find/related/$(type)_$(id)">
		$elem.fields['acronym'] 
		</a>
	    </div>
	    <div class="row">
		<a href="/find/related/$(type)_$(id)">
		<strong>$elem.getName(self.lang)</strong>
		</a>
	   </div>
	</div>
        <div class="col-xs-5 vcenter">
	$if permissionKey in '_p_u_' :
	        $code :
		    groups = c.get_group(allElem.get_key_group())
		$:(c.getAllHalfling(groups))
	        $if elem.get_group() != '' :
		    <a href="/item/$(allElem.get_key_group())_$elem.get_group()">$groups.elements[elem.get_group()].fields['acronym']</a>
	$elif permissionKey in '_e_c_':
		<div class="row">
		    $code :
			groups = c.get_group(allElem.get_key_group())
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(groups))
		    </div>
		    $if elem.get_group() != '' :
			<div class="col-xs-2 vcenter">
			       <a href="/item/$(allElem.get_key_group())_$elem.get_group()">$groups.elements[elem.get_group()].fields['acronym']</a>
			</div>
		    $else :
			<div class="col-xs-2 vcenter">
			    -
			</div>
		</div>
		<div class="row">
		    $code:
			tmp = elem.get_actual_position()
			if tmp is not None :
			    pos = c.AllTransfers.elements[tmp].get_cont()
			else :
			    pos = None
		    $if pos is not None :
			<div class="col-xs-1 vcenter">
			    $:(c.getAllHalfling(c.AllTransfers))
			</div>
			<div class="col-xs-10 vcenter">
			    <a href="/item/$(pos.get_type())_$pos.getID()">$pos.fields['acronym']</a>
			</div>
		    $else:
			<div class="col-xs-1 vcenter">
			    -
			</div>
			<div class="col-xs-10 vcenter"> -</div>
		</div>
	$elif type == 'b':
	        $code :
		    groups = c.get_group(allElem.get_key_group())
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(groups))
		    </div>
		    $if elem.get_group() != '' :
			<div class="col-xs-4 vcenter">
			    <a href="/item/$(allElem.get_key_group())_$elem.get_group()">$groups.elements[elem.get_group()].fields['acronym']</a>
			</div>
		    $else :
			<div class="col-xs-4 vcenter">
			    -
			</div>
		    <div class="col-xs-1 vcenter">
			$:(c.getHalfling('scale'))
		    </div>
		    <div class="col-xs-4 vcenter">
			$if elem.fields['m_id'] != '':
			    $(elem.get_residual_quantity()) <a href="/item/m_$elem.fields['m_id']">$(c.AllMeasures.elements[elem.fields['m_id']].fields['unit'])</a>
		    </div>
		</div>
		<div class="row">
		    $code:
			tmp = elem.get_actual_position()
			if tmp is not None :
			    pos = c.AllTransfers.elements[tmp].get_cont()
			else :
			    pos = None
		    $if pos is not None :
			<div class="col-xs-1 vcenter">
			    $:(c.getAllHalfling(c.AllTransfers))
			</div>
			<div class="col-xs-9 vcenter">
			    <a href="/item/$(pos.get_type())_$pos.getID()">$pos.fields['acronym']</a>
			</div>
		    $else:
			<div class="col-xs-1 vcenter">
			    -
			</div>
			<div class="col-xs-9 vcenter"> -</div>
		</div>
	$elif permissionKey in '_dm_':
	        $code :
		    groups = c.get_group(allElem.get_key_group())
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(groups))
		    </div>
		    $if elem.get_group() != '' :
			<div class="col-xs-4 vcenter">
			       <a href="/item/$(allElem.get_key_group())_$elem.get_group()">$groups.elements[elem.get_group()].fields['acronym']</a>
			</div>
		    $else :
			<div class="col-xs-4 vcenter">
			    -
			</div>
		    <div class="col-xs-1 vcenter">
			$:(c.getHalfling('rank'))
		    </div>
		    <div class="col-xs-4 vcenter">
			$if elem.fields['rank'] != '':
			    $elem.fields['rank']
			$else:
			    -
		    </div>
		</div>
		$code:
		    check_id = elem.get_group()
		    checkPoint = c.AllCheckPoints.elements[check_id]
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(c.AllGrRecipe))
		    </div>
	            <div class="col-xs-4 vcenter">
		    $if checkPoint.fields['gr_id'] :
			 <a href="/item/gr_$checkPoint.fields['gr_id']">$(c.AllGrRecipe.elements[checkPoint.fields['gr_id']].fields['acronym'])</a>
                    </div>
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(c.AllGrUsage))
		    </div>
		    $if checkPoint.fields['gu_id'] :
	                <div class="col-xs-4 vcenter">
			    <a href="/item/gu_$checkPoint.fields['gu_id']">$(c.AllGrUsage.elements[checkPoint.fields['gu_id']].fields['acronym'])</a>
		        </div>
		</div>
	$elif permissionKey in '_vm_':
	        $code :
		    groups = c.get_group(allElem.get_key_group())
		    check_id = elem.get_group()
		    checkPoint = None
		    checkRecipe = None
		    if check_id:
			checkPoint = c.AllCheckPoints.elements[check_id]
			if checkPoint and checkPoint.fields['gr_id']:
			    checkRecipe = c.AllGrRecipe.elements[checkPoint.fields['gr_id']]
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(groups))
		    </div>
		    $if check_id != '' :
			<div class="col-xs-4 vcenter">
			       <a href="/item/$(allElem.get_key_group())_$check_id">$checkPoint.fields['acronym']</a>
			</div>
		    $else :
			<div class="col-xs-4 vcenter">
			    -
			</div>
		    <div class="col-xs-1 vcenter">
			$:(c.getHalfling('rank'))
		    </div>
		    <div class="col-xs-4 vcenter">
			$if elem.fields['rank'] != '':
			    $elem.fields['rank']
			$else:
			    -
		    </div>
		</div>
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(c.AllGrRecipe))
		    </div>
	            <div class="col-xs-4 vcenter">
		    $if checkPoint.fields['gr_id'] :
			 <a href="/item/gr_$(checkRecipe.getID())">$(checkRecipe.fields['acronym'])</a>
                    </div>
		    <div class="col-xs-1 vcenter">
		    $if elem.fields['in']=='1':
                         $:c.getHalfling('from')
                         $ recipe = elem.fields['src']
		    $else:
                         $:c.getHalfling('to')
                         $ recipe = elem.fields['dest']
		    </div>
	            <div class="col-xs-4 vcenter">
		    $if recipe :
                         <a href="/item/gr_$(recipe)">$(c.AllGrRecipe.elements[recipe].fields['acronym'])</a>
                    </div>
		</div>
	$elif permissionKey in '_tm_':
	        $code :
		    groups = c.get_group(allElem.get_key_group())
		    check_id = elem.get_group()
		    checkPoint = None
		    checkUsage = None
		    if check_id:
			checkPoint = c.AllCheckPoints.elements[check_id]
			if checkPoint and checkPoint.fields['gu_id']:
			    checkUsage = c.AllGrRecipe.elements[checkPoint.fields['gu_id']]
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(groups))
		    </div>
		    $if check_id != '' :
			<div class="col-xs-4 vcenter">
			       <a href="/item/$(allElem.get_key_group())_$check_id">$checkPoint.fields['acronym']</a>
			</div>
		    $else :
			<div class="col-xs-4 vcenter">
			    -
			</div>
		    <div class="col-xs-1 vcenter">
			$:(c.getHalfling('rank'))
		    </div>
		    <div class="col-xs-4 vcenter">
			$if elem.fields['rank'] != '':
			    $elem.fields['rank']
			$else:
			    -
		    </div>
		</div>
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(c.AllGrUsage))
		    </div>
	            <div class="col-xs-4 vcenter">
		    $if checkPoint.fields['gu_id'] :
			 <a href="/item/gu_$(checkUsage.getID())">$(checkUsage.fields['acronym'])</a>
                    </div>
		    <div class="col-xs-1 vcenter">
                         $:c.getHalfling('to')
		    </div>
	            <div class="col-xs-4 vcenter">
	            $ usage = elem.fields['gu_id']
		    $if usage :
                         <a href="/item/gr_$(usage)">$(c.AllGrUsage.elements[usage].fields['acronym'])</a>
                    </div>
		</div>
	$elif type == 'h':
		<div class = "row">
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(c.AllGrRecipe))
		    </div>
	            <div class="col-xs-4 vcenter">
		    $if elem.fields['gr_id'] :
			 <a href="/item/gr_$elem.fields['gr_id']">$(c.AllGrRecipe.elements[elem.fields['gr_id']].fields['acronym'])</a>
                    </div>
		    <div class="col-xs-1 vcenter">
			$:(c.getAllHalfling(c.AllGrUsage))
		    </div>
		    $if elem.fields['gu_id'] :
	                <div class="col-xs-4 vcenter">
			    <a href="/item/gu_$elem.fields['gu_id']">$(c.AllGrUsage.elements[elem.fields['gu_id']].fields['acronym'])</a>
		        </div>
		</div>
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getHalfling('rank'))
		    </div>
		    <div class="col-xs-10 vcenter">
			$if elem.fields['rank'] != '':
			    $elem.fields['rank']
			$else:
			    -
			    
		    </div>
		</div>
	$elif type == 's':
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getHalfling(elem.get_component(c).get_class_acronym()))
		    </div>
		    <div class="col-xs-10 vcenter">
			   <a href="/item/$elem.get_component(c).get_type()_$elem.get_component(c).getID()">$elem.get_component(c).fields['acronym']</a>
		    </div>
		</div>
		<div class="row">
		    <div class="col-xs-1 vcenter">
			$:(c.getHalfling('measure'))
		    </div>
		    <div class="col-xs-10 vcenter">
			<span style="background-color:#$(elem.colorAlarm);color:black">$(elem.lastvalue)</span> <a href="/item/m_$elem.fields['m_id']">$(c.AllMeasures.elements[elem.fields['m_id']].fields['unit'])</a>
		    </div>
		</div>
	$elif type == 'm':
		$elem.get_select_str(self.lang)
	</div>
	<div class="col-xs-1 vcenter">
	    <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#modal_menu_$(type)_$(id)">$:(c.getHalfling('menu'))</button>
	</div>
</div>

<div class="modal" id="modal_$(type)_$(id)" style="color:back;">
    <div class="modal-dialog">
    </div>
</div>

<script>
    $$(document).ready(function(){
	$$('.$(type)_$(id)').on("click",function(e){
	    $$('#modal_menu_$(type)_$(id)').modal('hide');
	    $$("#modal_$(type)_$(id)").find(".modal-dialog").load("/modal/$(type)_$(id)");
	    $$("#modal_$(type)_$(id)").modal('show');
	});
    });
</script>


<div class="modal" id="modal_menu_$(type)_$(id)">
    <div class="modal-dialog">
	<div class="modal-content">
            <div class="modal-header row ">
		<div class="col-xs-2" 
		    $if 'm' in type and type != 'm':
			style="color : #337ab7"
		>
		    <strong>$:(c.getAllHalfling(allElem))</strong>
		</div>
                <h4 class="modal-title col-xs-6 "> $elem.fields['acronym'] - $elem.getName(self.lang)</h4>
		<div class="col-xs-2" >
		</div>
                <button type="button" class="col-xs-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
            </div>
	<div class="modal-body">
                <div class="container-fluid">
		    $if 'm' in type and 'm' != type:
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2 justify-content-start">
				<strong><a href="/item/h_$(allElem.elements[id].fields['h_id'])" class="btn btn-warning" role="button">$:(c.getHalfling('checkpoint'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				$(c.getMessage('checkpoint',self.lang))
			    </div>
			</div>
		    $if type == 'b' :
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2 justify-content-start">
				<strong><a href="/find/h/$(type)_$(id)" class="btn btn-warning" role="button">$:(c.getHalfling('checkpoint'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				<b>$len(c.AllBatches.elements[id].checkpoints)</b> $(c.getMessage('checkpoint',self.lang))(s)
			    </div>
			</div>
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2 justify-content-start">
				<strong><a href="/find/v/$(type)_$(id)" class="btn btn-warning" role="button">$:(c.getHalfling('pouring'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				<b>$len(c.AllBatches.elements[id].source)</b> $(c.getMessage('mpouring',self.lang))
			    </div>
			</div>
		    $if type in 'cpeb' :
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2 justify-content-start">
				<strong><a href="/find/d/$(type)_$(id)" class="btn btn-warning" role="button">$:(c.getHalfling('manualdata'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				<b>$len(c.findAllFromType(type).elements[id].data)</b> $(c.getMessage('mdata',self.lang))
			    </div>
			</div>
		    $if type in 'ceb' :
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2 justify-content-start">
				<strong><a href="/find/t/$(type)_$(id)" class="btn btn-warning" role="button">$:(c.getHalfling('transfer'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				<b>$len(c.findAllFromType(type).elements[id].position)</b> $(c.getMessage('mtransfer',self.lang))
			    </div>
			</div>
		    <div class="row" style="margin-top:6px;">
			<div class="col-xs-2 justify-content-start">
			    <button type="button" class="btn btn-warning btn-md $(type)_$(id)" data-toggle="modal" data-target="#$(type)_$(id)modal">$:(c.getHalfling('info'))</button>
			</div>
			<div class="col-xs-10">
			    $(c.getMessage('info',self.lang))
			</div>
		    </div>
		    $if type == 'h':
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2 justify-content-start">
				<strong><a href="/find/b/h_$(id)" class="btn btn-warning" role="button">$:(c.getHalfling('batch'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				<b>$len(c.AllCheckPoints.elements[id].batches)</b> $(c.getMessage('batch',self.lang))
			    </div>
			</div>
		    $if type in 'cpemgugrgfh' and type not in 'u':
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2 justify-content-start">
				<strong><a href="/find/related/$(type)_$id" class="btn btn-warning" role="button">$:(c.getHalfling('related'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				$(c.getMessage('related',self.lang))
			    </div>
			</div>
		    $if type in 'cpesm' :
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2" >
				<strong><a href="/graphic/$(type)_$id" class="btn btn-warning" role="button">$:(c.getHalfling('graphic'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				$(c.getMessage('graphic',self.lang))
			    </div>
			</div>
		    $if type in 'cpesm' :
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2" >
				<strong><a href="#" class="btn btn-warning" role="button">$:(c.getHalfling('alarm'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				$(c.getMessage('alarmlog',self.lang))
			    </div>
			</div>
		    $if type in 'cpeb' :
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2" >
				<strong><a href="/export/$(type)_$(id)" class="btn btn-warning" role="button">$:(c.getHalfling('exportdata'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				$(c.getMessage('export',self.lang))
			    </div>
			</div>
		    $if c.AllBarcodes.get_barcode(elem.get_type(), elem.id) != '' :
			<div class="row" style="margin-top:6px;">
			    <div class="col-xs-2" >
				<strong><a href="/barcode/$(c.AllBarcodes.get_barcode(elem.get_type(), elem.id))" class="btn btn-warning" role="button">$:(c.getHalfling('barcode'))</a></strong>
			    </div>
			    <div class="col-xs-10">
				$(c.getMessage('barcode',self.lang))
			    </div>
			</div>			
		    <div class="row" style="margin-top:6px;">
			<div class="col-xs-2" >
			    <strong><a href="/edit/$(type)_$(id)" class="btn btn-warning" role="button">$:(c.getHalfling('edit'))</a></strong>
			</div>
			<div class="col-xs-10">
			    $(c.getMessage('update',self.lang))
			</div>
		    </div>			
                </div>
            </div>
            <div class="modal-footer row">
		<div class="col-xs-10" >
		</div>
		<button type="button" class="col-xs-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
            </div>
        </div>
    </div>
</div>
