$def with (mail, batch, id, graph)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var recursive : True
$var title : Graph Schema of Recipe
$var location :
$code:
    elem = c.AllGrRecipe.elements[id]
    usage = None
    place = None
    if batch:
        place = batch.get_actual_position_here(c)
    if place:
	gr_usage = place.get_group()
        if gr_usage and gr_usage in c.AllGrUsage.elements.keys():
	    usage = c.AllGrUsage.elements[gr_usage]
$#<p style="background: white;">$graph</p>
<div class="modal-body" style="background: white;">
  <div class="container-fluid">
    $if batch:
      <div class="row">
	<div id="modalinfo" class="col-xs-5">
	    $:c.getAllHalfling(c.AllBatches)$batch.fields['acronym'] <strong>$batch.getName(self.lang)</strong>
	</div>
	<div id="modalinfo" class="col-xs-5">
        $if place:
	    <a href="/find/related/$(place.get_type())_$(place.getID())">$:c.getAllHalfling(c.AllPlaces)$place.fields['acronym'] <strong>$place.getName(self.lang)</strong></a></br>
	</div>
      </div>
    <div class="row">
	<div id="modalinfo" class="col-xs-5">
            <a href="/find/related/gr_$elem.getID()">$:c.getAllHalfling(c.AllGrRecipe)$elem.fields['acronym'] <strong>$elem.getName(self.lang)</strong></a>
	</div>
	<div id="modalinfo" class="col-xs-5">
        $if usage:
	    <a href="/find/related/gu_$usage.getID()">$:c.getAllHalfling(c.AllGrUsage)$usage.fields['acronym'] <strong>$usage.getName(self.lang)</strong></a>
	</div>
        <div class="col-xs-2">
	    <button onClick="printSVG()">$:c.getHalfling("print")</button>
        </div>
    </div>
<div id="Controls">
<svg id="SchemaSVG" class="row" style="background-color:#E5E5E7" width="100%" height="8000px">
  <g/>
</svg>
</div>

  </div>
</div>

<script>
// digraph not strict should be multigraph
// a->b;a->b;a->b[label="1"];a->b[label="2"]; will all be displayed !
var inputGraph = 'digraph{$:graph}';
//window.alert("Input:"+inputGraph);

// Set up zoom support
var svg = d3.select("svg"),
    inner = d3.select("svg g"),
    zoom = d3.zoom().on("zoom", function() {
      inner.attr("transform", d3.event.transform);
    });
svg.call(zoom);

// Create and configure the renderer
var render = dagreD3.render();

var g;

function tryDraw() {
    try {
      g = graphlibDot.read(inputGraph);
    } catch (e) {
      window.alert("error reading "+inputGraph);
      throw e;
    }

    // Set margins, if not present
    if (!g.graph().hasOwnProperty("marginx") &&
        !g.graph().hasOwnProperty("marginy")) {
      g.graph().marginx = 20;
      g.graph().marginy = 20;
    }

    g.graph().transition = function(selection) {
      return selection.transition().duration(500);
    };

    // Render the graph into svg g
    d3.select("svg g").call(render, g);
}

tryDraw();

var printSVG = function()
    {
        var popUpAndPrint = function()
        {
            var container = $$('#Controls').html();
	    // get all <links> and remove all the <script>'s from the header that could run on the new window
	    var allLinks = $$('head').clone().find('script').remove().end().html();
	    var SchemaSVG = $$('#SchemaSVG');
            var width = parseFloat(SchemaSVG.naturalWidth);
            var height = parseFloat(SchemaSVG.naturalHeight);
            var printWindow = window.open('', 'PrintMap','width=' + width + ',height=' + height);
	    // -webkit-print-color-adjust to keep colors for the printing version
	    var keepColors = '<style>body {-webkit-print-color-adjust: exact !important; }</style>';
	    // writing
	    // onload="window.print()" to print straigthaway
	    printWindow.document.write('<html><head>' + keepColors + allLinks + '</head><body onload="window.print()">' + container + '</body></html>');
            printWindow.document.close();
        };
        setTimeout(popUpAndPrint, 500);
    };

</script>

