$def with (connected,type,id, begin, end)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var location: list/$(type)=$(c.findAll(type).get_class_acronym()) graphic/$(type)_$(id)=graphic
$code:
    allobjects = c.findAll(type)
    elem = allobjects.get(id)
    keyID = allobjects.keyColumn
    if begin:
        begin=",window_min:"+begin
    if end:
        end=",window_max:"+end
$var title : $elem.getName(self.lang)

<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot.time.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot.tooltip.min.js"></script>
<script type="text/javascript" src="/static/js/binaryXHR.js"></script>
<script type="text/javascript" src="/static/js/rrdFlotSupport.js"></script>
<script type="text/javascript" src="/static/js/rrdFlot.js"></script>
<script type="text/javascript" src="/static/js/rrdFile.js"></script>
<script type="text/javascript" src="/static/js/rrdFilter.js"></script>
<script type="text/javascript" src="/static/js/rrdFlotAsync.js"></script>
<script>
    var graph_opts={legend: { noColumns:4},
		tooltip: true,
	    	tooltipOpts: { show:true, dateFormat:"%H:%M:%S", content:"<h4>%s</h4> Value: %y.3 <br/> %x " } };
    var rrdflot_defaults={graph_width: "600px" $(begin) $(end) }
</script>
$code:
    sensors = elem.get_sensors_in_component(c)

<script>
    $$(function(){
	$$("#includedAllMenu$(type)_$(id)").load("/fullentry/$(type)_*$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>
$for k in sensors:
	$ currSensor = c.AllSensors.get(k)
	$if currSensor and currSensor.isActive():
	    <h1 id="title"><a href="/graphic/s_$currSensor.id">$:c.getHalfling('sensor') $currSensor.getName(self.lang)</a></h1>
	    <div class="row" id="mygraph$(k)"></div>
            <div class="row">
                <div class="col-sm-12">
			<form action="/rrdfetch/${k}">
			    <select name="period">
				<option value="">- - - (1 month)</option>
				<option value="300">5 mn (1 year)</option>
				<option value="1800">30 mn (5 years)</option>
			    </select>
			    <input type="submit" value="CSV" class="btn btn-primary">
			</form>
                </div>
	    </div>
	
	    <script type="text/javascript">		
		$code:
		    url = '/rrd/'+currSensor.getRRDName()
		    dsName = currSensor.fields['acronym']
                    dsColor = ''
	   	    if 'color' in dsColor:
                        dsColor = currSensor.fields['color']
		    if not dsColor:
			dsColor = "#0080ff"
		var ds_graph_opts = { '$dsName': { color:'$dsColor' }};
		flot_obj=new rrdFlotAsync("mygraph$(k)","$url",null,graph_opts,ds_graph_opts,rrdflot_defaults);
                // $$("#mygraph$(k)_ds_cb").parent().hide();
	    </script>
