$def with (connected, type,id, errormess, data, context='')
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$ rmq = ''
$var title : ELSA group
$code:
    AllObjects = c.findAll(type)
    precision = None
    elem = None
    kRec = 'gr'
    kUse = 'gu'
$if id == 'new':
    $var location: list/$(type)=$(AllObjects.get_class_acronym()) edit/$(type)_new=add
    $code:
	if data and 'recipe' in data:
	    kRec = 'gr_'+data['recipe']
	elif context and context.startswith('gr_'):
	    kRec = context
	if data and 'usage' in data:
	    kUse = 'gu_'+data['usage']
	elif context and context.startswith('gu_'):
	    kUse = context
$else:
    $var location: list/$(type)=$(AllObjects.get_class_acronym()) edit/$(type)_$(id)=edit
    $code:
	elem = AllObjects.get(id)
	if elem:
		if 'gr_id' in elem.fields:
			kRec = 'gr_'+elem.fields['gr_id']
		if 'gu_id' in elem.fields:
			kUse = 'gu_'+elem.fields['gu_id']
    $ rmq = (elem.fields['remark'])
    $var title : $(elem.getName(self.lang))
$if errormess != '':
    $if 'remark' in data :
	$ rmq = data['remark']
$ aRecipe = c.AllGrRecipe.get(kRec)
<div class="container">
    
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>
	
	$if type =='h':
	    <div id="divRecipe"></div>
	    <script>
		$$(function(){
			$$("#divRecipe").load("/select/recipe/$(kRec)");
		    });
	    </script>
	    <div id="divUsage"></div>
	    <script>
		$$(function(){
			$$("#divUsage").load("/select/usage/$(kUse)");
		    });
	    </script>
	    
	$if type =='h' or type == 'gu':
	    <div class="form-group row">
		<label for="rankinput" class="col-sm-3 col-form-label">$:(c.getHalfling('rank'))$(c.getMessage('rank',self.lang))</label>
		<div class="col-sm-9">
		    <input name="rank" type="number" class="form-control" 
		    $if errormess != '':
			$if 'rank' in data :
			    value="$data['rank']" 
		    $elif id != 'new':
			value="$elem.fields['rank']"
		    $else:
			value="1"		
		    id="rankinput">
		</div>
	    </div>
	
	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$:c.getAllHalfling(AllObjects)$(c.getMessage('acronym',self.lang))</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="Acronym" 
		$if errormess != '':
		    $if 'acronym' in data :
			value="$data['acronym']" 
		$elif id != 'new':
		    value="$elem.fields['acronym']"
		$elif context != '' and context.startswith('gr_'):
		    value="$(c.AllGrRecipe.get(context.split('_')[-1]).proposedMemberAcronym(c))"
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-3 col-form-label">$c.getMessage('name',self.lang)</label>
	</div>
	
	$for k,v in c.AllLanguages.elements.items():
	    <div class="form-group row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-3">
		    <strong>$v.fields['name']</strong>
		</div>
		<div class="col-sm-8">
		    <input name="$k" type="text" class="form-control" id="inputName" placeholder="Name"
		$if errormess != '':
		    $if k in data :
			value="$data[k]"
		$elif id !='new':
		    value="$elem.get_real_name(k)"
		$if self.lang == k: 
		    required="true"
		>
		</div>
	    </div>
	
	<div class="form-group row">
	    <label for="inputBarcode" class="col-sm-3 col-form-label">$:c.getHalfling('barcode') $c.getMessage('code',self.lang)</label>
	    <div class="col-sm-9">
		<input name="code" type="number" min="0" step="1" class="form-control" id="inputBarcode" placeholder="$c.getMessage('code',self.lang)" 
		$if errormess != '':
		    $if 'code' in data :
			value="$data['code']"
		$elif id != 'new':
		    value="$c.AllBarcodes.get_barcode(elem.get_type(), id)"
		>
	    </div>
	</div>
	
	$if type == 'gr':
		<div class="form-group row">
		<label for="usage" class="col-sm-3 col-form-label">$:c.getAllHalfling(c.AllTransfers) $c.getMessage('startup',self.lang) :</label>
		</div>
		<div id="divUsage"></div>
		<script>
			$$(function(){
				$$("#divUsage").load("/select/usage/$(kUse)");
			    });
		</script>
		<div class="form-group row">
		    <label for="inputLifespan" class="col-sm-3 col-form-label">$c.getMessage('lifespan',self.lang)</label>
		    <div class="col-sm-4">
			<input name="lifespan" type="number" step="1" min="0" max="99999" class="form-control" id="inputLifespan" placeholder="$c.getMessage('days',self.lang)" 
			    $if errormess != '':
				$if 'lifespan' in data :
				    value="$data['lifespan']" 
			    $elif elem:
				value="$elem.fields['lifespan']"
			>
		    </div>
		    <div class="col-sm-5">
			$if elem:
				$ lifespan = elem.lifespan()
				$if lifespan:
					$lifespan
			$c.getMessage('days',self.lang)
		    </div>
		</div>
		<div class="form-group row">
		    <label for="measureSelect" class="col-sm-3 col-form-label">$c.getMessage('measure',self.lang)</label>
		    <div class="col-sm-9">
			<select name = "measure" class="form-control" id="measureSelect">
			    <option value=""> </option>
			    $for k in c.AllMeasures.get_sorted_hierarchy():
				$ aMeasure = c.AllMeasures.get(k)
				$if aMeasure:
					<option value="$k"
					$if errormess != '':
					    $if 'measure' in data :
						$if k == data['measure']:
						    selected
					$elif id !='new':
						$if k == elem.fields['m_id'] :
						    selected
					>$(aMeasure.get_select_str(self.lang))</option>
			</select>
		    </div>
		</div>
		
		$if elem:
			$ precision = elem.get_measure(c)
		<div class="form-group row">
		    <label for="inputQty" class="col-sm-3 col-form-label">$c.getMessage('quantity',self.lang)</label>
		    <div class="col-sm-5">
			<input name="basicqt" type="number" class="form-control" id="inputQty" placeholder="$c.getMessage('quantity',self.lang)" 
			    $if errormess != '':
				$if 'basicqt' in data :
				    value="$data['basicqt']" 
			    $elif id != 'new':
				value="$elem.fields['basicqt']"
				$if precision:
				   min="$(precision.fields['min'])" max="$(precision.fields['max'])" step="$(precision.get_html_step())"
			>
		    </div>
		    <div class="col-sm-4">
			$if elem:
			    $elem.field('basicqt')
		    </div>
		</div>
		
		<div class="form-group row">
		    <label for="inputCost" class="col-sm-3 col-form-label">$c.getMessage('unitcost',self.lang)</label>
		    <div class="col-sm-5">
			<input name="cost" type="number" step="0.01" class="form-control" id="inputCost" placeholder="$c.getMessage('cost',self.lang)" 
			    $if errormess != '':
				$if 'cost' in data :
				    value="$data['cost']" 
			    $elif elem:
				value="$elem.fields['cost']"
			>
		    </div>
		    <div class="col-sm-4">
			$if elem:
			    $elem.field('cost')
			$c.currency
		    </div>
		</div>
		<div class="form-group row">
		    <label for="inputFixedCost" class="col-sm-3 col-form-label">$c.getMessage('fixedcost',self.lang)</label>
		    <div class="col-sm-5">
			<input name="fixed_cost" type="number" step="0.01" class="form-control" id="inputFixedCost" placeholder="$c.getMessage('cost',self.lang)" 
			    $if errormess != '':
				$if 'fixedcost' in data :
				    value="$data['fixed_cost']" 
			    $elif elem:
				value="$elem.fields['fixed_cost']"
			>
		    </div>
		    <div class="col-sm-4">
			$if elem:
			    $elem.field('fixed_cost')
			$c.currency
		    </div>
		</div>

		<div class="form-group row">
		    <label for="providerSelect" class="col-sm-3 col-form-label">$c.getMessage('provider',self.lang)</label>
		    <div class="col-sm-9">
			<select name = "provider_gf_id" class="form-control" id="providerSelect">
			    <option></option>
			    $for k in c.AllGrFunction.get_sorted_hierarchy():
				$ aFunction = c.AllGrFunction.get(k)
				$if aFunction:
					<option value="$k"
					$if errormess != '':
					    $if 'provider_gf_id' in data :
						$if k == data['provider_gf_id']:
						    selected
					$elif elem:
						$if k == elem.fields['provider_gf_id'] :
						    selected
					>$(aFunction.get_select_str(self.lang))</option>
			</select>
		    </div>
		</div>
		<div class="form-group row">
		    <label for="buyerSelect" class="col-sm-3 col-form-label">$c.getMessage('buyer',self.lang)</label>
		    <div class="col-sm-9">
			<select name = "buyer_gf_id" class="form-control" id="buyerSelect">
			    <option></option>
			    $for k in c.AllGrFunction.get_sorted_hierarchy():
				$ aFunction = c.AllGrFunction.get(k)
				$if aFunction:
					<option value="$k"
					$if errormess != '':
					    $if 'buyer_gf_id' in data :
						$if k == data['buyer_gf_id']:
						    selected
					$elif elem:
						$if k == elem.fields['buyer_gf_id'] :
						    selected
					>$(aFunction.get_select_str(self.lang))</option>
			</select>
		    </div>
		</div>
	$if type == 'h':
	    <div class="form-group row">
		<label for="inputabstract" class="col-sm-3 col-form-label">$c.getMessage('abstract',self.lang)</label>
		<span class="glyphicon glyphicon-remove-circle"> </span>
		$code:
		    cond = (id != 'new')
		    if cond :
			cond = (elem.fields['abstract'] == 1 or elem.fields['abstract'] == '1')
		    if errormess != '' :
			if 'abstract' in data :
			    cond  = True
			else:
			    cond = False
		<label class="switch">
			<input id='inputabstract' name="abstract" type="checkbox" value="1" $('checked' if cond else '')>
			<div class="slider round"></div>
		</label>
		<span class="glyphicon glyphicon-ok-circle"> </span>
	    </div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="Remark" >$rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <script>
		$$(function(){
		    $$("#includedGroup").load("/selectmul/$(type)_$(id)/$(context)");
		});
	    </script>
	    <div id="includedGroup" class="col-sm-12"></div>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = (id == 'new')
		if not cond :
		    cond = elem.isActive()
	    <label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	<div class="form-group row">
	    <label for="inputImage" class="col-sm-3 col-form-label">$c.getMessage('file',self.lang)</label>
	    <label class="control-label col-sm-9">
	        <input id="inputImage" name="placeImg" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "jpeg", "png"]'>
            </label>
	</div>

	<div class="form-group row">
	    <label for="inputFile" class="col-sm-3 col-form-label">$c.getMessage('document',self.lang)</label>
	    <label class="control-label col-sm-9">
            $ i=0
	    $if id != 'new':
		    $for filename in elem.getDocumentList():
		        $ i=i+1
			<a href="/files/$(elem.getTypeId())?remove=$filename" class="btn btn-danger" onclick="return(YNmessage(this,'$(c.getMessage("remove",self.lang))','$filename'))">X</a> &nbsp;
			($(i)) <a href="$elem.getDocumentURL(filename)" target="_blank">$filename</a><br/>
	    <input id="inputFile" name="linkedDocs" type="file" multiple class="file file-loading"'>
            </label>
	</div>

	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/find/related/$(type)_$(id)"
		$else :
		    href="/list/$(type)"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
	
    </form>
</div>

$if type == 'h':
    <script>
    function recipeChange() {
	var select = document.getElementByName("recipe");
	var value = select.options[select.selectedIndex].text.split(" -")[0];
	value = value.replace(/____/g , "")
	document.getElementById("inputAcronym").value = value+"_";
    }
    </script>
