$def with (connected, mail)
$var title : ELSA
$var location : index
$var allowed : nothing
$var lang : disconnected
$var recursive : False
<h4> $useful.timestamp_to_ISO(useful.get_timestamp())
$if connected is True:
	$var allowed : $c.connectedUsers.users[mail].cuser.allowed(c)
	$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
        : $c.getMessage('welcome',self.lang) <em>$c.connectedUsers.users[mail].cuser.getName(self.lang)</em>
	</h4>
	$ elements = c.AllBatches.get_sorted()
	$for a in elements:
	    $ elem = c.AllBatches.elements[a]
	    $if id == 'all' or (elem.isActive() and not elem.isComplete()) :
		<script>
		    $$(function(){
			$$("#includedMenub_$(a)").load("/fullentry/b_$(a)");
		    });
		</script>
		<div id="includedMenub_$(a)"></div>	
	<div class="row active" style="background-color:rgb(0, 21, 43);">
	    <div class="col-sm-5">
	    </div>
	    <div class="col-sm-6" id="addItem">
	    $if ( " upd_b " ) in self.allowed:
		<a href="/create/b">$:c.getHalfling('add') $c.getName(c.AllBatches,self.lang)</a>
	    </div>
	</div>    
$else :
    $var title : ELSA login
    </h4><div>
	<p>ELSA stores sensors data and observations made at the different Control Points of your production.</p>
	<h1>Please log-in</h1>
	<p>You must be logged in to use the application</p>

	<form class="form-inline" method="post" action="" id="loginForm" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	    <input type="hidden" name="erroruri" value=""/>
	    <div class="form-group">
		<input type="email" name="_username_" placeholder="Email" class="form-control" size="20" autofocus/>
	    </div>
	    <div class="form-group">
		<input type="password" name="_password_" placeholder="Password" class="form-control" size="8"/>
	    </div>
	    <span class="sr-only">Log in</span>
	    <span class="totip" data-toggle="tooltip" data-placement="bottom" title="log-IN" style="pointer-events: auto;">
		<input type="hidden" name="method" id="method" value="login">
		<button type="submit" name="login" class="btn btn-success" id="loginSubmit">
		    <span class="glyphicon glyphicon-user"></span>
		    <span class="glyphicon glyphicon-log-in"></span>
		</button>
	    </span>
	</form>
	$code:
           result = subprocess.check_output(['ip','-4', '-o','addr'])
           result = result.split('\n')
           parsedResult = []
           for line in result:
               line = line.split('scope')[0].split('brd')[0].strip()
               parsedResult.append(line)
           toDisplay = '</br>'.join(x for x in parsedResult)
        <pre>$:toDisplay</pre>
    </div>
