$def with (type, id,mail)
$code :
    elem = c.findAllFromType(type).elements[id]
$var recursive : False
$var title : ELSA $(c.findAllFromType(type).get_class_acronym())
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var location: list/$(type)=$(c.findAllFromType(type).get_class_acronym())

$if not type in 'tdv':
	<script>
	    $$(function(){
		$$("#includedMenu$(type)_$(id)").load("/fullentry/$(type)_*$(id)");
		$$("#includedModal$(type)_$(id)").load("/modal/$(type)_$(id)?direct=1");
	    });
	</script>
 	<div id="includedMenu$(type)_$(id)"></div>
 	<div id="includedModal$(type)_$(id)"></div>
