$def with (connected, type, id)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$code :
    elem = c.findAll(type).get(id)
$var recursive : False
$var title : ELSA $(c.findAll(type).get_class_acronym())
$var bcTop:
$var bcOwner:
$var bcElem:$(type)_$id
$var bcOperation:list
	<script>
	    $$(function(){
		$$("#includedMenu$(type)_$(id)").load("/fullentry/$(type)_*$(id)");
		$$("#includedModal$(type)_$(id)").load("/modal/$(type)_$(id)?direct=1");
	    });
	</script>
 	<div id="includedMenu$(type)_$(id)"></div>
 	<div id="includedModal$(type)_$(id)"></div>
