$def with(content)
$if content.recursive == 'False' :
    $if content.lang == 'disconnected':
	$var tmp : disconnected
        $var title : Log-In
    $else:
	$var tmp : connected 
    <!doctype html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>$(content.title)</title>
	    <meta name="description" content="">
	    <link rel="icon" type="image/png" href="/static/favicon.ico">

	    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	    <style>
		body {
		    padding-top: 50px;
		    padding-bottom: 20px;
		}
	    </style>
	    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="/static/css/main.css">
	    <link rel="stylesheet" href="/static/css/glyphicons-halflings.css">
	    <link rel="stylesheet" href="/static/css/dagre.css">
	    <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	    <script src="/static/js/jquery.js"></script>
	    <script src="/static/js/vendor/bootstrap.min.js"></script>
	    <script src="/static/js/plugins.js"></script>
	    <script src="/static/js/helper.js"></script>
            <script src='/static/js/jquery.qrcode.js'></script>
            <script src='/static/js/qrcode.js'></script>
            <script src='/static/js/JsBarcode.ean-upc.min.js'></script>
	    <script src="/static/js/dagre.core.min.js"></script>
	    <script src="/static/js/dagre.min.js"></script>
	    <script src="https://d3js.org/d3.v4.js"></script>
	    <script src="https://dagrejs.github.io/project/graphlib-dot/v0.6.3/graphlib-dot.js"></script>
	    <script src="/static/js/dagre-d3.core.min.js"></script>
	    <script src="/static/js/dagre-d3.min.js"></script>
 	</head>
	<body>
	    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->
            <script>
              function scalescreen() {
		      var scaling = 1;
                      var maxWidth = screen.width;
	              if ((maxWidth < 768) && (window.devicePixelRatio > 1)) {
	                scaling = window.devicePixelRatio;
	                maxWidth = (maxWidth * scaling).toFixed(0);
	                if (maxWidth > 1024) {
			  scaling = 800 / maxWidth;
                          maxWidth = 800;
	                }
                        
	                //document.documentElement.style.transform = "scale(1/"+scaling+")";      
                        //document.documentElement.style.transformOrigin = 'top left';
	              }
                      $$('meta[name="viewport"]').attr("content","device-width="+maxWidth+", initial-scale="+scaling);
                      //$$('#debug').text("dpr="+window.devicePixelRatio+", scale="+scaling+", max="+maxWidth+", scr="+screen.width+", win="+window.innerWidth+", cli="+document.documentElement.clientWidth);
              }

              $$(window).on("orientationchange", function (event) {
                  scalescreen();
              } );

              $$(window).on("ready", function (event) {
                  scalescreen();
              } );

              $$(window).on("resize", function (event) {
                  scalescreen();
              } );

              function YNconfirm(el) {
                if (window.confirm("Go to "+$$(el).attr("href")+" ?")) {
		  window.location.href = $$(el).attr("href");
                  return true;
                } else {
                  return false;
                }
              }
            </script>

        <div class="container">
	    <nav class="navbar navbar-inverse navbar-expand-sm" role="navigation">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/" style="margin-top:-10px;"><img src="/static/img/akuino.png" border="0" alt="This application stores the configuration and the data of the different AKUINO modules installed"/></a>
		</div>
			
		<div id="navbar" class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.getMessage('component',content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/p" tabindex="-1">$:c.getHalfling('place')&nbsp;$c.getMessage('place',content.lang)</a></li>
				<li><a href="/list/e" tabindex="-2">$:c.getHalfling('equipment')&nbsp;$c.getMessage('equipment',content.lang)</a></li>
				<li><a href="/list/c" tabindex="-3">$:c.getHalfling('container')&nbsp;$c.getMessage('container',content.lang)</a></li>
				<li><a href="/list/gu" tabindex="-4">$:c.getHalfling('guse')&nbsp;$c.getMessage('guse',content.lang)</a></li>				
				<li><a href="/map/gu" tabindex="-5">$:c.getHalfling('datatable')&nbsp;$c.getMessage('schema',content.lang)</a></li>				
			    </ul>
			</li>
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.getMessage('data',content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/m" tabindex="-1">$:c.getHalfling('measure')&nbsp;$c.getMessage('measure',content.lang)</a></li>
				<li><a href="/list/a" tabindex="-2">$:c.getHalfling('alarm')&nbsp;$c.getMessage('alarm',content.lang)</a></li>
				<li><a href="/list/s" tabindex="-3">$:c.getHalfling('sensor')&nbsp;$c.getMessage('sensor',content.lang)</a></li>
			    </ul>
			</li>
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.getMessage('checkpoint',content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/h" tabindex="-1" class="blue">$:c.getHalfling('checkpoint')&nbsp;$c.getMessage('checkpoint',content.lang)</a></li>
				<li><a href="/list/dm" tabindex="-2" class="blue">$:c.getHalfling('manualdatamodel')&nbsp;$c.getMessage('manualdatamodel',content.lang)</a></li>
				<li><a href="/list/tm" tabindex="-3" class="blue">$:c.getHalfling('transfermodel')&nbsp;$c.getMessage('transfermodel',content.lang)</a></li>
				<li><a href="/list/vm" tabindex="-4">$:c.getHalfling('pouringmodel')&nbsp;$c.getMessage('pouringmodel',content.lang)</a></li>
				<li><a href="/map/h" tabindex="-5">$:c.getHalfling('datatable')&nbsp;$c.getMessage('schema',content.lang)</a></li>				
			    </ul>
			</li>
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.getMessage('production',content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/b" tabindex="-1">$:c.getHalfling('batch')&nbsp;$c.getMessage('batch',content.lang)</a></li>
				<li><a href="/list/gr" tabindex="-2">$:c.getHalfling('grecipe')&nbsp;$c.getMessage('grecipe',content.lang)</a></li>
				<li><a href="/create/d" tabindex="-3">$:c.getHalfling('manualdata')&nbsp;$c.getMessage('manualdata',content.lang)</a></li>
				<li><a href="/create/t" tabindex="-4">$:c.getHalfling('transfer')&nbsp;$c.getMessage('transfer',content.lang)</a></li>
				<li><a href="/create/v" tabindex="-5">$:c.getHalfling('pouring')&nbsp;$c.getMessage('pouring',content.lang)</a></li>
			    </ul>
			</li>
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.getMessage('people',content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/u" tabindex="-1">$:c.getHalfling('user')&nbsp;$c.getMessage('user',content.lang)</a></li>
				<li><a href="/list/gf" tabindex="-2">$:c.getHalfling('gfunction')&nbsp;&nbsp;$c.getMessage('gfunction',content.lang)</a></li>
				<li><a href="/backup" tabindex="-3">$:c.getHalfling('backup')&nbsp;$c.getMessage('backup',content.lang)</a></li>
				$if self.tmp == 'connected':
				    <li><a href="/disconnect" tabindex="-4">$:c.getHalfling('disconnect')&nbsp;$c.getMessage('disconnect',content.lang)</a></li>
			    </ul>
			</li>
		    </ul>
		    $if self.tmp == 'connected':
			<button onclick="generateQRCode()" type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#modal_barcode" aria-expanded="false" aria-controls="navbar" style="margin-top:5px;">$:c.getHalfling('barcode')</button>
		</div><!--/.navbar-collapse -->
	    </nav>
	    <div style="margin-top:10px;font-size:20px;">
		$if content.location != 'index' :
		    <a href="/"><span class="glyphicon glyphicon-home"></span>   </a>
		    $ url = '/'
		    $for elem in content.location.split():
                        $ splitted=elem.split('=')
                        $if len(splitted) > 1:
			    $ tmp=url+splitted[0]
			    $ css=''
			    $if 'tm' in tmp or 'vm' in tmp or 'dm' in tmp:
			        $ css='blue'
			    / <a href="$tmp" class="$(css)">$:c.getHalfling(splitted[1])&nbsp;$c.getMessage(splitted[1],content.lang)</a>
	    </div>
	    <div style="margin-top:10px;">
		$:content
	    </div>
            <hr>
            <footer style="margin-top:20px;">
                <div class="col-sm-11 text-center"><a href="https://www.akuino.net" onclick="return(YNconfirm(this))">AKUINO</a>, &copy;<small><a href="https://www.destin-informatique.com" onclick="return(YNconfirm(this))">DESTIN-Informatique</a>, <a href="https://www.glyphicons.com" onclick="return(YNconfirm(this))">GlyphIcons</a>, 2016-2018</small></div>
	    </footer>
	</div>
    
    <div class="modal" id="modal_barcode">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header row ">
		    <div class="col-sm-2" >
			<strong>$:c.getHalfling('barcode')</strong>
		    </div>
		    <h4 class="modal-title col-sm-6 "> Search by barcode</h4>
		    <div class="col-sm-2" >
		    </div>
		    <button type="button" class="col-sm-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
		</div>
		    <script>
			function myFunction() {
			    value = document.getElementById("inputBarcode").value;
			    window.location.replace("/barcode/"+value);
			}
		    </script>
		<div class="modal-body">
		    <form action="/barcode/" onsubmit="myFunction()">
			<div class="form-group row">
			    <label for="inputBarcode" class="col-sm-3 col-form-label">$c.getMessage('barcode',content.lang)</label>
			    <div class="col-sm-9">
				<input name="barcode" type="text" class="form-control" id="inputBarcode" placeholder="$c.getMessage('barcode',content.lang)" required="true" onsubmit="myFunction()" autofocus>
			    </div>
			</div>
			<button type= "submit" onclick="myFunction()" onsubmit="myFunction()" class="btn btn-primary btn-block" href ="/barcode/">Search</button>
		    </form>
                    <div id="qrCodeCurrUrl"></div>
		</div>
		<div class="modal-footer row">
		    <div class="col-sm-10" >
		    </div>
		    <button type="button" class="col-sm-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
		</div>
	    </div>
	</div>
    </div>
    <script>
       scalescreen();
    </script>
    </body>
    </html>
$else:
    $:content
