$def with (mail)
$var location: list/t=transfer
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var recursive : False

<!--div class="row">
    <label for="graphSelect" class="col-sm-3 col-form-label">$c.getMessage('selecttransfer',self.lang)</label>
    <div class="col-sm-9">
	<select id="choice" onchange="fname_update()">
	    $for k,b in c.AllBatches.elements.items():
	      $if b.isActive() and not b.isComplete():
		<option value="b_$k">$b.fields['acronym'] - $b.getName(self.lang) </option>
	</select>
	<button>See</button>
    </div>
</div-->  

<div class="row active" style="background-color:rgb(0, 21, 43);margin-top:10px;">
    <div class="col-xs-5">
    </div>
    <div class="col-xs-6" id="addItem">
	<a href="/transfers/new/new">$:c.getHalfling('add') $c.getMessage('transfer',self.lang)</a>
    </div>
</div> 
