$def with (id,mail)
$var recursive : False
$code:
    permissionKey = 'm_'
    elem = c.AllMeasures.elements[id]
    keyID = c.AllMeasures.keyColumn
    
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var location: list/m=$(c.findAllFromType('m').get_name_object()) find/d/m_$(id)=manualdata

<script>
    $$(function(){
	$$("#includedAllMenum_$(id)").load("/fullentry/m_$(id)");
    });
</script>
<div id="includedAllMenum_$(id)"></div>


<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <label class="col-sm-12">$c.AllMessages.elements['sensor'].getName(self.lang) :</label>    
    $for k,sensor in c.AllSensors.elements.items():
	$if sensor.fields['m_id'] == id :
	    <script>
		$$(function(){
		    $$("#includedMenus_$(k)").load("/fullentry/s_$(k)");
		});
	    </script>
	    <div id="includedMenus_$(k)"></div>
</div>

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:0px;padding:15px;">
    <label class="col-sm-12"><span class="$c.AllHalflings.elements[c.AllManualData.get_name_object()].getHalfling()"></span>$c.AllMessages.elements['manualdata'].getName(self.lang) </label>    
</div>
<div class="row active" style ="background-color:#E5E5E7;margin-top:0px;margin-bottom:0px;padding:15px;">
    <label class="col-sm-3">$c.AllMessages.elements['time'].getName(self.lang)</label>
    <label class="col-sm-2">$c.AllMessages.elements['checkpoint'].getName(self.lang)</label>
    <label class="col-sm-3">$c.AllMessages.elements['measure'].getName(self.lang)</label>
    <label class="col-sm-3">$c.AllMessages.elements['remark'].getName(self.lang)</label>
</div>
<div class="row active" style ="background-color:#E5E5E7;margin-top:0px;margin-bottom:10px;padding:15px;">
    $for k,data in c.AllManualData.elements.items():
	$if data.fields['m_id'] == id :
	    <div class="row active" style="color:#f07e26;">
		<div class="col-xs-3" >
		    $data.fields['time']
		</div>	    
		<div class="col-xs-2" >
		    $if data.fields['h_id'] != '' :
		        <a href="/find/related/h_$(data.fields['h_id'])"><span class="$c.AllHalflings.elements[c.AllCheckPoints.get_name_object()].getHalfling()"></span>$c.AllCheckPoints.elements[data.fields['h_id']].fields['acronym']</a>
		</div>
		<div class="col-xs-3" >
			<strong>$data.fields['value']</strong>  $elem.fields['unit']</a>
		</div>
		<div class="col-xs-3" >
		    $data.fields['remark']
		</div>
		<div class="col-xs-1">
		    <strong><a href="/edit/d_$k" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-edit"></span></a></strong>
		</div>
	    </div>
</div>
