$def with (connected)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var bcTop:t
$var bcElem:
$var bcOwner:
$var bcOperation:list

<div class="row active" style="background-color:rgb(0, 21, 43);margin-top:10px;">
    <div class="col-xs-5">
    </div>
    <div class="col-xs-6 addItem">
	<a href="/transfers/new/new">$:c.getHalfling('add') $c.getMessage('transfer',self.lang)</a>
    </div>
</div> 
