$def with (id, mail, errormess, context='')
$var recursive : False
$var allowed : $c.connectedUsers.users[mail].cuser.allowed(c)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$var title: $c.getMessage('add',self.lang) $c.getName(c.AllManualData,self.lang)
$if id == 'new' and context == '':
    $code :
	myID = 'new'
	rmq = ''
	cond = True
    $var location: /find/m=manualdata create/m=add
$elif id == 'new':
    $code:
	myID = 'component'
	elem = c.findAllFromType(context.split('_')[0]).elements[context.split('_')[-1]]
	rmq = ''
	cond = True
$else :
    $code:
	if not id.split('_')[0] in 'bcep':
	    data = c.AllManualData.elements[id]
	    elem = c.findAllFromType(data.fields['object_type']).elements[data.fields['object_id']]
	    myID = 'update'
	    rmq = data.fields['remark']
	    cond = (data.fields['active'] == 1 or data.fields['active'] == '1')
    $var title: $c.getMessage('update',self.lang) $c.getName(c.AllManualData,self.lang)
$if myID == 'update':
    $var location: list/$(elem.get_type())=$(elem.get_class_acronym()) manualdata/$(elem.get_type())_$(elem.getID())=manualdata edit/m_$(data.getID())=edit
$elif myID == 'component':
    $var location: list/$(id.split('_')[-0])=$(elem.get_class_acronym()) manualdata/$(id.split('_')[0])_$(elem.getID())=manualdata transfers/$(id.split('_')[0])_$(elem.getID())/new=add
<div class="container">
    <form  method="post" action="" id="modifyManualData"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.getMessage('time',self.lang)</label>
	    <div class="col-sm-9">
		<input name="time" type="text" class="form-control" id="inputTime" placeholder="$c.getMessage('dateentry',self.lang)" 
		$if myID == 'update':
		    value="$data.fields['time']"
		$else :
		    value ="$c.get_time()"
		required ="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="itemSelect" class="col-sm-3 col-form-label">$c.getMessage('component',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "component" class="form-control" id="langSelect">
		    $if myID == 'new':
			<optgroup label="$c.getMessage('place',self.lang)">
			    $for k,e in c.AllPlaces.elements.items():
			      $if e.isActive():
				<option value="p_$k"
				    $if myID == 'component':
					$if 'p' == elem.get_type() and k == elem.getID(): 
					    selected
				>$e.fields['acronym'] - $e.getName(self.lang) </option>
			    </optgroup>
			    <optgroup label="$c.getMessage('equipment',self.lang)">
			    $for k,e in c.AllEquipments.elements.items():
			      $if e.isActive():
				<option value="e_$k"
				    $if myID == 'component':
					$if 'e' == elem.get_type() and k == elem.getID(): 
					    selected			
				>$e.fields['acronym'] - $e.getName(self.lang) </option>
			    </optgroup>
			    <optgroup label="$c.getMessage('container',self.lang)">
			    $for k,e in c.AllContainers.elements.items():
			      $if e.isActive():
				<option value="c_$k"
				    $if myID == 'component':
					$if 'c' == elem.get_type() and k == elem.getID(): 
					    selected
				>$e.fields['acronym'] - $e.getName(self.lang) </option>
			    </optgroup>
			    <optgroup label="$c.getMessage('batch',self.lang)">
			    $for k,e in c.AllBatches.elements.items():
			      $if e.isActive() and not e.isComplete():
				<option value="b_$k"
				    $if myID == 'component':
					$if 'b' == elem.get_type() and k == elem.getID(): 
					    selected
				>$e.fields['acronym'] - $e.getName(self.lang) </option>
			    </optgroup>
		    $else:
			<option value="$(elem.get_type())_$(elem.getID())">$elem.fields['acronym'] - $elem.getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="measureSelect" class="col-sm-3 col-form-label">$c.getMessage('measure',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "measure" class="form-control" id="measureSelect">
                    $ aMeasure = None
		    $for k in c.AllMeasures.elements.keys():
                        $ currMeasure = c.AllMeasures.elements[k]
			<option value="$k"
			    $if myID == "update":
				$if k == data.fields['m_id']:
				    selected			
			>$(currMeasure.get_select_str(self.lang))</option>
		</select>
	    </div>
	</div>
	<!-- TODO: Adapt to dynamic change of measure and set min,max and step to input value-->
	<div class="form-group row">
	    <label for="inputValue" class="col-sm-3 col-form-label">$c.getMessage('value',self.lang)</label>
	    <div class="col-sm-9">
		<input name="value" type="number" class="form-control" id="inputValue" placeholder="$c.getMessage('value',self.lang)" 
		$if myID == 'update':
		    value="$data.fields['value']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="alarmSelect" class="col-sm-3 col-form-label">$c.getMessage('alarm',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "a_id" class="form-control" id="alarmSelect">
		    <option value=""></option>
		    $for k in c.AllAlarms.elements.keys():
			<option value="$k">$c.AllAlarms.elements[k].fields['acronym'] - $c.AllAlarms.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    <label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/find/d/$(elem.get_type())_$(elem.getID())"
		$else :
		    href="/index"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>

<script>
var mins = [];
var maxs = [];
var steps = [];
$for k in c.AllMeasures.elements.keys():
    $ aMeasure = c.AllMeasures.elements[k]
    mins[$k]=$(aMeasure.fields['min']);
    maxs[$k]=$(aMeasure.fields['max']);
    steps[$k]='$(aMeasure.get_html_step())';

$$("#measureSelect").change(function() {
    $$("#measureSelect option:selected").each(function() {
       var v = this.value;
       $$("#inputValue").attr({
         "max" : maxs[v],
         "min" : mins[v],
         "step" : steps[v]
       });
    });
}).change();
</script>
