$def with (connected, id, errormess, data, context='')
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var title: $c.getMessage('add',self.lang) $c.getName(c.AllManualData,self.lang)
$if id == 'new' and context == '':
    $code :
	myID = 'new'
	rmq = ''
	cond = True
    $var location: /find/m=manualdata create/m=add
$elif id == 'new':
    $code:
	myID = 'component'
	splits = context.split('_')
	elem = c.get_object(splits[0],splits[-1])
	rmq = ''
	cond = True
$else :
    $code:
	if not id.split('_')[0] in 'bcep':
	    manudata = c.AllManualData.get(id)
	    elem = c.get_object(manudata.fields['object_type'],manudata.fields['object_id'])
	    myID = 'update'
	    rmq = manudata.fields['remark']
	    cond = manudata.isActive()
    $var title: $c.getMessage('update',self.lang) $c.getName(c.AllManualData,self.lang)
$if myID == 'update':
    $var location: list/$(elem.get_type())=$(elem.get_class_acronym()) manualdata/$(elem.get_type())_$(elem.getID())=manualdata edit/m_$(manudata.getID())=edit
$elif myID == 'component':
    $var location: list/$(id.split('_')[-0])=$(elem.get_class_acronym()) manualdata/$(id.split('_')[0])_$(elem.getID())=manualdata transfers/$(id.split('_')[0])_$(elem.getID())/new=add
<div class="container">
    <form  method="post" action="" id="modifyManualData"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
        $if myID == 'update':
		<input type="hidden" name="h_id" value="$manudata.fields['h_id']"/>
		<input type="hidden" name="origin" value="$manudata.fields['dm_id']"/>
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.getMessage('time',self.lang)</label>
	    <div class="col-sm-9 parent">
		<input name="time" type="text" class="form-control input" id="inputTime" placeholder="$c.getMessage('dateentry',self.lang)" 
		$if myID == 'update':
		    value="$manudata.fields['time']"
		$else :
		    value ="$c.get_time()"
		required ="true"><script>rome.moment.locale("$(self.lang.lower())");rome(inputTime,{"inputFormat": "YYYY-MM-DD HH:mm:ss"});</script>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="itemSelect" class="col-sm-3 col-form-label">$c.getMessage('component',self.lang)</label>
	    <div class="col-sm-9">
		<select name="component" class="form-control" id="langSelect">
		    $if myID == 'new':
			$:c.AllGrUsage.component_options(None,elem.get_type() if elem else None,elem.getID() if elem else None,self.lang)
		    $else:
			<option value="$(elem.get_type())_$(elem.getID())">$elem.fields['acronym'] - $elem.getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="measureSelect" class="col-sm-3 col-form-label">$c.getMessage('measure',self.lang)</label>
	    <div class="col-sm-9">
		<select name="measure" class="form-control" id="measureSelect">
                    $ aMeasure = None
		    $for k,currMeasure in c.AllMeasures.get_sorted().items():
			<option value="$currMeasure.getID()"
			    $if myID == "update":
				$if currMeasure.getID() == manudata.fields['m_id']:
				    selected			
			>$(currMeasure.get_select_str(self.lang))</option>
		</select>
	    </div>
	</div>
	<!-- TODO: Adapt to dynamic change of measure and set min,max and step to input value-->
	<div class="form-group row">
	    <label for="inputValue" class="col-sm-3 col-form-label">$c.getMessage('value',self.lang)</label>
	    <div class="col-sm-9">
		<input name="value" type="number" class="form-control" id="inputValue" placeholder="$c.getMessage('value',self.lang)" 
		$if myID == 'update':
		    value="$manudata.fields['value']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="alarmSelect" class="col-sm-3 col-form-label">$c.getMessage('alarm',self.lang)</label>
	    <div class="col-sm-9">
		<select name="a_id" class="form-control" id="alarmSelect">
		    <option value=""></option>
		    $for k,alarm in c.AllAlarms.get_sorted().items():
			<option value="$alarm.getID()">$alarm.fields['acronym'] - $alarm.getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    <label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/find/d/$(elem.get_type())_$(elem.getID())"
		$else :
		    href="/index"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>

<script>
var mins = [];
var maxs = [];
var steps = [];
$for k,aMeasure in c.AllMeasures.get_sorted().items():
    mins[$k]=$(aMeasure.fields['min']);
    maxs[$k]=$(aMeasure.fields['max']);
    steps[$k]='$(aMeasure.get_html_step())';

$$("#measureSelect").change(function() {
    $$("#measureSelect option:selected").each(function() {
       var v = this.value;
       $$("#inputValue").attr({
         "max" : maxs[v],
         "min" : mins[v],
         "step" : steps[v]
       });
    });
}).change();
</script>
