$def with (connected, elem)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var title : Map Recipe
$var location :
$var bcTop:gr
$code:
    id = elem.getID()
    summit = []
    usagesTop = []
    krecipe = elem.get_group()
    recipe = c.AllGrRecipe.get(krecipe)
    if recipe:
	summit = [krecipe] + recipe.get_supermap_str()
	usagesTop = c.AllGrUsage.get_usages_for_recipe(summit)
    events = elem.get_events(c)
    #pseudo event to signal END of events!
    events.append(elem)
    done = set()
$var bcElem:b_$id
$var bcOwner:
$var bcOperation:map
<script>
    $$(function(){
	$$("#includedAllMenub_$(id)").load("/fullentry/b_*$(id)");
    });
</script>
<div id="includedAllMenub_$(id)"></div>
$code:
    prev = ""
    prevtime=elem.getTimestamp()
    beginT = prevtime
    longTime = ""
    done = set()
    batch_location = None
    row = False
<table style="padding:3px;border:1px solid #333; border-left:4px solid #333; border-right:4px solid #333;">
	$ prev_duration = -1
	$ place = None
$for operation in events:
	$ op_type = operation.get_type()
	$if op_type != 'b' and operation.fields['h_id'] != prev:
		$ duration = operation.getTimestamp()-prevtime
		<tr style="padding:3px;border-top:1px solid #333;$( (";border-left:4px solid "+place.fields['colorgraph']+";border-right:4px solid "+place.fields['colorgraph']) if place else "")">
		<td></td><td style="text-align:right;padding:3px">$(c.seconds_to_string(duration,self.lang) if prev_duration != duration else '" " " ')</td>
		$ prev_duration = duration
		$ prev = operation.fields['h_id']
		$ checkpoint = c.AllCheckPoints.get(prev)
		$if checkpoint:
		        <td><a href="/find/related/h_$checkpoint.getID()">$:(checkpoint.statusIcon(c,True,False))</a></td>
			<th>
			$ acro = checkpoint.fields['acronym']
			$if prev in done:
			    <a href="#h_$acro">$acro</a>
			$else:
			    <a name="h_$acro"></a>$acro - <strong>$(checkpoint.getName(self.lang))</strong>
			    $ done.add(prev)
			$if checkpoint.fields['remark'] :
			    <br/><span class="text-danger">$(checkpoint.fields['remark'])</span>
			</th><td style="text-align:right"><span class="light">#$checkpoint.fields['rank']</span></td></tr>
		$else:
			<td style="padding:3px;border-top:1px solid #333;">&nbsp;</td>
			<td colspan="2" style="padding:3px;border-top:1px solid #333;">&nbsp;</td></th>
		$ prevtime = operation.getTimestamp()
		$ row = True
	$ endT = None
	$if op_type == 't':
	  $ endT = operation.getTimestamp()
	$elif op_type == 'b':
	  $ endT = useful.get_timestamp()
	$if endT:
	  $if batch_location:
	    $ infos = batch_location.get_component(c).get_all_in_component(c, beginT, endT)
	    $ prev_duration = -1
	    $for sensorId,sensorData in infos.items():
		$ sensor = None
		$if sensorData:
		    $ sensor = c.AllSensors.get(sensorId)
		    $if sensor.isActive():
	              $code:
			count = 0
			average = 0
			begin = sensorData[0][0]
			min = None
			max = None
			timemin = begin
			timemax = begin
	                for value in sensorData:
	                    tmp = value[1][0]
			    if tmp is not None:
				tmp = float(tmp)
		                end = value[0]
	                	count += 1
	                	average += tmp
	                	if min is None or (tmp < min):
	                	    min = tmp
	                            timemin = end
	                	if max is None or (tmp > max):
	                            max = tmp
                                    timemax = end
	              $if count > 0:
                       	$ average /= count
			$ Acolor = None
			<tr style="padding:3px$(";background-color:#eee" if row else "")$( (";border-left:4px solid "+place.fields['colorgraph']+";border-right:4px solid "+place.fields['colorgraph']) if place else "")">
				$ duration = end-begin
				<td></td><td style="text-align:right;padding:3px">$(c.seconds_to_string(duration,self.lang) if prev_duration != duration else '" " " ' )</td>
				$ prev_duration = duration
				<td style="padding:3px"><a href="/graphic/s_$(sensorId)">$:sensor.statusIcon(c,True,False)</a>
				</td><td style="padding:3px">$(sensor.fields['acronym']) - <strong>$(sensor.getName(self.lang))</strong>
					$code:
					    measure = sensor.get_measure(c)
					    if measure:
					         step = int(measure.fields['step'])
					         min = round(min,step)
					         max = round(max,step)
					         average = round(average,step)
					         Aname, Aacronym, Acolor, Atext_color = sensor.getTypeAlarm(average,None)
						 if Aname == 'typical':
							Acolor = None
					         MNname, MNacronym, MNcolor, MNtext_color = sensor.getTypeAlarm(min,None)
						 if MNname == 'typical':
							MNcolor = None
					         MXname, MXacronym, MXcolor, MXtext_color = sensor.getTypeAlarm(max,None)
						 if MXname == 'typical':
							MXcolor = None
					    timemin = useful.timestamp_to_date(timemin)
					<br/>
					$if measure:
					     $(measure.getName(self.lang)),
					Min: <span style="$(("background-color:#"+str(MNcolor)+"; color:#"+str(MNtext_color)) if MNcolor else "");padding:4px">
					$(min)</span>, 
					Max: <span style="$(("background-color:#"+str(MXcolor)+"; color:#"+str(MXtext_color)) if MXcolor else "");padding:4px">
					$(max)</span>
					$if measure:
					     $measure.fields['unit']
					<a href="/graphic/s_$(sensor.getID())?begin=$int(begin)&end=$int(end)">$:(c.getHalfling('graphic'))</a>
				</td>
				<td style="text-align:right;padding:3px">
					<span style="$(("background-color:#"+str(Acolor)+"; color:#"+str(Atext_color)) if Acolor else "");padding:4px">
					<strong>$(average)
					$if measure:
					     $measure.fields['unit']
					</strong></span>
				</td>
			</tr>
			$ row = not row
	  $ beginT = endT
	  $if op_type == 't':
		$ batch_location = operation
	$if op_type != 'b':
            <tr style="padding:3px$(";background-color:#eee" if row else "")$( (";border-left:4px solid "+place.fields['colorgraph']+";border-right:4px solid "+place.fields['colorgraph']) if place else "")">
		$ user = c.AllUsers.get(operation.fields['user'])
		$if user and user.fields['acronym']:
                        $ user = user.fields['acronym']
		$else:
		    $ user = ""
		<th style="padding:3px">$(user)</th>		
		<th style="padding:3px;text-align:right">$(useful.shorten_time(operation.fields['time'],longTime))</th>
		$ longTime = operation.fields['time']

		<td style="padding:3px">
			<a href="/$("edit" if ( " upd_"+op_type+" " ) in self.allowed else "find/related")/$(op_type)_$(operation.getID())">
			$:operation.statusIcon(c,True,False)</a>
		</td><td>
                $ sourceModel = None
		$if (operation.fields[op_type+'m_id']):
			$ sourceModel = c.getObject(operation.fields[op_type+'m_id'], op_type+"m")
			$if sourceModel:
				<a href="/find/related/$(op_type)m_$(operation.fields[op_type+'m_id'])" style="color:#28A4C9">$(sourceModel.fields['acronym'])</a> - <strong>$(sourceModel.getName(self.lang))</strong>
		$ measure = None
		$if op_type == 't':
		    $ dest = operation.get_component(c)
		    $:c.getHalfling('to')
		    <a href="/find/related/$dest.get_type()_$dest.getID()">$:(dest.statusIcon(c,True,False))$(dest.fields['acronym'])</a> $dest.getName(self.lang)
		    $ place = dest
		$elif op_type == 'v':
			$ kbatch = ''
			$if operation.fields['dest']==id:
				$:c.getHalfling('from')
				$ kbatch = operation.fields['src']
			$else:
				$:c.getHalfling('to')
				$ kbatch = operation.fields['dest']
			$ batch = c.AllBatches.get(kbatch)
			$if batch:
				<a href="/find/related/b_$kbatch">$:(batch.statusIcon(c,True,False))$(batch.fields['acronym'])</a> $batch.getName(self.lang)
		$elif op_type == 'd':
			$code:
			    Acolor = None
			    qtity = operation.get_quantity()
			    if sourceModel:
			        Aname, Aacronym, Acolor, Atext_color = sourceModel.getTypeAlarm(qtity,None)
				if Aname == 'typical':
				    Acolor = None
		$if operation.fields['remark']:
			<br/><span class="text-danger">$(operation.fields['remark'])</span>
		</td><td style="text-align:right;padding:3px">
		$if op_type == 'v':
			<strong>$unicode(operation.get_quantity())</strong> $(operation.get_unit(c))
		$elif op_type == 'd':
			<span style="$(("background-color:#"+str(Acolor)+"; color:#"+str(Atext_color)) if Acolor else "");padding:4px">
			<strong>$(operation.fields['value'])</strong> $(operation.get_unit(c))
			</span>
		</td>
            </tr>
	    $ row = not row
</table>
