$def with (connected)
$var title : ELSA Components Map
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var bcTop:pec
$var bcElem:
$var bcOwner:
$var bcOperation:map
$ done = set()
<a class="btn btn-warning" href="/map/gu" style="float:right">$:c.getHalfling('map')$:c.getHalfling('guse')</a>
$ level = 0
$ first = True
$for kplace in c.AllPlaces.get_sorted_hierarchy():
	$ place = c.AllPlaces.get(kplace)
	$if place and place.isActive() :
			<div class="map top"><div class="map down" style="border-color:$(place.fields['colorgraph'])">
			<a href="/find/related/p_$kplace">$:(place.statusIcon(c,True,False,connected))</a>
			$ acro = place.fields['acronym']
			$if ('p_'+kplace) in done:
				<a href="#p_$acro">$acro</a>
			$else:
				<a name="p_$acro"></a>$acro - <strong>$(place.getName(self.lang))</strong>
				$:place.linkFiles(c)
				$ batches = place.get_batches(c)
				$if len(batches):
					&nbsp;&nbsp;<strong><a href="/find/b/$(place.getTypeId())">$unicode(len(batches)) $:(c.getHalfling('batch'))</a></strong>
				$ kusage = place.fields['gu_id']
				$ elem = c.AllGrUsage.get(kusage)
				$if elem and elem.isActive():
				    <div style="float:right">
					<a href="/find/related/gu_$kusage">$:(elem.statusIcon(c,True,False))</a>
					$ acro = elem.fields['acronym']
					<a name="gu_$acro"></a>$acro - <strong>$(elem.getName(self.lang))</strong>			
					$:elem.linkFiles(c)
					$if elem.fields['rank']:
						#$elem.fields['rank']
				    </div>
				$ sensors = place.get_sensors_in_component(c)
				$for ksensor in sensors:
					$ sensor = c.AllSensors.get(ksensor)
					$if sensor and sensor.isActive():
					$ alarms = sensor.count_logs(c)
					<div class="map down">
					<a href="/find/related/s_$ksensor">$:(sensor.statusIcon(c,True,False))</a>
					$ acro = sensor.fields['acronym']
					$if ('s_'+ksensor) in done:
						<a href="#s_$acro">$acro</a>
					$else:
						<a name="s_$acro"></a>$acro - <strong>$(sensor.getName(self.lang))</strong>
						<span style="padding:5px;background-color:#$(sensor.colorAlarm);color:#$(sensor.colorTextAlarm)">$(sensor.lastvalue)</span> <a href="/find/related/m_$sensor.fields['m_id']">$(sensor.get_unit(c))</a>
						<a href="/graphic/s_$ksensor">$:(c.getHalfling('graphic'))</a>
							$if alarms > 0:
							<a href="/find/al/s_$sensor.getID()">
							$:c.getAllHalfling(c.AllAlarmLogs)<strong>$alarms</strong></a>
						$:sensor.linkFiles(c)
						$ done.add('s_'+ksensor)
					</div>
				$ done.add('p_'+kplace)
				$for kequipment in c.AllEquipments.get_sorted_hierarchy():
					$ equipment = c.AllEquipments.get(kequipment)
					$if equipment and equipment.isActive() and equipment.get_actual_position_here(c) == place :
						<div class="map down" style="border-color:$(equipment.fields['colorgraph'])">
						<a href="/find/related/e_$kequipment">$:(equipment.statusIcon(c,True,False,connected))</a>
						$ acro = equipment.fields['acronym']
						$if ('e_'+kequipment) in done:
							<a href="#e_$acro">$acro</a>
						$else:
							<a name="e_$acro"></a>$acro - <strong>$(equipment.getName(self.lang))</strong>
							$:equipment.linkFiles(c)
							$ batches = equipment.get_batches(c)
							$if len(batches):
								&nbsp;&nbsp;<strong><a href="/find/b/$(equipment.getTypeId())">$unicode(len(batches)) $:(c.getHalfling('batch'))</a></strong>
							$ kusage = equipment.fields['gu_id']
							$ elem = c.AllGrUsage.get(kusage)
							$if elem and elem.isActive():
							    <div style="float:right">
								<a href="/find/related/gu_$kusage">$:(elem.statusIcon(c,True,False))</a>
								$ acro = elem.fields['acronym']
								<a name="gu_$acro"></a>$acro - <strong>$(elem.getName(self.lang))</strong>			
								$:elem.linkFiles(c)
								$if elem.fields['rank']:
									#$elem.fields['rank']
							     </div>
							$ sensors = equipment.get_sensors_in_component(c)
							$for ksensor in sensors:
								$ sensor = c.AllSensors.get(ksensor)
								$if sensor and sensor.isActive():
								$ alarms = sensor.count_logs(c)
								<div class="map down">
								<a href="/find/related/s_$ksensor">$:(sensor.statusIcon(c,True,False))</a>
								$ acro = sensor.fields['acronym']
								$if ('s_'+ksensor) in done:
									<a href="#s_$acro">$acro</a>
								$else:
									<a name="s_$acro"></a>$acro - <strong>$(sensor.getName(self.lang))</strong>
									<span style="padding:5px;background-color:#$(sensor.colorAlarm);color:#$(sensor.colorTextAlarm)">$(sensor.lastvalue)</span> <a href="/find/related/m_$sensor.fields['m_id']">$(sensor.get_unit(c))</a>
									<a href="/graphic/s_$ksensor">$:(c.getHalfling('graphic'))</a>
										$if alarms > 0:
										<a href="/find/al/s_$sensor.getID()">
										$:c.getAllHalfling(c.AllAlarmLogs)<strong>$alarms</strong></a>
									$:sensor.linkFiles(c)
									$ done.add('s_'+ksensor)
								</div>
							$ done.add('e_'+kequipment)
							$for kcontainer in c.AllContainers.get_sorted_hierarchy():
								$ container = c.AllContainers.get(kcontainer)
								$if container and container.isActive() and container.get_actual_position_here(c) == equipment :
										<div class="map down" style="border-color:$(container.fields['colorgraph'])">
										<a href="/find/related/c_$kcontainer">$:(container.statusIcon(c,True,False,connected))</a>
										$ acro = container.fields['acronym']
										$if ('c_'+kcontainer) in done:
											<a href="#c_$acro">$acro</a>
										$else:
											<a name="c_$acro"></a>$acro - <strong>$(container.getName(self.lang))</strong>
											$:container.linkFiles(c)
											$ batches = container.get_batches(c)
											$if len(batches):
												&nbsp;&nbsp;<strong><a href="/find/b/$(container.getTypeId())">$unicode(len(batches)) $:(c.getHalfling('batch'))</a></strong>
											$ kusage = container.fields['gu_id']
											$ elem = c.AllGrUsage.get(kusage)
											$if elem and elem.isActive():
											    <div style="float:right">
												<a href="/find/related/gu_$kusage">$:(elem.statusIcon(c,True,False))</a>
												$ acro = elem.fields['acronym']
												<a name="gu_$acro"></a>$acro - <strong>$(elem.getName(self.lang))</strong>			
												$:elem.linkFiles(c)
												$if elem.fields['rank']:
													#$elem.fields['rank']
											    </div>
											$ sensors = container.get_sensors_in_component(c)
											$for ksensor in sensors:
												$ sensor = c.AllSensors.get(ksensor)
												$if sensor and sensor.isActive():
												$ alarms = sensor.count_logs(c)
												<div class="map down">
												<a href="/find/related/s_$ksensor">$:(sensor.statusIcon(c,True,False))</a>
												$ acro = sensor.fields['acronym']
												$if ('s_'+ksensor) in done:
													<a href="#s_$acro">$acro</a>
												$else:
													<a name="s_$acro"></a>$acro - <strong>$(sensor.getName(self.lang))</strong>
													<span style="padding:5px;background-color:#$(sensor.colorAlarm);color:#$(sensor.colorTextAlarm)">$(sensor.lastvalue)</span> <a href="/find/related/m_$sensor.fields['m_id']">$(sensor.get_unit(c))</a>
													<a href="/graphic/s_$ksensor">$:(c.getHalfling('graphic'))</a>
														$if alarms > 0:
														<a href="/find/al/s_$sensor.getID()">
														$:c.getAllHalfling(c.AllAlarmLogs)<strong>$alarms</strong></a>
													$:sensor.linkFiles(c)
													$ done.add('s_'+ksensor)
												</div>
											$ done.add('c_'+kcontainer)
										</div>
						</div>
						$for kcontainer in c.AllContainers.get_sorted_hierarchy():
							$ container = c.AllContainers.get(kcontainer)
							$if container and container.isActive() and container.get_actual_position_here(c) == place :
									<div class="map down" style="border-color:$(container.fields['colorgraph'])">
									<a href="/find/related/c_$kcontainer">$:(container.statusIcon(c,True,False,connected))</a>
									$ acro = container.fields['acronym']
									$if ('c_'+kcontainer) in done:
										<a href="#c_$acro">$acro</a>
									$else:
										<a name="c_$acro"></a>$acro - <strong>$(container.getName(self.lang))</strong>
										$:container.linkFiles(c)
										$ batches = container.get_batches(c)
										$if len(batches):
											&nbsp;&nbsp;<strong><a href="/find/b/$(container.getTypeId())">$unicode(len(batches)) $:(c.getHalfling('batch'))</a></strong>
										$ kusage = container.fields['gu_id']
										$ elem = c.AllGrUsage.get(kusage)
										$if elem and elem.isActive():
										    <div style="float:right">
											<a href="/find/related/gu_$kusage">$:(elem.statusIcon(c,True,False))</a>
											$ acro = elem.fields['acronym']
											<a name="gu_$acro"></a>$acro - <strong>$(elem.getName(self.lang))</strong>			
											$:elem.linkFiles(c)
											$if elem.fields['rank']:
												#$elem.fields['rank']
										    </div>
										$ sensors = container.get_sensors_in_component(c)
										$for ksensor in sensors:
											$ sensor = c.AllSensors.get(ksensor)
											$if sensor and sensor.isActive():
											$ alarms = sensor.count_logs(c)
											<div class="map down">
											<a href="/find/related/s_$ksensor">$:(sensor.statusIcon(c,True,False))</a>
											$ acro = sensor.fields['acronym']
											$if ('s_'+ksensor) in done:
												<a href="#s_$acro">$acro</a>
											$else:
												<a name="s_$acro"></a>$acro - <strong>$(sensor.getName(self.lang))</strong>
												<span style="padding:5px;background-color:#$(sensor.colorAlarm);color:#$(sensor.colorTextAlarm)">$(sensor.lastvalue)</span> <a href="/find/related/m_$sensor.fields['m_id']">$(sensor.get_unit(c))</a>
												<a href="/graphic/s_$ksensor">$:(c.getHalfling('graphic'))</a>
													$if alarms > 0:
													<a href="/find/al/s_$sensor.getID()">
													$:c.getAllHalfling(c.AllAlarmLogs)<strong>$alarms</strong></a>
												$:sensor.linkFiles(c)
												$ done.add('s_'+ksensor)
											</div>
										$ done.add('c_'+kcontainer)
									</div>
			</div></div>
$for kequipment in c.AllEquipments.get_sorted_hierarchy():
	$ equipment = c.AllEquipments.get(kequipment)
	$if equipment and equipment.isActive() and not ('e_'+kequipment) in done:
		<div class="map down" style="border-color:$(equipment.fields['colorgraph'])">
		<a href="/find/related/e_$kequipment">$:(equipment.statusIcon(c,True,False))</a>
		$ acro = equipment.fields['acronym']
		<a name="e_$acro"></a>$acro - <strong>$(equipment.getName(self.lang))</strong>
		$:equipment.linkFiles(c)
		$ batches = equipment.get_batches(c)
		$if len(batches):
			&nbsp;&nbsp;<strong><a href="/find/b/$(equipment.getTypeId())">$unicode(len(batches)) $:(c.getHalfling('batch'))</a></strong>
		$ kusage = equipment.fields['gu_id']
		$ elem = c.AllGrUsage.get(kusage)
		$if elem and elem.isActive():
		    <div style="float:right">
			<a href="/find/related/gu_$kusage">$:(elem.statusIcon(c,True,False))</a>
			$ acro = elem.fields['acronym']
			<a name="gu_$acro"></a>$acro - <strong>$(elem.getName(self.lang))</strong>			
			$:elem.linkFiles(c)
			$if elem.fields['rank']:
				#$elem.fields['rank']
		    </div>
		$ sensors = equipment.get_sensors_in_component(c)
		$for ksensor in sensors:
			$ sensor = c.AllSensors.get(ksensor)
			$if sensor and sensor.isActive():
			$ alarms = sensor.count_logs(c)
			<div class="map down">
			<a href="/find/related/s_$ksensor">$:(sensor.statusIcon(c,True,False))</a>
			$ acro = sensor.fields['acronym']
			$if ('s_'+ksensor) in done:
				<a href="#s_$acro">$acro</a>
			$else:
				<a name="s_$acro"></a>$acro - <strong>$(sensor.getName(self.lang))</strong>
				<span style="padding:5px;background-color:#$(sensor.colorAlarm);color:#$(sensor.colorTextAlarm)">$(sensor.lastvalue)</span> <a href="/find/related/m_$sensor.fields['m_id']">$(sensor.get_unit(c))</a>
				<a href="/graphic/s_$ksensor">$:(c.getHalfling('graphic'))</a>
					$if alarms > 0:
					<a href="/find/al/s_$sensor.getID()">
					$:c.getAllHalfling(c.AllAlarmLogs)<strong>$alarms</strong></a>
				$:sensor.linkFiles(c)
				$ done.add('s_'+ksensor)
			</div>
$for kcontainer in c.AllContainers.get_sorted_hierarchy():
	$ container = c.AllContainers.get(kcontainer)
	$if container and container.isActive() and not ('c_'+kcontainer) in done:
			<div class="map down" style="border-color:$(container.fields['colorgraph'])">
			<a href="/find/related/c_$kcontainer">$:(container.statusIcon(c,True,False,connected))</a>
			$ acro = container.fields['acronym']
			<a name="c_$acro"></a>$acro - <strong>$(container.getName(self.lang))</strong>
			$:container.linkFiles(c)
			$ batches = container.get_batches(c)
			$if len(batches):
				&nbsp;&nbsp;<strong><a href="/find/b/$(container.getTypeId())">$unicode(len(batches)) $:(c.getHalfling('batch'))</a></strong>
			$ kusage = container.fields['gu_id']
			$ elem = c.AllGrUsage.get(kusage)
			$if elem and elem.isActive():
			    <div style="float:right">
				<a href="/find/related/gu_$kusage">$:(elem.statusIcon(c,True,False))</a>
				$ acro = elem.fields['acronym']
				<a name="gu_$acro"></a>$acro - <strong>$(elem.getName(self.lang))</strong>			
				$:elem.linkFiles(c)
				$if elem.fields['rank']:
					#$elem.fields['rank']
			    </div>
			$ sensors = container.get_sensors_in_component(c)
			$for ksensor in sensors:
				$ sensor = c.AllSensors.get(ksensor)
				$if sensor and sensor.isActive():
				$ alarms = sensor.count_logs(c)
				<div class="map down">
				<a href="/find/related/s_$ksensor">$:(sensor.statusIcon(c,True,False))</a>
				$ acro = sensor.fields['acronym']
				$if ('s_'+ksensor) in done:
					<a href="#s_$acro">$acro</a>
				$else:
					<a name="s_$acro"></a>$acro - <strong>$(sensor.getName(self.lang))</strong>
					<span style="padding:5px;background-color:#$(sensor.colorAlarm);color:#$(sensor.colorTextAlarm)">$(sensor.lastvalue)</span> <a href="/find/related/m_$sensor.fields['m_id']">$(sensor.get_unit(c))</a>
					<a href="/graphic/s_$ksensor">$:(c.getHalfling('graphic'))</a>
						$if alarms > 0:
						<a href="/find/al/s_$sensor.getID()">
						$:c.getAllHalfling(c.AllAlarmLogs)<strong>$alarms</strong></a>
					$:sensor.linkFiles(c)
					$ done.add('s_'+ksensor)
				</div>
			</div>
