$def with (id, mail, errormess, data)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$var recursive : False
$var title : $c.getMessage(c.AllMeasures.class_acronym,self.lang)
$if id == 'new':
    $var location: all/m=measure edit/m_new=add
    $var rmq :    
$else:
    $var location: all/m=measure edit/m_$(id)=edit
    $var rmq :  $elem.fields['remark']
    $code:
        elem = elem
    $var title : $elem.getName(self.lang)
$if errormess != '':
    $if 'remark' in data :
	$var rmq : $data['remark']
     
<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>
	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$c.getMessage('acronym',self.lang)</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="$c.getMessage('acronym',self.lang)" 
		$if errormess != '':
		    $if 'acronym' in data :
			value="$data['acronym']" 
		$elif id != 'new':
		    value="$elem.fields['acronym']"
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-3 col-form-label">$c.getMessage('name',self.lang)</label>
	</div>
	
	$for k,v in c.AllLanguages.elements.items():
	    <div class="form-group row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-3">
		    <strong>$v.fields['name']</strong>
		</div>
		<div class="col-sm-8">
		    <input name="$k" type="text" class="form-control" id="inputName" placeholder="Name"
		$if errormess != '':
		    $if k in data :
			value="$data[k]"
		$elif id !='new':
		    value="$elem.get_real_name(k)"
		$if self.lang == k: 
		    required="true"
		>
		</div>
	    </div>
	
	<div class="form-group row">
	    <label for="inputUnit" class="col-sm-3 col-form-label">$c.getMessage('unit',self.lang)</label>
	    <div class="col-sm-9">
		<input name="unit" type="text" class="form-control" id="inputUnit" placeholder="$c.getMessage('unit',self.lang)" 
		$if errormess != '':
		    $if 'unit' in data :
			value="$data['unit']"
		$elif id !='new':
		    value="$elem.fields['unit']"
		required="true">
	    </div>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="Remark" >$self.rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-6 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = (id == 'new')
		if not cond :
		    cond = (elem.fields['active'] == 1 or elem.fields['active'] == '1')
		if errormess != '' :
		    if 'active' in data :
			cond  = True
		    else:
			cond = False
	    $if cond :
		<label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" checked>
		    <div class="slider round"></div>
		</label>
	    $else :
		<label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" >
		    <div class="slider round"></div>
		</label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/item/m_$(id)"
		$else :
		    href="/list/m"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
	
    </form>
</div>

