$def with (connected,type, id, data)	
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var recursive : True
$code :
    allElem = c.findAll(type)
    elem = allElem.get(id)
    keyID = allElem.keyColumn
    permissionKey = '_' + type +'_'
    noname = permissionKey in '_d_t_v_al_'
$var title: MODAL 

	    $if 'direct' in data:
		<div class="item-content">
	    $else:
		<div class="modal-content">
                <div class="modal-header row ">
		<div class="col-xs-2" 
		    $if elem.isModeling():
			style="color : #337ab7"
		>
		    <strong>$:c.getAllHalfling(allElem)</strong>
		</div>
                <h4 class="modal-title col-xs-6 ">$((allElem if noname else elem).getName(self.lang))</h4>
		<div class="col-xs-2" ></div>
                <button type="button" class="col-xs-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
	        </div>
            <div class="modal-body">
                <div class="container-fluid">
		    $if 'acronym' in elem.fields:
                      <div class="row">
			<div id="modalinfo" class="col-xs-5">
			    <strong>$elem.fields['acronym']</strong>
			</div>
			<div class="col-xs-1">
			    $if elem.isActive():
				<span class="glyphicon glyphicon-ok-circle"> </span>
			    $else :
				<span class="glyphicon glyphicon-remove-circle"> </span>		    
			</div>
                      </div>
		    <div class="row">
	              $if not 'direct' in data:
		         <div class="col-xs-2">
		            <button type="button" class="btn btn-warning btn-md flip" data-toggle="modal" data-target="#modal_menu_$(type)_$(id)">$:c.getHalfling('menu')</button>
                         </div>
		      $if type == 's':
		         <div class="col-xs-10" style="color:black">
			   $code:
		               value, ignore = elem.get_value_sensor(c)
			   <span style="background-color:#$(elem.colorAlarm);color:#$(elem.colorTextAlarm)"><strong>$(value)</strong> $(elem.get_unit(c))</span>
                           $useful.timestamp_to_ISO(useful.get_timestamp())
			 </div>
		    </div>
		    
                    $if type == 'u':
                        <div class="row" id="listingMarge">
                            <div class="col-xs-4">
                            $c.getMessage('name',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.getName(self.lang)
                            </div>
                        </div>
		    $elif not noname:
                        $for lg in c.AllLanguages.elements.keys():
                            <div class="row">
                            <div class="col-xs-2">
                                $lg
                            </div>
                            <div class="col-xs-10" id="modalinfo" >
                                $elem.getName(lg)
                            </div>
                            </div>


		    $if noname:
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('time',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$useful.date_to_ISO(elem.getTimestring())
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('source',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $ source = elem.get_source(c)
			    $if source:
				$if source.get_type() in 'dtv':
					<a href="/edit/$(source.get_type())_$(source.getID())">
				$else:
					<a href="/find/related/$(source.get_type())_$(source.getID())">
				$:(c.getHalfling(source.get_class_acronym()))
				$if 'acronym' in source.fields:
					$source.fields['acronym']
			    	</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('value',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$elem.getQtyUnit(c)
                            </div>
                        </div>
			$ compo = elem.get_component(c)
			$if compo:
	                        <div class="row" style="margin-top:10px;">
	                            <div class="col-xs-4">
	                            $c.getMessage('component',self.lang) :
	                            </div>
	                            <div class="col-xs-8" id="modalinfo" >
					<a href="/find/related/$(compo.get_type())_$(compo.getID())">
					$:(c.getHalfling(compo.get_class_acronym()))
					$if 'acronym' in compo.fields:
						$compo.fields['acronym']
				    	</a>
	                            </div>
	                        </div>

		    $if type == 'al':
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('alarm',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
			    $ alarm = c.AllAlarms.get(elem.fields['a_id'])
			    $if alarm:
				<a href="/find/related/a_$(alarm.getID())">
				$:(c.getHalfling(alarm.get_class_acronym()))$alarm.fields['acronym']
			    	</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('alarmtime',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$useful.date_to_ISO(elem.fields['alarmtime'])
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('degree',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$elem.fields['degree']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('completedtime',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$useful.date_to_ISO(elem.fields['completedtime'])
                            </div>
                        </div>
		    $if type == 'h':
			    <div class="row" id="listingMarge">
				<div class="col-xs-4">
				    $c.getMessage('grecipe',self.lang) :
				</div>
				<div class="col-xs-8" id="modalinfo" >
				$if 'gr_id' in elem.fields and elem.fields['gr_id'] != '' :
				    <a href="/find/related/gr_$(elem.fields['gr_id'])">$c.AllGrRecipe.get(elem.fields['gr_id']).fields['acronym']</a>
				</div>
			    </div>
			    <div class="row" id="listingMarge">
				<div class="col-xs-4">
				    $c.getMessage('guse',self.lang) :
				</div>
				<div class="col-xs-8" id="modalinfo" >
				$if 'gu_id' in elem.fields and elem.fields['gu_id'] != '' :
				    <a href="/find/related/gu_$(elem.fields['gu_id'])">$c.AllGrUsage.get(elem.fields['gu_id']).fields['acronym']</a>
				</div>
			    </div>
		    $if permissionKey in '_c_p_e_b_u_dm_vm_tm_':
			$code :
			    groups = c.findAll(allElem.get_group_type())
			    kgroup = elem.get_group()
			$if kgroup :
			    <div class="row" id="listingMarge">
				<div class="col-xs-4">
				    $c.getMessage('group',self.lang) :
				</div>
				<div class="col-xs-8" id="modalinfo" >
				<a href="/find/related/$(allElem.get_group_type())_$(kgroup)">$groups.get(kgroup).fields['acronym']</a>
				</div>
			    </div>
		    $if permissionKey in '_b_c_e_':
			<div class="row">
			    <div class="col-xs-4" >
				<strong><a href="/find/t/$(type)_$id" class="btn btn-warning" role="button">$:c.getHalfling('transfer')</a></strong>
			    </div>
                            <div class="col-xs-8" id="modalinfo" >
			    $code:
				pos = elem.get_last_transfer(c)
				if pos:
					pos = pos.get_component(c)
			    $if pos:
				<a href="/find/related/$(pos.get_type())_$pos.getID()">$:pos.statusIcon(c,True,False) $pos.fields['acronym']</a>
                            </div>
			</div>	

		    $if permissionKey in '_s_dm_tm_vm_':
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('value',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$elem.getQtyUnit(c)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('minmin',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['minmin'] : $:c.linkedAcronym(c.AllAlarms,elem.fields['a_minmin'],False)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('min',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['min'] : $:c.linkedAcronym(c.AllAlarms,elem.fields['a_min'],False)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('typical',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['typical'] : $:c.linkedAcronym(c.AllAlarms,elem.fields['a_typical'],False)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('max',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['max'] : $:c.linkedAcronym(c.AllAlarms,elem.fields['a_max'],False)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('maxmax',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['maxmax'] : $:c.linkedAcronym(c.AllAlarms,elem.fields['a_maxmax'],False)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('none',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                             : $:c.linkedAcronym(c.AllAlarms,elem.fields['a_none'],False)
                            </div>
                        </div>

                    $if permissionKey in '_u_':
                        $if elem.fields['accesslevel'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('accesslevel',self.lang)
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                $(c.getMessage("access"+elem.fields['accesslevel'],self.lang))
                                </div>
                            </div>
                        $if elem.fields['mail'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('mail',self.lang) 1:
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                <a href="mailto:$(elem.fields['mail'])">$(elem.fields['mail'])</a>
	                        $if elem.fields['donotdisturb'] == '1':
					<br><span class="text-danger"><strong>$c.getMessage('donotdisturb',self.lang)</strong></span>
                                </div>
                            </div>

                        $if elem.fields['phone'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('phone',self.lang)
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                $(elem.fields['phone'])
                                </div>
                            </div>
                        $if elem.fields['vat'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('vat',self.lang)
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                $(elem.fields['vat'])
                                </div>
                            </div>
			$if elem.fields['addr1'] or elem.fields['addr2'] or elem.fields['addr3']: 
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('address',self.lang)
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                $(elem.fields['addr1'])
				$if (elem.fields['addr2']):
                                    <br/>$(elem.fields['addr2'])
				$if (elem.fields['addr3']):
	                            <br/>$(elem.fields['addr3'])
                                </div>
                            </div>
                    $if permissionKey in '_m_':
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('min',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['min']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('step',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['step']: $elem.get_html_step()
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('max',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['max']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('unit',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['unit']
                            </div>
                        </div>
                        
                    $if type == 'a':
                        $if elem.fields['o_sms1'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('phone',self.lang) 1:
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                <a href="/find/related/gf_$elem.fields['o_sms1']">$c.AllGrFunction.get(elem.fields['o_sms1']).getName(self.lang)</a>
                                </div>
                            </div>
                        $if elem.fields['o_email1'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('mail',self.lang) 1:
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                <a href="/find/related/gf_$elem.fields['o_email1']">$c.AllGrFunction.get(elem.fields['o_email1']).getName(self.lang)</a>
                                </div>
                            </div>
                        $if elem.fields['o_sound1'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('sound',self.lang) 1:
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                <a href="/find/related/gf_$elem.fields['o_sound1']">$c.AllGrFunction.get(elem.fields['o_sound1']).getName(self.lang)</a>
                                </div>
                            </div>
                        $if elem.fields['relay1'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('relay',self.lang) 1:
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                $elem.fields['relay1']
                                </div>
                            </div>
                        $if elem.fields['o_sms2'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('phone',self.lang) 2:
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                <a href="/find/related/gf_$elem.fields['o_sms2']">$c.AllGrFunction.get(elem.fields['o_sms2']).getName(self.lang)</a>
                                </div>
                            </div>
                        $if elem.fields['o_email2'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('mail',self.lang) 2:
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                <a href="/find/related/gf_$elem.fields['o_email2']">$c.AllGrFunction.get(elem.fields['o_email2']).getName(self.lang)</a>
                                </div>
                            </div>
                        $if elem.fields['o_sound2'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('sound',self.lang) 1:
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                <a href="/find/related/gf_$elem.fields['o_sound2']">$c.AllGrFunction.get(elem.fields['o_sound2']).getName(self.lang)</a>
                                </div>
                            </div>
                        $if elem.fields['relay2'] != '':
                            <div class="row" style="margin-top:10px;">
                                <div class="col-xs-4">
                                $c.getMessage('relay',self.lang) 2:
                                </div>
                                <div class="col-xs-8" id="modalinfo" >
                                $elem.fields['relay2']
                                </div>
                            </div>
                    $if type == 's':
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.getMessage('component',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                <a href="/find/related/$elem.get_component(c).get_type()_$elem.get_component(c).getID()">$elem.get_component(c).fields['acronym']</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.getMessage('measure',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                <a href="/find/related/m_$(elem.fields['m_id'])">$c.AllMeasures.get(elem.fields['m_id']).getName(self.lang)</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.getMessage('formula',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $elem.fields['formula']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.getMessage('sensor',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $elem.fields['sensor']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.getMessage('subsensor',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $elem.fields['subsensor']
                            </div>
                        </div>

		    $if type == 'b':
		        <div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
                                $c.getMessage('expirationdate',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$ lifespan = elem.lifespan(c)
				<span
				$if elem.fields['expirationdate'] and elem.fields['expirationdate'] < useful.now()[:10]:
					class="text-danger"
				>
				$elem.fields['expirationdate']
				$if lifespan:
				    ($unicode(lifespan) $(c.getMessage('days',self.lang)))
				</span>
                            </div>
		        </div>
		        $ anUser = c.AllUsers.get(elem.fields['provider_id'])
		        $if anUser:
				<div class="row" style="margin-top:10px;">
	                            <div class="col-xs-4">
					$c.getMessage('provider',self.lang) :
				    </div>
	                            <div class="col-xs-8">
					<a href="/find/related/u_$(anUser.getID())">
					$:(c.getHalfling(anUser.get_class_acronym()))$anUser.fields['acronym']
				    	</a> $elem.fields['provider_ref']
				    </div>	
				</div>
		        $ anUser = c.AllUsers.get(elem.fields['buyer_id'])
		        $if anUser:
				<div class="row" style="margin-top:10px;">
	                            <div class="col-xs-4">
					$c.getMessage('buyer',self.lang) :
				    </div>
	                            <div class="col-xs-8">
					<a href="/find/related/u_$(anUser.getID())">
					$:(c.getHalfling(anUser.get_class_acronym()))$anUser.fields['acronym']
				    	</a> $elem.fields['buyer_ref']
				    </div>	
				</div>
		    $if type == 'gr':
			<div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.getMessage('lifespan',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$ lifespan = elem.lifespan(c)
				$if not elem.fields['lifespan']:
				    <big>&#8662;</big>
				$unicode(lifespan) $(c.getMessage('days',self.lang))
                            </div>
                        </div>
		    $if permissionKey in '_b_gr_':
			<div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.getMessage('measure',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$if elem.fields['m_id'] != '' :
				    <a href="/find/related/m_$elem.fields['m_id']">$c.AllMeasures.get(elem.fields['m_id']).getName(self.lang)</a>
				$else:
				    -
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.getMessage('value',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$elem.getQtyUnit(c)
                            </div>
                        </div>
			<div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.getMessage('cost',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $if elem.fields['cost'] != '' :
				    $elem.fields['cost']
				$else :
				    -
				$c.currency
                            </div>
                        </div>
			<div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.getMessage('fixedcost',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $if elem.fields['fixed_cost'] != '' :
				    $elem.fields['fixed_cost']
				$else :
				    -
				$c.currency
                            </div>
                        </div>
			<div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                Total :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $unicode(elem.get_total_cost())
				$c.currency
                            </div>
                        </div>
		    $code :
			barcode = c.AllBarcodes.get_barcode(elem.get_type(), elem.id)
		    $if barcode != '' :
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
				<strong><a href="/barcode/$(c.AllBarcodes.get_barcode(elem.get_type(), elem.id))" class="btn btn-warning" role="button">$:c.getHalfling('barcode')</a></strong>
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				<a href="/barcode/$(barcode)">$(barcode)</a>
                            </div>
                        </div>
		    $if 'remark' in elem.fields and elem.fields['remark'] != '' :
	                <div class="row" style="margin-top:3px;">
                            <div class="col-xs-4">
                                $c.getMessage('remark',self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
				$elem.fields['remark']
                            </div>
                        </div>
                    
                    $if 'colorgraph' in elem.fields :
                        <div class="row" style="margin-top:3px;" >
                            <div class="col-xs-4">
                            $c.getMessage('color',self.lang) 
                            </div>
                            <div class="col-xs-8" style="background-color:$elem.fields['colorgraph'];" >$elem.fields['colorgraph']
                            </div>
                        </div>
                    
                    <div class="row" style="margin-top:3px;">
                        <div class="col-xs-4">
                            $c.getMessage('createdby',self.lang) :
                        </div>
                        <div class="col-xs-8" id="modalinfo" >
			    $ user = c.AllUsers.get(elem.creator)
			    $if user:
                                <strong>$user.getName(self.lang) </strong>
			    - <em>$elem.created</em>
                        </div>
                    </div>
                    <div class="row" style="margin-top:3px;">
                        <div class="col-xs-4">
			$if ( " upd_"+type+" " ) in self.allowed:
                            <strong><a href="/edit/$(type)_$id" class="btn btn-warning" role="button">$:c.getHalfling('edit')</a></strong>
                        </div>
                        <div class="col-xs-8" id="modalinfo" >
			    $ user = c.AllUsers.get(elem.fields['user'])
			    $if user:
                                <strong>$user.getName(self.lang) </strong>
			    - <em>$elem.fields['begin']</em>
                        </div>
                    </div>
                    $ i=0
		    $for filename in elem.getDocumentList():
                        <div class="row" style="margin-top:3px;">
			    <div class="col-xs-3"></div>
			    <div class="col-xs-1">
                                $ i=i+1
				($(i))
			    </div>
			    <div class="col-xs-8">
				<a href="$elem.getDocumentURL(filename)" target="_blank">$filename</a>
			    </div>
			</div>
		    $ ext = elem.isImaged()
		    $if ext:
                        <div class="row" style="margin-top:3px;">
			    <div class="col-xs-12">
				<img src="$(elem.getImageURL(ext=ext))" alt="Image not found">
			    </div>
			</div>
                </div>
            </div>
            <div class="modal-footer">
		$ col = 0
		$if permissionKey in '_c_p_e_b_' :
		    $ col += 2
		    <div class="col-xs-2" >
			<strong><a href="/find/d/$(type)_$(id)" class="btn btn-warning" role="button">$:c.getHalfling('manualdata')</a></strong>
		    </div>
		$if permissionKey in '_c_p_e_m_al_':
		    $ col += 2
		    <div class="col-xs-2" >
			<strong><a href="/find/related/$(type)_$id" class="btn btn-warning" role="button">$:c.getHalfling('related')</a></strong>
		    </div>
		$if type == 'b' :
		    $ col += 2
		    <div class="col-xs-2" >
			<strong><a href="/find/v/$(type)_$id" class="btn btn-warning" role="button">$:c.getHalfling('pouring')</a></strong>
		    </div>
		$if permissionKey in '_c_p_e_s_m_':
		    $ col += 2
		    <div class="col-xs-2" >
			<strong><a href="/graphic/$(type)_$id" class="btn btn-warning" role="button">$:c.getHalfling('graphic')</a></strong>
		    </div>
		$if permissionKey in '_b_gr_' :
		    $ col += 4
		    <div class="col-xs-2" >
			<strong><a href="/map/$(type)_$id" class="btn btn-warning" role="button">$:c.getHalfling('datatable')</a></strong>
		    </div>
		    <div class="col-xs-2" >
			<button type="button" class="btn btn-warning btn-md map$(type)_$id" data-toggle="modal" data-target="#mapmodal">$:(c.getHalfling('schema'))</button>
		    </div>
		$if permissionKey in '_c_p_e_b_':
		    $ col += 2
		    <div class="col-xs-2">
			<strong><a href="/export/$(type)_$(id)" class="btn btn-warning" role="button">$:c.getHalfling('exportdata')</a></strong>
		    </div>
		$if not 'direct' in data:
		        <div class="col-xs-$(10-col)" ></div>
			<button type="button" class="col-xs-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
            </div>
        </div>
$if not 'direct' in data:
	<script>
	    $$(document).ready(function(){
		$$('.flip').on("click",function(e){
		    $$('#modal_$(type)_$(id)').modal('hide');
		});
	    });
	</script>
<script>
    $$(document).ready(function(){
	$$('.$(type)_$(id)').on("click",function(e){
	    $$('#modal_menu_$(type)_$(id)').modal('hide');
	    $$("#modal_$(type)_$(id)").find(".modal-dialog").load("/modal/$(type)_$(id)");
	    $$("#modal_$(type)_$(id)").modal('show');
	});
	$$('.map$(type)_$(id)').on("click",function(e){
	    $$('#modal_menu_$(type)_$(id)').modal('hide');
	    $$("#modal_$(type)_$(id)").find(".modal-dialog").load("/graph/$(type)_$(id)");
	    $$("#modal_$(type)_$(id)").modal('show');
	});
    });
</script>
