$def with (domain, request)
$var allowed : True
$var lang : 'EN'
$var completeMenu : False
$var recursive : False
$var pinned : 
$var title: Come from other domain !
$var bcTop:
$var bcOwner:
$var bcElem:
$var bcOperation:notfound

<h1>The requested page comes from outside this website.</h1>
<p> Click on the link to be redirected to the page <a href=http://$(domain)$(request)>http://$(domain)$(request)</a> !</p>
<p> Or click here to return to the index <a href=http://$(domain)>http://$(domain)</a> !</p>
