$def with (connected,type,id, context='')
$# Template included in update forms and others where a group has to be chosen
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : True
$code :
    allObjs = c.findAll(type)
    groups = c.findAll(allObjs.get_group_type())
$var title : permission
$code:
    groupList = groups.get_hierarchy_str(None,None)
    tmp = ''
    indent = 1
    cindent = 9
    if id != 'new':
	if 'g' in type or type == 'h':
	    myid = id
	    mygroup = groups.get(id)
	else:
	    myid = allObjs.get(id).get_group()
	    mygroup = []
$if 'g' in type or type == 'h':
    <div class="form-group row">
	<label class="col-sm-12 col-form-label">$:c.getAllHalfling(groups) $c.getMessage(groups.get_class_acronym(),self.lang) ($c.getMessage('parent',self.lang))</label>
    </div>
    $if len(groupList) > 0:
	$for group in groupList:
	    $if group == '>>' :
		$code:
		    indent+=1
		    cindent-=1
	    $elif group == '<<':
		$code:
		    indent-=1
		    cindent+=1
	    $else :
		<div class="form-group row">
		    <label class="col-xs-$indent col-form-label"></label>
		    <label id="modalinfo" for="inputGroups" class="col-xs-$cindent col-form-label"
			$if id != 'new':
			    $if group == myid:
				style="background-color:black;"	    
			>$groups.get(group).getName(self.lang)</label>
		    $if 'g' in type or type == 'h':
			$if id != 'new' and group in mygroup.related:
			    <label class="col-sm-2 col-form-label">
			    <span class="glyphicon glyphicon-remove-circle"> </span>
				<label class="switch">
				    <input id='inputactive' name="$group" type="checkbox" value="1" checked>
				    <div class="slider round"></div>
				</label>
				<span class="glyphicon glyphicon-ok-circle"> </span>
			    </label>
			$elif id != 'new' and (group in mygroup.get_children() or group in mygroup.get_parents() or group in mygroup.get_siblings() or id == group):
			    <label class="col-sm-2 col-form-label">-</label>
			$else :
			    <label class="col-sm-2 col-form-label">
			    <span class="glyphicon glyphicon-remove-circle"> </span>
				<label class="switch">
				    <input id='inputactive' name="$group" type="checkbox" >
				    <div class="slider round"></div>
				</label>
				<span class="glyphicon glyphicon-ok-circle"> </span>
			    </label>
		</div>	
$else:
    <div class="form-group row">
	<label for="inputGroup" class="col-sm-3 col-form-label">$:c.getAllHalfling(groups) $c.getMessage(groups.get_class_acronym(),self.lang)</label>
	<div class="col-sm-9" id = "divgroup">
	    <select name = "group" class="form-control" id="group" onchange="mySelectChange()">
		<option value=''></option>
		$if len(groupList) > 0:
		    $for group in groupList:
			$if group == '>>' :
			    $code:
				indent+=1
				cindent-=1
				tmp = ((indent-1)*4)*"_"
			$elif group == '<<':
			    $code:
				indent-=1
				cindent+=1
				tmp = ((indent-1)*4)*"_"
			$else :
			    $ aGroup = groups.get(group)
			    <option value="$group"
			    $if context != '':
				$if context == group :
				    selected
			    $elif id != 'new':
				$if group == myid :
				    selected
			    >$:tmp $aGroup.fields['acronym'] - $aGroup.getName(self.lang)</option>
	    </select>
	</div>
    </div>
