$def with (id, mail, errormess, data, context='')
$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$var recursive : False
$if id == 'new':
    $var location: list/p=place edit/p_new=add
    $var rmq :
    $var title: $c.AllPlaces.getName(self.lang)
$else:
    $var location: list/p=place edit/p_$(id)=edit
    $code:
        elem = c.AllPlaces.elements[id]
    $var rmq :  $elem.fields['remark']
    $var title: $elem.getName(self.lang)
$if errormess != '':
    $if 'remark' in data :
	$var rmq : $data['remark']

<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <script>
		$if context != '':
		    $$(function(){
			$$("#includedPermission").load("/permission/p_$(id)/$(context.split('_')[-1])");
		    });
		$else :
		    $$(function(){
			$$("#includedPermission").load("/permission/p_$(id)");
		    });
	    </script>
	    <div id="includedPermission" class="col-sm-12"></div>
	</div>
	
	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$:(c.getAllHalfling(c.AllPlaces))$c.getMessage('acronym',self.lang)</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="$c.getMessage('acronym',self.lang)"
		$if errormess != '':
		    $if 'acronym' in data :
			value="$data['acronym']" 
		$elif id != 'new':
		    value="$elem.fields['acronym']"
		$elif context != '':
		    value = $(c.AllGrUsage.elements[context.split('_')[-1]].fields['acronym'])_
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-3 col-form-label">$c.getMessage('name',self.lang)</label>
	</div>
	
	$for k,v in c.AllLanguages.elements.items():
	    <div class="form-group row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-3">
		    <strong>$v.fields['name']</strong>
		</div>
		<div class="col-sm-8">
		    <input name="$k" type="text" class="form-control" id="inputName" placeholder="Name"
		$if errormess != '':
		    $if k in data :
			value="$data[k]"
		$elif id !='new':
		    value="$elem.get_real_name(k)"
		$if self.lang == k: 
		    required="true"
		>
		</div>
	    </div>
	
	<div class="form-group row">
	    <label for="inputBarcode" class="col-sm-3 col-form-label">$:c.getHalfling('barcode') $c.getMessage('code',self.lang)</label>
	    <div class="col-sm-9">
		<input name="code" type="text" class="form-control" id="inputBarcode" placeholder="$c.getMessage('code',self.lang)" 
		$if errormess != '':
		    $if 'code' in data :
			value="$data['code']"
		$elif id != 'new':
		    value="$c.AllBarcodes.get_barcode(elem.get_type(), id)"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$self.rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = (id == 'new')
		if not cond :
		    cond = (elem.fields['active'] == 1 or elem.fields['active'] == '1')
		if errormess != '' :
		    if 'active' in data :
			cond  = True
		    else:
			cond = False
	    <label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-3">
		<label for="includedContent" >$c.getMessage('color',self.lang)</label>
	    </div>
	    <script>
		$$(function(){
		    $$("#includedColor").load("/color/p_$(id)");
		});
	    </script>
	    <div id="includedColor" class="col-sm-9"></div>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputImage" class="col-sm-3 col-form-label">$c.getMessage('file',self.lang)</label>
	    <label class="control-label col-sm-9">
  	        <input id="inputImage" name="placeImg" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "jpeg", "png"]'>
            </label>
	</div>
	
	<div class="form-group row">
	    <label for="inputFile" class="col-sm-3 col-form-label">$c.getMessage('document',self.lang)</label>
	    <label class="control-label col-sm-9">
            $ i=0
	    $if id != 'new':
		    $for filename in elem.getDocumentList():
		        $ i=i+1
			($(i)) <a href="$elem.getDocumentURL(filename)" target="_blank">$filename</a><br/>
            <input id="inputFile" name="linkedDocs" type="file" multiple class="file file-loading"'>
            </label>
	</div>

	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/item/p_$(id)"
		$else :
		    href="/list/p"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">$c.getMessage('save',self.lang)</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>

<script>
    function mySelectChange() {
	var select = document.getElementById("group");
	var value = select.options[select.selectedIndex].text.split(" -")[0];
	value = value.replace(/_/g , "")
	value = value.replace(" ", "")
	document.getElementById("inputAcronym").value = value+"_";
    }
</script>
