$def with (connected, id, errormess, data, context='')
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var title : $c.AllPourings.getName(self.lang)
$code:
    myID = ""
    pouring = None
    rmq = data['remark'] if (data and 'remark' in data) else '' 
    if id == 'new':
        if context == '':
	    myID = 'new'
        else:
	    splits = context.split('_')
	    myID = splits[2]
	    batch = c.get_object(splits[0],splits[1])
    else :
	pouring = c.AllPourings.get(id)
	src = c.AllBatches.get(pouring.fields['src'])
	dest = c.AllBatches.get(pouring.fields['dest'])
	batch = dest
	myID = 'update'
        if pouring:
	    rmq = pouring.fields['remark']
$var bcTop:
$var bcOwner:$context
$var bcElem:v_$id
$var bcOperation:edit
<script>
function flip() {
    $$("#src").appendTo("#divdest");
    $$("#dest").appendTo("#divsrc");
    document.getElementsByName("src")[0].setAttribute("id", "test");
    document.getElementsByName("dest")[0].setAttribute("id", "src");
    document.getElementsByName("src")[0].setAttribute("id", "dest");
    document.getElementsByName("src")[0].setAttribute("name", "test");
    document.getElementsByName("dest")[0].setAttribute("name", "src");
    document.getElementsByName("test")[0].setAttribute("name", "dest");
}
</script>
<form  method="post" action="" id="modifyPouring"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
        $if myID == 'update':
		<input type="hidden" name="h_id" value="$pouring.fields['h_id']"/>
		<input type="hidden" name="origin" value="$pouring.fields['vm_id']"/>
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.getMessage('time',self.lang)</label>
	    <div class="col-sm-9 parent">
		<input name="time" type="text" class="form-control input" id="inputTime" placeholder="$c.getMessage('dateentry',self.lang)" 
		$if myID == 'update':
		    value="$pouring.fields['time']"
		$else :
		    value ="$c.get_time()"
		><script>rome.moment.locale("$(self.lang.lower())");rome(inputTime,{"inputFormat": "YYYY-MM-DD HH:mm:ss"});</script>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="b_id" class="col-sm-3 col-form-label">$c.getMessage('batch',self.lang) $c.getMessage('source',self.lang)</label>
	    <div class="col-sm-9" id = "divsrc">
		<select name="src" class="form-control" id="src">
		    $if myID != 'out':
			$for k in c.AllBatches.get_sorted_hierarchy():
			    $ b = c.AllBatches.get(k)
			    $if b and b.isActive() and not b.isComplete() and not (myID == 'in' and k == batch.getID()):
				<option value="$k"
				$if myID == 'update':
					    $if k == src.getID() :
						selected
				>$b.fields['acronym'] - $b.getName(self.lang) [= $unicode(b.get_residual_quantity())] </option>
		    $else:
			<option value="$batch.getID()" selected>$batch.fields['acronym'] - $batch.getName(self.lang) [= $unicode(batch.get_residual_quantity())] </option>
		</select>
	    </div>
	</div>
	<div class="form-group row">
	    <label for="inputbatch" class="col-sm-3 col-form-label">$c.getMessage('batch',self.lang) $c.getMessage('target',self.lang)</label>
	    <div class="col-sm-9" id = "divdest">
		<select name = "dest" class="form-control" id="dest">
			$if myID != 'in' :
			    $for k in c.AllBatches.get_sorted_hierarchy():
				$ b = c.AllBatches.get(k)
				$if b and b.isActive() and not b.isComplete() and not (myID == 'out' and k == batch.getID()):
				    <option value="$k"
				    $if myID == 'update':
					$if k == dest.getID() :
					    selected
				    >$b.fields['acronym'] - $b.getName(self.lang) [= $unicode(b.get_residual_quantity())]</option>
			$else:
			    <option value="$batch.getID()">$batch.fields['acronym'] - $batch.getName(self.lang) [= $unicode(batch.get_residual_quantity())] </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <button type ="button" class="btn btn-info col-sm-2 col-md-offset-5" onclick="flip()">invert</button>
	</div>
	
	<div class="form-group row">
	    <label for="inputValue" class="col-sm-3 col-form-label">$c.getMessage('quantity',self.lang)</label>
	    <div class="col-sm-6">
		<input name="quantity" type="number" class="form-control" id="inputValue" placeholder="$c.getMessage('value',self.lang)" 
		$if myID == 'update':
		    $ aMeasure = pouring.get_measure_in_context(c,batch)
		    value="$unicode(pouring.get_quantity())"
		    min="$(aMeasure.fields['min'])" max="$(aMeasure.fields['max'])" step="$(aMeasure.get_html_step())" 
		 required >
	    </div>
	    <div class="col-sm-3">
		$if myID == 'update':
			<strong>$pouring.get_unit_in_context(c,batch)</strong>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="alarmSelect" class="col-sm-3 col-form-label">$c.getMessage('alarm',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "a_id" class="form-control" id="alarmSelect">
		    <option value=""></option>
		    $for k in c.AllAlarms.get_sorted_hierarchy():
			$ alarm = c.AllAlarms.get(k)
			$if alarm:
				<option value="$k">$alarm.fields['acronym'] - $alarm.getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = (id == 'new')
		if not cond :
		    cond = pouring.isActive()
		if errormess != '' :
		    if 'active' in data :
			cond  = True
		    else:
			cond = False
	    <label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		$if id == 'new' :
		    <a href="/index" class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
		$else:
		    <a href="/find/v/b_$(batch.getID())" class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
</form>
