$def with (connected,barcode, errormess='')
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var title : ELSA $c.getMessage('search',self.lang)
$var bcTop:
$var bcOwner:
$var bcElem:
$var bcOperation:search
$var location:
$if errormess :
    <div class="form-group row" id="error">
    $c.getMessage(errormess,self.lang) [$(barcode)]
    </div>

<form action="/search" onsubmit="myFunction()" method="GET" class="col-form">
	<h4 class="form-group col-sm-12">$c.getMessage('search',self.lang)</h4>
	<div class="form-group row">
	    <label for="inputBarcode" class="col-xs-12 col-form-label">$c.getMessage('barcode',self.lang), $c.getMessage('acronym',self.lang), $c.getMessage('name',self.lang) :</label>
	    <div class="col-xs-12">
		<input name="search" type="text" class="form-control" id="inputBarcode" placeholder="$c.getMessage('search',self.lang)" required="true" onsubmit="myFunction()" autofocus>
	    </div>
	</div>
	<div class="form-group row">
	<button type= "submit" class="btn btn-primary btn-block">$c.getMessage('search',self.lang)</button>
        <label for="remark" class="col-xs-12 col-form-label">
	    <input type="checkbox" name="remark" id="remark"/> $c.getMessage('search',self.lang) $c.getMessage('remark',self.lang)
	</label>
	</div>
</form>
