$def with (connected,type,id, context='')
$# Template included in update forms and others where a group has to be chosen
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : True
$code :
    allObjs = c.findAll(type)
    groups = c.findAll(allObjs.get_group_type())
$var title : select multiple
$code:
    groupList = groups.get_hierarchy_str(None,None)
    tmp = ''
    indent = 1
    cindent = 9
    mygroup = None
    if id != 'new':
	if 'g' in type or type == 'h':
	    myid = id
	    mygroup = groups.get(id)
	else:
	    myid = allObjs.get(id).get_group()
<div class="form-group row">
	<label class="col-sm-12 col-form-label">$:c.getAllHalfling(groups) $c.getMessage(groups.get_class_acronym(),self.lang) ($c.getMessage('parent',self.lang))</label>
</div>
    $if len(groupList) > 0:
	$for group in groupList:
	    $if group == '>>' :
		$code:
		    indent+=1
		    cindent-=1
	    $elif group == '<<':
		$code:
		    indent-=1
		    cindent+=1
	    $else :
		$ aGroup = groups.get(group)
		$if aGroup:
		    <div class="form-group row">
		    <label class="col-xs-$indent col-form-label"></label>
		    <label id="modalinfo" for="inputGroups" class="col-xs-$cindent col-form-label"
			$if id != 'new':
			    $if group == myid:
				style="background-color:black;"	    
			>$groups.get(group).getName(self.lang)</label>
			$if (id != 'new' and mygroup and group in mygroup.get_related()) or (id == 'new' and context==aGroup.getTypeId() ):
			    <label class="col-sm-2 col-form-label">
			    <span class="glyphicon glyphicon-remove-circle"> </span>
				<label class="switch">
				    <input id='inputactive' name="$group" type="checkbox" value="1" checked>
				    <div class="slider round"></div>
				</label>
				<span class="glyphicon glyphicon-ok-circle"> </span>
			    </label>
			$elif id != 'new' and ( id == group or ( mygroup and ( group in mygroup.get_children() or group in mygroup.get_parents() or group in mygroup.get_siblings() ) ) ):
			    <label class="col-sm-2 col-form-label">-</label>
			$else :
			    <label class="col-sm-2 col-form-label">
			    <span class="glyphicon glyphicon-remove-circle"> </span>
				<label class="switch">
				    <input id='inputactive' name="$group" type="checkbox" >
				    <div class="slider round"></div>
				</label>
				<span class="glyphicon glyphicon-ok-circle"> </span>
			    </label>
		    </div>	
