$def with (id, mail, errormess, data)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$var recursive : False
$var title : $c.AllSensors.getName(self.lang)
$ sensor_channels = c.AllSensors.get_query_channels()
$if id == 'new':
    $var location: all/s=sensor edit/s_new=add
    $ rmq = ""
    $ aSensor = None
$else:
    $var location: all/s=sensor edit/s_$(id)=edit
    $ aSensor = c.AllSensors.elements[id]
    $ rmq =  aSensor.fields['remark']
    $var title : $aSensor.getName(self.lang)
$if errormess != '':
    $if 'remark' in data :
	$ rmq = data['remark']

$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>
	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$c.getMessage('acronym',self.lang)</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="$c.getMessage('acronym',self.lang)" 
		$if errormess != '':
		    $if 'acronym' in data :
			value="$data['acronym']" 
		$elif id != 'new':
		    value="$aSensor.fields['acronym']"
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-3 col-form-label">$c.getMessage('name',self.lang)</label>
	</div>
	
	$for k,v in c.AllLanguages.elements.items():
	    <div class="form-group row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-3">
		    <strong>$v.fields['name']</strong>
		</div>
		<div class="col-sm-8">
		    <input name="$k" type="text" class="form-control" id="inputName" placeholder="Name"
		$if errormess != '':
		    $if k in data :
			value="$data[k]"
		$elif id !='new':
		    value="$aSensor.get_real_name(k)"
		$if self.lang == k: 
		    required="true"
		>
		</div>
	    </div>
	
	<div class="form-group row">
	    <label for="langSelect" class="col-sm-3 col-form-label">$c.getMessage('component',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "component" class="form-control" id="langSelect">
		    <optgroup label="$c.getMessage('place',self.lang)">
		    $for k in c.AllPieces.elements.keys():
			<option value="p_$k"
			    $if errormess != '' :
				$if 'component' in data:
				    $if 'p_'+k == data['component']:
					selected
			    $elif id != 'new':
				$if k == aSensor.fields['p_id'] :
				    selected
			>$c.AllPieces.elements[k].fields['acronym'] - $c.AllPieces.elements[k].getName(self.lang) </option>
		    <optgroup label="$c.getMessage('equipment',self.lang)">
		    $for k in c.AllEquipments.elements.keys():
			<option value="e_$k"
			    $if errormess != '' :
				$if 'component' in data:
				    $if 'e_'+k == data['component']:
					selected
			    $elif id != 'new':
				$if k == aSensor.fields['e_id'] :
				    selected			
			>$c.AllEquipments.elements[k].fields['acronym'] - $c.AllEquipments.elements[k].getName(self.lang)</option>
		    <optgroup label="$c.getMessage('container',self.lang)">
		    $for k in c.AllContainers.elements.keys():
			<option value="c_$k"
			    $if errormess != '' :
				$if 'component' in data:
				    $if 'c_'+k == data['component']:
					selected
			    $elif id != 'new':
				$if k == aSensor.fields['c_id'] :
				    selected
			>$c.AllContainers.elements[k].fields['acronym'] - $c.AllContainers.elements[k].getName(self.lang)</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="measureSelect" class="col-sm-3 col-form-label">$c.getMessage('measure',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "measure" class="form-control" id="measureSelect">
		    $for k in c.AllMeasures.elements.keys():
                        $ aMeasure = c.AllMeasures.elements[k]
			<option value="m_$k"
			    $if errormess != '' :
				$if 'measure' in data:
				    $if 'm_'+k == data['measure']:
					selected
			    $elif id != 'new':
				$if k == aSensor.fields['m_id'] :
				    selected
			>$(aMeasure.fields['acronym']) - $(aMeasure.getName(self.lang)): $(aMeasure.fields['min']) +$(aMeasure.fields['step'])... $lt;= $(aMeasure.fields['max']) $(aMeasure.fields['unit'])</option>
		</select>
	    </div>
	</div>
	
	$for alarm in c.sortedCategs:
            $ aname = c.valueCategs[alarm].name
            $ acolor = c.valueCategs[alarm].color
	    <div  class="form-group row" style="border:5px solid #$(acolor);margin-bottom:10px;padding-top:5px">
	    <div class="form-group row">
		<label for="$(aname)Select" class="col-sm-3 col-form-label">$(c.getMessage(aname].getName(self.lang))</label>
		<div class="col-sm-9">
		    <input name="$(aname)" type="text" class="form-control" id="$(aname)Select" placeholder="$(c.getMessage('alarm',self.lang))" 
			$if errormess != '' :
			    $if 'alarm' in data:
				value = data['alarm']
			$elif id != 'new':
			    value="$aSensor.fields[aname]"
		    >
		</div>
	    </div>
	    <div class="form-group row" style="border-color:#$(acolor)">
		<label for="a$(aname)Select" class="col-sm-3 col-form-label"> &nbsp; &nbsp; $c.getMessage('alarm',self.lang)</label>
		<div class="col-sm-9">
		    <select name = "a_$(aname)" class="form-control" id="a$(aname)Select">
			<option value=''></option>
			$for k in c.AllAlarms.elements.keys():
			    <option value="$k"
				$if errormess != '' :
				    $if ('a_'+aname) in data:
					$if k == data['a_'+aname]:
					    selected
				$elif id != 'new':
				    $if k == aSensor.fields['a_'+aname] :
					selected
			    >$c.AllAlarms.elements[k].fields['acronym'] - $c.AllAlarms.elements[k].getName(self.lang) </option>
		    </select>
		</div>
	    </div>
            </div>
	<div class="form-group row">
	    <label for="inputLapse1" class="col-sm-3 col-form-label">$c.getMessage('lapse',self.lang) 1 (")</label>
	    <div class="col-sm-9">
		<input name="lapse1" type="text" class="form-control" id="inputLapse1" placeholder="$c.getMessage('lapse',self.lang)" 
		$if errormess != '':
		    $if 'lapse1' in data :
			value="$data['lapse1']"
		$elif id !='new':
		    value="$aSensor.fields['lapse1']"
		>
	    </div>
	</div>
	<div class="form-group row">
	    <label for="inputLapse2" class="col-sm-3 col-form-label">$c.getMessage('lapse',self.lang) 2 (")</label>
	    <div class="col-sm-9">
		<input name="lapse2" type="text" class="form-control" id="inputLapse2" placeholder="$c.getMessage('lapse',self.lang)" 
		$if errormess != '':
		    $if 'lapse2' in data :
			value="$data['lapse2']"
		$elif id !='new':
		    value="$aSensor.fields['lapse2']"
		>
	    </div>
	</div>
	<div class="form-group row">
	    <label for="inputLapse3" class="col-sm-3 col-form-label">$c.getMessage('lapse',self.lang) 3 (")</label>
	    <div class="col-sm-9">
		<input name="lapse3" type="text" class="form-control" id="inputLapse3" placeholder="$c.getMessage('lapse',self.lang)" 
		$if errormess != '':
		    $if 'lapse3' in data :
			value="$data['lapse3']"
		$elif id !='new':
		    value="$aSensor.fields['lapse3']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="channelSelect" class="col-sm-3 col-form-label">$c.getMessage('channel',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "channel" class="form-control" id="channelSelect">
		    $code:
			dicchannel = {'wire':'1-Wire','radio':'ELA Radio','http':'HTTP or HTTPS request', 'json' : 'JSON format from HTTP/HTTPS request','cputemp':'CPU Temperature','system':'System File','battery':'input.battery', 'humiditysensor1':'humiditysensor1', 'lightsensor1':'lightsensor1'}
		    $for item in sensor_channels:
			<option value="$(item)"
			$if errormess != '' :
			    $if 'channel' in data:
				$if item == data['channel']:
				    selected
			$elif id != 'new':
			    $if item == aSensor.fields['channel'] :
				selected
			>$(item)</option>
		</select>
	    </div>
	</div>

	<div class="form-group row">
	    <label for="inputSensor" class="col-sm-3 col-form-label">$c.getMessage('sensor',self.lang)</label>
	    <div class="col-sm-9">
		<input name="sensor" type="text" class="form-control" id="inputSensor" placeholder="$c.getMessage('sensor',self.lang)" 
		$if errormess != '':
		    $if 'sensor' in data :
			value="$data['sensor']"
		$elif id !='new':
		    value="$aSensor.fields['sensor']"
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputSubsensor" class="col-sm-3 col-form-label">$c.getMessage('subsensor',self.lang)</label>
	    <div class="col-sm-9">
		<input name="subsensor" type="text" class="form-control" id="inputUnit" placeholder="$c.getMessage('subsensor',self.lang)" 
		$if errormess != '':
		    $if 'subsensor' in data :
			value="$data['subsensor']"
		$elif id !='new':
		    value="$aSensor.fields['subsensor']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputValuetype" class="col-sm-3 col-form-label">$c.getMessage('valuetype',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "valuetype" class="form-control" id="channelSelect">
		    $code:
			values = ['float', 'int', 'hexa']
		    $for v in values:
		    <option value="$(v)"
			$if errormess != '':
			    $if 'valuetype' in data :
				$if v == data['valuetype']:
				    selected
			$elif id !='new':
			    $if v == aSensor.fields['valuetype'] :
				selected
			>$(v)</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputFormula" class="col-sm-3 col-form-label">$c.getMessage('formula',self.lang)</label>
	    <div class="col-sm-9">
		<input name="formula" type="text" class="form-control" id="inputFormula" placeholder="$c.getMessage('formula',self.lang)" 
		$if errormess != '':
		    $if 'formula' in data :
			value="$data['formula']"
		$elif id !='new':
		    value="$aSensor.fields['formula']"
		>
	    </div>
	</div>
	
        $if id !='new':
            <div class="form-group row">
                <label for="inputValidation" class="col-sm-3 col-form-label">TEST</label>
                <div class="col-sm-9" style="color:black">
		    $code:
                        value,debugging = aSensor.get_value_sensor(c.AllSensors.config)
		    Value=<b><span style="background-color:#$(aSensor.colorAlarm);color:black">$(value)</span>
                    $if aSensor.fields['m_id']:
                        $(c.AllMeasures.elements[aSensor.fields['m_id']].fields['unit'])
                    </b><br/>
                    $debugging
	        </div>
	    </div>
	
	<div class="form-group row">
	    <label for="inputBarcode" class="col-sm-3 col-form-label">$c.getMessage('code',self.lang)</label>
	    <div class="col-sm-9">
		<input name="code" type="text" class="form-control" id="inputBarcode" placeholder="$c.getMessage('code',self.lang)" 
		$if errormess != '':
		    $if 'code' in data :
			value="$data['code']"
		$elif id != 'new':
		    value="$c.AllBarcodes.get_barcode(aSensor.get_type(), id)"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="Remark" >$(rmq)</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-6 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = (id == 'new')
		if not cond :
		    cond = (aSensor.fields['active'] == 1 or aSensor.fields['active'] == '1')
		if errormess != '' :
		    if 'active' in data :
			cond  = True
		    else:
			cond = False
	    $if cond :
		<label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" checked>
		    <div class="slider round"></div>
		</label>
	    $else :
		<label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" >
		    <div class="slider round"></div>
		</label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/item/s_$(id)"
		$else :
		    href="/list/s"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
	
    </form>
</div>
