$def with (connected, id, errormess, data)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var title : $c.AllSensors.getName(self.lang)
$var bcTop:
$var bcOwner:
$var bcElem:s_$id
$var bcOperation:
$ sensor_channels = c.AllSensors.get_query_channels()
$ component = ""
$ comp_type = ""
$ comp_id = ""
$if id == 'new':
    $ rmq = ""
    $ elem = None
$else:
    $ elem = c.AllSensors.get(id)
    $ rmq =  elem.fields['remark']
    $var title : $elem.getName(self.lang)
    $code:
	if elem.fields['p_id']:
	    component = 'p_'+elem.fields['p_id']
	elif elem.fields['e_id']:
	    component = 'e_'+elem.fields['e_id']
	elif elem.fields['c_id']:
	    component = 'c_'+elem.fields['c_id']
$ now = useful.now()
$code:
	if errormess != '':
	    if 'remark' in data :
		rmq = data['remark']
	    if 'component' in data :
		component = data['component']
	if component:
	    component = component.split('_')
	    comp_type = component[0]
	    comp_id = component[1]
<form  method="post" action="" id="modifySensor"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>

	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$:c.getAllHalfling(c.AllSensors)$c.getMessage('acronym',self.lang)</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="$c.getMessage('acronym',self.lang)" 
		$if errormess != '':
		    $if 'acronym' in data :
			value="$data['acronym']" 
		$elif id != 'new':
		    value="$elem.fields['acronym']"
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-3 col-form-label">$c.getMessage('name',self.lang)</label>
	</div>
	
	$for k,v in c.AllLanguages.elements.items():
	    <div class="form-group row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-3">
		    <strong>$v.fields['name']</strong>
		</div>
		<div class="col-sm-8">
		    <input name="$k" type="text" class="form-control" id="inputName" placeholder="Name"
		$if errormess != '':
		    $if k in data :
			value="$data[k]"
		$elif id !='new':
		    value="$elem.get_real_name(k)"
		$if self.lang == k: 
		    required="true"
		>
		</div>
	    </div>
	
	<div class="form-group row">
	    <label for="langSelect" class="col-sm-3 col-form-label">$c.getMessage('component',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "component" class="form-control" id="langSelect">
		    $:c.AllGrUsage.component_options(None,comp_type,comp_id,self.lang)
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="measureSelect" class="col-sm-3 col-form-label">$:(c.getAllHalfling(c.AllMeasures))$c.getMessage('measure',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "measure" class="form-control" id="measureSelect">
		    $for k,aMeasure in c.AllMeasures.get_sorted().items():
			<option value="m_$k"
			    $if errormess != '' :
				$if 'measure' in data:
				    $if 'm_'+k == data['measure']:
					selected
			    $elif id != 'new':
				$if k == elem.fields['m_id'] :
				    selected
			>$(aMeasure.get_select_str(self.lang))</option>
		</select>
	    </div>
	</div>
	
	$for alarm in c.sortedCategs:
            $ aname = c.valueCategs[alarm].name
            $ acolor = c.valueCategs[alarm].color
	    <div  class="form-group row" style="border:5px solid #$(acolor);margin-bottom:10px;padding-top:5px">
	    <div class="form-group row">
	      <label for="$(aname)Select" class="col-sm-3 col-form-label">$(c.getMessage(aname,self.lang))</label>
              $if aname != 'none':
		<div class="col-sm-9">
		    <input name="$(aname)" type="text" class="form-control" id="$(aname)Select" placeholder="$(c.getMessage('alarm',self.lang))" 
			$if errormess != '' :
			    $if 'alarm' in data:
				value = data['alarm']
			$elif id != 'new':
			    value="$elem.fields[aname]"
		    >
		</div>
            </div>
	    <div class="form-group row" style="border-color:#$(acolor)">
		<label for="a$(aname)Select" class="col-sm-3 col-form-label">$:(c.getAllHalfling(c.AllAlarms))$c.getMessage('alarm',self.lang)</label>
		<div class="col-sm-9">
		    <select name = "a_$(aname)" class="form-control" id="a$(aname)Select">
			<option value=''></option>
			$for k,aMedia in c.AllAlarms.get_sorted().items():
			    <option value="$k"
				$if errormess != '' :
				    $if ('a_'+aname) in data:
					$if k == data['a_'+aname]:
					    selected
				$elif id != 'new':
				    $if k == elem.fields['a_'+aname] :
					selected
			    >$aMedia.fields['acronym'] - $aMedia.getName(self.lang) </option>
		    </select>
		</div>
	    </div>
            </div>
	<div class="form-group row">
	    <label for="inputLapse1" class="col-sm-3 col-form-label">$c.getMessage('lapse',self.lang) 1 (")</label>
	    <div class="col-sm-9">
		<input name="lapse1" type="text" class="form-control" id="inputLapse1" placeholder="$c.getMessage('lapse',self.lang)" 
		$if errormess != '':
		    $if 'lapse1' in data :
			value="$data['lapse1']"
		$elif id !='new':
		    value="$elem.fields['lapse1']"
		>
	    </div>
	</div>
	<div class="form-group row">
	    <label for="inputLapse2" class="col-sm-3 col-form-label">$c.getMessage('lapse',self.lang) 2 (")</label>
	    <div class="col-sm-9">
		<input name="lapse2" type="text" class="form-control" id="inputLapse2" placeholder="$c.getMessage('lapse',self.lang)" 
		$if errormess != '':
		    $if 'lapse2' in data :
			value="$data['lapse2']"
		$elif id !='new':
		    value="$elem.fields['lapse2']"
		>
	    </div>
	</div>
	<div class="form-group row">
	    <label for="inputLapse3" class="col-sm-3 col-form-label">$c.getMessage('lapse',self.lang) 3 (")</label>
	    <div class="col-sm-9">
		<input name="lapse3" type="text" class="form-control" id="inputLapse3" placeholder="$c.getMessage('lapse',self.lang)" 
		$if errormess != '':
		    $if 'lapse3' in data :
			value="$data['lapse3']"
		$elif id !='new':
		    value="$elem.fields['lapse3']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="channelSelect" class="col-sm-3 col-form-label">$c.getMessage('channel',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "channel" class="form-control" id="channelSelect">
		    $code:
			dicchannel = {'wire':'1-Wire','radio':'ELA Radio','http':'HTTP or HTTPS request', 'json' : 'JSON format from HTTP/HTTPS request','cputemp':'CPU Temperature','system':'System File','battery':'input.battery', 'humiditysensor1':'humiditysensor1', 'lightsensor1':'lightsensor1'}
		    $for item in sensor_channels:
			<option value="$(item)"
			$if errormess != '' :
			    $if 'channel' in data:
				$if item == data['channel']:
				    selected
			$elif id != 'new':
			    $if item == elem.fields['channel'] :
				selected
			>$(item)</option>
		</select>
	    </div>
	</div>
<!-- c.owproxy.dir() retournerait ['/10.000010EF0000/', '/05.000005FA0100/', '/26.000026D90200/', '/01.000001FE0300/', '/43.000043BC0400/']
     et permettrait de faire une liste des équipements 1-Wire connecté
     c.channels['ela'] contient déjà les devices ELA et leur [RSSI,last-time]
     c.channels['lora'] contient déjà les devices LORA et leur [RSSI,last-time]
 -->
	<div class="form-group row">
	    <label for="inputSensor" class="col-sm-3 col-form-label">$c.getMessage('sensor',self.lang)</label>
	    <div class="col-sm-9">
		<input name="sensor" type="text" class="form-control" id="inputSensor" placeholder="$c.getMessage('sensor',self.lang)" 
		$if errormess != '':
		    $if 'sensor' in data :
			value="$data['sensor']"
		$elif id !='new':
		    value="$elem.fields['sensor']"
		required="true" list="known"/>
		<datalist id="known">
		$if data and  data['channel'] in c.channels:
			$ channel = data['channel']
			$if channel == 'wire':
				$ list_channel = c.channels[channel]
				$ list = c.owproxy.dir()
				$for w in list:
					$ list_channel[w] = [0,now]
			$for k,v in c.channels[channel]:
				$ rssi = v[0]
				$ timestamp = v[1]
				<option value="$k">$k, RSSI:$rssi $timestamp</option>
		</datalist>
	    </div>
	</div>
<!-- une liste de subsensor possibles pourrait venir selon le channel...-->
	<div class="form-group row">
	    <label for="inputSubsensor" class="col-sm-3 col-form-label">$c.getMessage('subsensor',self.lang)</label>
	    <div class="col-sm-9">
		<input name="subsensor" type="text" class="form-control" id="inputSubsensor" placeholder="$c.getMessage('subsensor',self.lang)"
		$if errormess != '':
		    $if 'subsensor' in data :
			value="$data['subsensor']"
		$elif id !='new':
		    value="$elem.fields['subsensor']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputFormula" class="col-sm-3 col-form-label">$c.getMessage('formula',self.lang)</label>
	    <div class="col-sm-9">
		<input name="formula" type="text" class="form-control" id="inputFormula" placeholder="$c.getMessage('formula',self.lang)" 
		$if errormess != '':
		    $if 'formula' in data :
			value="$data['formula']"
		$elif id =='new':
		    value="value"
		$else:
		    value="$elem.fields['formula']"
		>
	    </div>
	</div>
	
        $if id !='new':
            <div class="form-group row">
                <label for="inputValidation" class="col-sm-3 col-form-label">TEST</label>
                <div class="col-sm-9" style="color:black">
		    $code:
                        value, ignore = elem.get_value_sensor(c,now)
		    Value=<span style="background-color:#$(elem.colorAlarm);color:#$(elem.colorTextAlarm)"><strong>$(value)</strong> $elem.get_unit(c)</span>
	        </div>
	    </div>
	
	<div class="form-group row">
	    <label for="inputBarcode" class="col-sm-3 col-form-label">$:c.getHalfling('barcode') $c.getMessage('code',self.lang)</label>
	    <div class="col-sm-9">
		<input name="code" type="text" class="form-control" id="inputBarcode" placeholder="$c.getMessage('code',self.lang)" 
		$if errormess != '':
		    $if 'code' in data :
			value="$data['code']"
		$elif id != 'new':
		    value="$elem.get_barcode(c,'')"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="Remark" >$(rmq)</textarea>
	    </div>
	</div>

	<div class="form-group row">
	    <label for="inputImage" class="col-sm-3 col-form-label">$c.getMessage('file',self.lang)</label>
	    <label class="control-label col-sm-9">
	        <input id="inputImage" name="placeImg" type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "jpeg", "png"]'>
            </label>
	</div>
	
	<div class="form-group row">
	    <label for="inputFile" class="col-sm-3 col-form-label">$c.getMessage('document',self.lang)</label>
	    <label class="control-label col-sm-9">
            $ i=0
	    $if id != 'new':
		    $for filename in elem.getDocumentList():
		        $ i=i+1
			<a href="/files/$(elem.getTypeId())?remove=$filename" class="btn btn-danger" onclick="return(YNmessage(this,'$(c.getMessage("remove",self.lang))','$filename'))">X</a> &nbsp;
			($(i)) <a href="$elem.getDocumentURL(filename)" target="_blank">$filename</a><br/>
	    <input id="inputFile" name="linkedDocs" type="file" multiple class="file file-loading"'>
            </label>
	</div>

	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = (id == 'new')
		if not cond :
		    cond = elem.isActive()
		if errormess != '' :
		    if 'active' in data :
			cond  = True
		    else:
			cond = False
	    <label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/find/related/s_$(id)"
		$else :
		    href="/list/s"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>	
</form>
