$def with (connected, id, errormess, data, context='')
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var title : $c.getMessage('add',self.lang) $c.getMessage('transfer',self.lang)
$var bcTop:
$var bcOwner:$context
$var bcElem:t_$id
$var bcOperation:edit
$ splits = context.split('_')
$ transfer = None
$if id == 'new':
    $code :
	myID = 'new'
	rmq = ''
$else :
    $code:
	idType = id.split('_')[0]
	if not idType in 'bec':
	    transfer = c.AllTransfers.get(id)
	    elem = c.get_object(transfer.fields['object_type'],transfer.fields['object_id'])
	    myID = 'update'
	    rmq = transfer.fields['remark']
    $var title :  $c.getMessage('transfer',self.lang) $id
$if context != '' :
    $code:
	myID = 'component'
	elem = c.get_object(splits[0],splits[-1])
	idType = elem.get_type()
	rmq = data['remark'] if (data and 'remark' in data) else '' 
    $var bcOwner:$elem.getTypeId() if elem else ""
<form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
        $if myID == 'update':
		<input type="hidden" name="h_id" value="$transfer.fields['h_id']"/>
		<input type="hidden" name="origin" value="$transfer.fields['tm_id']"/>
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.getMessage('time',self.lang)</label>
	    <div class="col-sm-9 parent">
		<input name="time" type="text" class="form-control input" id="inputTime" placeholder="$c.getMessage('dateentry',self.lang)" 
		$if myID == 'update':
		    value="$transfer.fields['time']"
		$else :
		    value ="$c.get_time()"
		><script>rome.moment.locale("$(self.lang.lower())");rome(inputTime,{"inputFormat": "YYYY-MM-DD HH:mm:ss"});</script>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputObject" class="col-sm-3 col-form-label">$c.getMessage('componentmove',self.lang) </label>
	    <div class="col-sm-9">
		<select name = "object" class="form-control" id="inputPosition">
		    $if myID == 'new':
			<optgroup label="$c.getMessage('batch',self.lang)">
			$for k in c.AllBatches.get_sorted_hierarchy():
			  $ e = c.AllBatches.get(k)
			  $if e and e.isActive() and not e.isComplete(): 
			    <option value="b_$k"$:(" selected" if e.getTypeId()==self.pinned else '')>$e.fields['acronym'] - $e.getName(self.lang) </option>
			<optgroup label="$c.getMessage('equipment',self.lang)">
			$for k  in c.AllEquipments.get_sorted_hierarchy():
			  $ e = c.AllEquipments.get(k)
			  $if e and e.isActive(): 
			    <option value="e_$k"$:(" selected" if e.getTypeId()==connected.where else '')>$e.fields['acronym'] - $e.getName(self.lang) </option>
			<optgroup label="$c.getMessage('container',self.lang)">
			$for k in c.AllContainers.get_sorted_hierarchy():
			  $ e = c.AllContainers.get(k)
			  $if e and e.isActive(): 
			    <option value="c_$k"$:(" selected" if e.getTypeId()==connected.where else '')>$e.fields['acronym'] - $e.getName(self.lang) </option>
		    $else:
			<option value="$(elem.get_type())_$(elem.getID())" selected>$elem.fields['acronym'] - $elem.getName(self.lang) </option>
		</select>
	    </div>
	</div>

        $if myID == 'update' and transfer.fields['tm_id']:
	    $code:
		model = transfer.get_model(c)
		minutes = None
		if model:
		    minutes = model.fields['typical']
	    $if minutes:
		<div class="form-group row">
		    <div class="col-xs-11"><strong>$(minutes+" mn")</strong></div>
		</div>

	$code:
	    recipe = None
	    gr_usage = None
	    recipe_id = None
	    if myID=='component' and ('gr_id' in elem.fields):
		recipe_id = elem.fields['gr_id']
		recipe = c.AllGrRecipe.get(recipe_id)
		if recipe:
		    gr_usage = recipe.fields['gu_id']
	<div class="form-group row">
	    <label for="inputPosition" class="col-sm-3 col-form-label">$c.getMessage('target',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "position" class="form-control" id="inputPosition">
			$:c.AllGrUsage.component_options(gr_usage,transfer.fields['cont_type'] if transfer else None,transfer.fields['cont_id'] if transfer else None,self.lang)
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    <label class="switch">
		    $code:
			cond = (id == 'new')
			if not cond :
			    cond = transfer.isActive()
			if errormess != '' :
			    if 'active' in data :
				cond  = True
			    else:
				cond = False
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/find/t/$(elem.get_type())_$(elem.getID())"
		$else :
		    href="/index"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
</form>
