$def with (id, mail, errormess, context='')
$var recursive : False
$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$var title : $c.getMessage('add',self.lang) $c.getMessage('transfer',self.lang)
$if id == 'new':
    $code :
	myID = 'new'
	rmq = ''
    $var location: transfers=transfer transfers/new/new=add
$else :
    $code:
	if not id.split('_')[0] in 'bec':
	    transfer = c.AllTransfers.elements[id]
	    elem = c.findAllFromType(transfer.fields['object_type']).elements[transfer.fields['object_id']]
	    myID = 'update'
	    rmq = transfer.fields['remark']
    $var title :  $c.getMessage('transfer',self.lang) $id
	    
$if context != '' :
    $code:
	myID = 'component'
	elem = c.findAllFromType(context.split('_')[0]).elements[context.split('_')[-1]]
	rmq = '' 
$if myID == 'update':
    $var location: list/$(elem.get_type())=$(elem.get_class_acronym()) transfers/$(elem.get_type())_$(elem.getID())=transfer edit/t_$(transfer.getID())=edit
$elif myID == 'component':
    $var location: list/$(id.split('_')[-0])=$(elem.get_class_acronym()) transfers/$(id.split('_')[0])_$(elem.getID())=transfer transfers/$(id.split('_')[0])_$(elem.getID())/new=add


<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.getMessage('time',self.lang)</label>
	    <div class="col-sm-9">
		<input name="time" type="text" class="form-control" id="inputTime" placeholder="$c.getMessage('dateentry',self.lang)" 
		$if myID == 'update':
		    value="$transfer.fields['time']"
		$else :
		    value ="$c.get_time()"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputObject" class="col-sm-3 col-form-label">$c.getMessage('componentmove',self.lang) </label>
	    <div class="col-sm-9">
		<select name = "object" class="form-control" id="inputPosition">
		    $if myID == 'new':
			<optgroup label="$c.getMessage('batch',self.lang)">
			$for k,e in c.AllBatches.elements.items():
			  $if e.isActive() and not e.isComplete(): 
			    <option value="b_$k"
				$if not myID == 'new':
				    $if 'b' == elem.get_type() and k == elem.getID() :
					selected
			    >$e.fields['acronym'] - $e.getName(self.lang) </option>
			<optgroup label="$c.getMessage('equipment',self.lang)">
			$for k,e in c.AllEquipments.elements.items():
			  $if e.isActive(): 
			    <option value="e_$k"
				$if not myID == 'new':
				    $if 'e' == elem.get_type() and k == elem.getID() :
					selected	
			    >$e.fields['acronym'] - $e.getName(self.lang) </option>
			<optgroup label="$c.getMessage('container',self.lang)">
			$for k,e in c.AllContainers.elements.items():
			  $if e.isActive(): 
			    <option value="c_$k"
				$if not myID == 'new':
				    $if 'c' == elem.get_type() and k == elem.getID() :
					selected
			    >$e.fields['acronym'] - $e.getName(self.lang) </option>
		    $else:
			<option value="$(elem.get_type())_$(elem.getID())" selected>$elem.fields['acronym'] - $elem.getName(self.lang) </option>
		</select>
	    </div>
	</div>

	$code:
	    recipe = None
	    usages = None
	    recipe_id = None
	    if myID=='component' and ('gr_id' in elem.fields):
		    recipe_id = elem.fields['gr_id']
		    if recipe_id and recipe_id in c.AllGrRecipe.elements:
		        recipe = c.AllGrRecipe.elements[recipe_id]
		    if recipe:
			gr_usage = recipe.fields['gu_id']
		        if gr_usage and gr_usage in c.AllGrUsage.elements:
			    usage = c.AllGrUsage.elements[gr_usage]
			    usages = set(usage.children)
			    usages.add(gr_usage)

	<div class="form-group row">
	    <label for="inputPosition" class="col-sm-3 col-form-label">$c.getMessage('target',self.lang)</label>
	    <div class="col-sm-9">
		<select name = "position" class="form-control" id="inputPosition">
		    $ first = True
		    $for k,v in c.AllPlaces.elements.items():
                        $ curr_group=v.fields['gu_id']
			$if v.isActive() and not usages or (curr_group and curr_group in usages):
			    $if first:
				<optgroup label="$c.getMessage('place',self.lang)">
				$ first = False
			    <option value="p_$k"
			    $if myID == 'update':
				$if 'p' == transfer.fields['cont_type'] and k == transfer.fields['cont_id'] :
				    selected
			    >$v.fields['acronym'] - $v.getName(self.lang) </option>
		    $if not(myID == 'component' and  elem.get_type() == 'e'):
			    $ first = True
			    $for k,v in c.AllEquipments.elements.items():
                                $ curr_group=v.fields['gu_id']
				$if v.isActive() and not usages or (curr_group and curr_group in usages):
				    $if first:
					<optgroup label="$c.getMessage('equipment',self.lang)">
					$ first = False
				    <option value="e_$k" 
				    $if myID == 'update':
					$if 'e' == transfer.fields['cont_type'] and k == transfer.fields['cont_id'] :
					    selected			
				    >$v.fields['acronym'] - $v.getName(self.lang)</option>
		    $if not(myID == 'component' and (elem.get_type() == 'c'or elem.get_type() == 'e')):
			    $ first = True
			    $for k,v in c.AllContainers.elements.items():
                                $ curr_group=v.fields['gu_id']
				$if v.isActive() and not usages or (curr_group and curr_group in usages):
				    $if first:
					<optgroup label="$c.getMessage('container',self.lang)">
					$ first = False
				    <option value="c_$k"
				    $if myID == 'update':
					$if 'c' == transfer.fields['cont_type'] and k == transfer.fields['cont_id'] :
					    selected
				    >$v.fields['acronym'] - $v.getName(self.lang)</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.getMessage('remark',self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.getMessage('remark',self.lang)" >$rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-3 col-form-label">$c.getMessage('active',self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    <label class="switch">
		    $code:
			cond = (id == 'new')
			if not cond :
			    cond = (transfer.fields['active'] == 1 or transfer.fields['active'] == '1')
			if errormess != '' :
			    if 'active' in data :
				cond  = True
			    else:
				cond = False
		    <input id='inputactive' name="active" type="checkbox" value="1" $('checked' if cond else '')>
		    <div class="slider round"></div>
	    </label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a 
		$if id != 'new' :
		    href="/find/t/$(elem.get_type())_$(elem.getID())"
		$else :
		    href="/index"
		class="btn btn-danger btn-block" role="button">$c.getMessage('cancel',self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>
