$def with (connected, git_status)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var recursive : False
$var location : updateELSA=updateELSA
$var title : Update ELSA

<div class="container">
    Résultat de git status :<br>
    <em>$:git_status</em>
    <form method="post" action="" id="selectAction" enctype="multipart/form-data">
        Redémarrer et mettre à jour ELSA
        <div class="form-group column">
            <input type="submit" value="$c.getMessage('startUpdate',self.lang)" class="form-control" name="start_elsa_update">
        </div>
    </form>
</div>
