$def with (connected, git_status)
$var allowed : $connected.cuser.allowed(c)
$var lang : $connected.cuser.fields['language']
$var completeMenu : $connected.completeMenu
$var pinned : $connected.pinned()
$var recursive : False
$var location : updateELSA=updateELSA
$var title : Update ELSA

<h3>git status :</h3><em>$:git_status</em>
<form method="post" action="" id="selectAction" enctype="multipart/form-data">
        <div class="form-group column">
            <input type="submit" value="$c.getMessage('startUpdate',self.lang)" class="form-control" name="start_elsa_update">
        </div>
</form>
