

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#hrform {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #f07e26;
    margin: 1em 0;
    padding: 0; 
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* Modal Content/Box */
.modal-content {
    background-color: #E5E5E7;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-header {
    background-color:#00152b;
    color:#f07e26;
}
.modal-footer {
    background-color:#00152b;
    color:#f07e26;
}
.modal-body {
}
.glyphicon-ok-circle{
    color:green;
}
.glyphicon-remove-circle{
    color:red;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.glyphicon{
    font-size: 22px;
}
.halflings{
    font-size: 22px;
    height:22px;
    width:22px;
}
#modalinfo{
    background-color:white;
}
#addItem{
    color:#f07e26;
    font-size:22px;
}
.close:hover,
.close:focus {
    color: #f07e26;
    text-decoration: none;
    cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


body{
	font-family: 'Open Sans', sans-serif;
}

form{
    color:#f07e26;
    background-color:#E5E5E7;
    padding : 15px;
}


#listing {
    font-size:18px;
}

#error{
    color : red;
    font-size:20px;
}

.button-holder {
	width: 40px;
	display: inline-block;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-image:none;
	background-color:#F07E26;
	color:white;
	text-shadow:none;
	box-shadow:none;
	border-color:transparent;
}

h3, .h3 {
	font-size:16px;
	font-weight:bold;
	color:#F07E26 !important;
}
.btn-default {
	background-image:none;
	background-color:#4D5A66;
	color:white;
	text-shadow:none;
	box-shadow:none;
	border-color:transparent;
}

.button-spacer {
  	width: 40px;
	display: inline-block;
}
  
.container { margin-top:-7px }

/*
@media screen (max-width: 567px) {
  .button-spacer {
  	width: 12px;
	display: inline-block;
  }
}

@media (min-width: 568px) and (max-width:991px) {
  //.container { width: 550px; }
  .button-spacer {
  	width: 40px;
	display: inline-block;
  }
}
*/
@media (min-width: 992px) {
  body {
	width: 992px;
	margin-left: auto;
	margin-right: auto
  }

  .container { width: 970px; }
  /*
  .button-spacer {
  	  width: 60px;
      display: inline-block;
  }*/
}

a {
    color:#f07e26;
    text-decoration: none;
}

a.blue {
    color: #337ab7;
}
a.blue:hover {
    color: #f07e26;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #f07e26;
}
.nav.li.dropdown.open{
    background-color: #f07e26;
}
.navbar-inverse {
	background-color:#00152b;
	border-color:#00152B;
	background-image:none;
	padding-top:7px;	
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color:#f07e26;
}

.navbar-inverse .navbar-nav > .active > a{
	background-image:none;
}

.nav {
	font-weight:700;
}

.form-horizontal, .form-normal, .info-block {
	background-color: #E5E5E7;
	padding:0px;
}

.form-horizontal.without-tabs, .form-normal.without-tabs, .info-block.without-tabs {
	padding-top:6px;
}

ul.nav.nav-tabs {
	background-color: white;
	margin-bottom:12px;
}

.nav-tabs li {
	padding: 3px 2px 0px 3px;
	margin: 0px;
}
.nav-tabs li.active {
	background-color: #E5E5E7;
}

.row.end-block {
  margin-bottom:7px;
}

.row.active {
	background-color:#E5E5E7;
	padding:5px 0px 5px 0px;
}

.row.inactive {
	background-color:#CCC;
	padding:5px 0px 5px 0px;
}

.row.section {
	margin-bottom:10px;
	padding:6px;
	background-color:#F07E26;
}

.row.section a {
	color:white;
}

.row.create-block {
	padding:6px;
	color:white;
	background-color:#00152B;
}

.row.buttons-list {
	margin-bottom:10px;
	margin-top:10px;
}
.row.form-group {
	padding-left:6px;
	padding-right:6px;
}


/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb {
	margin-top:6px;
}
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}


