$def with (id, mail, errormess)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$var recursive : False

$if id == 'new':
    $var location: all/a=alarm edit/a_new=add
    $var rmq :
    
$else:
    $var location: all/a=alarm edit/a_$(id)=edit
    $var rmq :  $c.AllAlarms.elements[id].fields['remark']

<div class="container">
    <form  method="post" action="" id="modifyPlace" enctype="multipart/form-data" data-bv-message="This value is not valid" data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>
	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$c.AllMessages.elements['acronym'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="$c.AllMessages.elements['acronym'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllAlarms.elements[id].fields['acronym']"
		required="true">
	    </div>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-3 col-form-label">$c.AllMessages.elements['name'].getName(self.lang)</label>
	</div>
	
	$for k,v in c.AllLanguages.elements.items():
	    <div class="form-group row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-3">
		    <strong>$v.fields['name']</strong>
		</div>
		<div class="col-sm-8">
		    <input name="$k" type="text" class="form-control" id="inputName" placeholder="Name"
		$if id !='new':
		    value="$c.AllAlarms.elements[id].get_real_name(k)"
		$if self.lang == k: 
		    required="true"
		> 
		</div>
	    </div>
	
	<div class="form-group row">
	    <label for="inputSms1" class="col-sm-3 col-form-label">$c.AllMessages.elements['phone'].getName(self.lang) 1</label>
	    <div class="col-sm-9">
		<select name = "o_sms1" class="form-control" id="inputSms1">
		    <option value=""></option>
		    $for k in c.AllGrFunction.elements.keys():
			<option value="$k"
                        $if id != 'new':
                            $if c.AllAlarms.elements[id].fields["o_sms1"] == k:
				selected
			>$c.AllGrFunction.elements[k].fields['acronym'] - $c.AllGrFunction.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputMail1" class="col-sm-3 col-form-label">$c.AllMessages.elements['mail'].getName(self.lang) 1</label>
	    <div class="col-sm-9">
		<select name = "o_email1" class="form-control" id="inputMail1">
		    <option value=""></option>
		    $for k in c.AllGrFunction.elements.keys():
			<option value="$k"
                        $if id != 'new':
                            $if c.AllAlarms.elements[id].fields["o_email1"] == k:
				selected
			>$c.AllGrFunction.elements[k].fields['acronym'] - $c.AllGrFunction.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputSound1" class="col-sm-3 col-form-label">$c.AllMessages.elements['sound'].getName(self.lang) 1</label>
	    <div class="col-sm-9">
		<select name = "o_sound1" class="form-control" id="inputSound1">
		    <option value=""></option>
		    $for k in c.AllGrFunction.elements.keys():
			<option value="$k"
                        $if id != 'new':
                            $if c.AllAlarms.elements[id].fields["o_sound1"] == k:
				selected
			>$c.AllGrFunction.elements[k].fields['acronym'] - $c.AllGrFunction.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputSms2" class="col-sm-3 col-form-label">$c.AllMessages.elements['phone'].getName(self.lang) 2</label>
	    <div class="col-sm-9">
		<select name = "o_sms2" class="form-control" id="inputSms2">
		    <option value=""></option>
		    $for k in c.AllGrFunction.elements.keys():
			<option value="$k"
                        $if id != 'new':
                            $if c.AllAlarms.elements[id].fields["o_sms2"] == k:
				selected
			>$c.AllGrFunction.elements[k].fields['acronym'] - $c.AllGrFunction.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputMail2" class="col-sm-3 col-form-label">$c.AllMessages.elements['mail'].getName(self.lang) 2</label>
	    <div class="col-sm-9">
		<select name = "o_email2" class="form-control" id="inputMail2">
		    <option value=""></option>
		    $for k in c.AllGrFunction.elements.keys():
			<option value="$k"
                        $if id != 'new':
                            $if c.AllAlarms.elements[id].fields["o_email2"] == k:
				selected
			>$c.AllGrFunction.elements[k].fields['acronym'] - $c.AllGrFunction.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputSound2" class="col-sm-3 col-form-label">$c.AllMessages.elements['sound'].getName(self.lang) 2</label>
	    <div class="col-sm-9">
		<select name = "o_sound2" class="form-control" id="inputSound2">
		    <option value=""></option>
		    $for k in c.AllGrFunction.elements.keys():
			<option value="$k"
                        $if id != 'new':
                            $if c.AllAlarms.elements[id].fields["o_sound2"] == k:
				selected
			>$c.AllGrFunction.elements[k].fields['acronym'] - $c.AllGrFunction.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	
	
	
	<div class="form-group row">
	    <label for="inputRelay1" class="col-sm-3 col-form-label">$c.AllMessages.elements['relay'].getName(self.lang) 1</label>
	    <div class="col-sm-9">
		<input name="relay1" type="text" class="form-control" id="inputRelay1" placeholder="$c.AllMessages.elements['relay'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllAlarms.elements[id].fields['relay1']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRelay2" class="col-sm-3 col-form-label">$c.AllMessages.elements['relay'].getName(self.lang) 2</label>
	    <div class="col-sm-9">
		<input name="relay2" type="text" class="form-control" id="inputRelay2" placeholder="$c.AllMessages.elements['relay'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllAlarms.elements[id].fields['relay2']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputBarcode" class="col-sm-3 col-form-label">$c.AllMessages.elements['code'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="code" type="text" class="form-control" id="inputBarcode" placeholder="$c.AllMessages.elements['code'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllBarcodes.get_barcode(c.AllAlarms.elements[id].get_type(), id)"
		>
	    </div>
	</div>	
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.AllMessages.elements['remark'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="Remark" >$self.rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-6 col-form-label">$c.AllMessages.elements['active'].getName(self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = (id == 'new')
		if not cond :
		    cond = (c.AllAlarms.elements[id].fields['active'] == 1 or c.AllAlarms.elements[id].fields['active'] == '1')
	    $if cond :
		<label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" checked>
		    <div class="slider round"></div>
		</label>
	    $else :
		<label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" >
		    <div class="slider round"></div>
		</label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a href="/list/a" class="btn btn-danger btn-block" role="button">$c.AllMessages.elements['cancel'].getName(self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
	
    </form>
</div>
