$def with (id, mail, errormess)

$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$var recursive : False

$if id == 'new':
    $var location: all/b=batch edit/b_new=add
    $var rmq :
    
$else:
    $var location: all/b=batch edit/b_$(id)=edit
    $var rmq :  $c.AllBatches.elements[id].fields['remark']

<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.AllMessages.elements['time'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="time" type="text" class="form-control" id="inputTime" placeholder="$c.AllMessages.elements['time'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllBatches.elements[id].fields['time']"
		$else :
		    value ="$c.get_time()"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$c.AllMessages.elements['acronym'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="$c.AllMessages.elements['acronym'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllBatches.elements[id].fields['acronym']"
		required="true">
	    </div>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-3 col-form-label">$c.AllMessages.elements['name'].getName(self.lang)</label>
	</div>
	
	$for k,v in c.AllLanguages.elements.items():
	    <div class="form-group row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-3">
		    <strong>$v.fields['name']</strong>
		</div>
		<div class="col-sm-8">
		    <input name="$k" type="text" class="form-control" id="inputName" placeholder="Name"
		$if id !='new':
		    value="$c.AllBatches.elements[id].get_real_name(k)"
		$if self.lang == k: 
		    required="true"
		>
		</div>
	    </div>
	    
	<div class="form-group row">
	    <label for="measureSelect" class="col-sm-3 col-form-label">$c.AllMessages.elements['measure'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<select name = "measure" class="form-control" id="measureSelect">
		    $for k in c.AllMeasures.elements.keys():
			<option value="m_$k"
			    $if id != 'new':
				$if k == c.AllBatches.elements[id].fields['m_id'] :
				    selected
			>$c.AllMeasures.elements[k].fields['acronym'] - $c.AllMeasures.elements[k].getName(self.lang) - $c.AllMeasures.elements[k].fields['unit']</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputLapse1" class="col-sm-3 col-form-label">$c.AllMessages.elements['quantity'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="basicqt" type="text" class="form-control" id="inputLapse1" placeholder="$c.AllMessages.elements['quantity'].getName(self.lang)" 
		    $if id != 'new':
			value="$c.AllBatches.elements[id].fields['basicqt']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputLapse1" class="col-sm-3 col-form-label">$c.AllMessages.elements['cost'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="cost" type="text" class="form-control" id="inputLapse1" placeholder="$c.AllMessages.elements['cost'].getName(self.lang)" 
		    $if id != 'new':
			value="$c.AllBatches.elements[id].fields['cost']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputBarcode" class="col-sm-3 col-form-label">$c.AllMessages.elements['code'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="code" type="text" class="form-control" id="inputBarcode" placeholder="$c.AllMessages.elements['code'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllBarcodes.get_barcode(c.AllBatches.elements[id].get_type(), id)"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.AllMessages.elements['remark'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="Remark" >$self.rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <script>
		$$(function(){
		    $$("#includedPermission").load("/permission/b_$(id)");
		});
	    </script>
	    <div id="includedPermission" class="col-sm-12"></div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-6 col-form-label">$c.AllMessages.elements['active'].getName(self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = (id == 'new')
		if not cond :
		    cond = (c.AllBatches.elements[id].fields['active'] == 1 or c.AllBatches.elements[id].fields['active'] == '1')
	    $if cond :
		<label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" checked>
		    <div class="slider round"></div>
		</label>
	    $else :
		<label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" >
		    <div class="slider round"></div>
		</label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputFile" class="col-sm-6 col-form-label">$c.AllMessages.elements['file'].getName(self.lang)</label>
	    <label class="control-label"></label>
	    <input id="inputFile" name="placeImg" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "jpeg"]'>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a href="/list/b" class="btn btn-danger btn-block" role="button">$c.AllMessages.elements['cancel'].getName(self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
	
    </form>
</div>

