$def with (mail, type,id)
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$code :
    elem = c.connectedUsers.users[mail].cuser.exportdata
$var recursive : False
$var location: all/$(type)=$(c.findAllFromType(type).get_name_object()) exportdata/$(type)_$(id)=exportdata datatable/$(type)_$(id)=datatable
$if elem is not None:
    <div class="container">           
	<table class="table table-condensed">
	    <thead>
		<tr>
		    $for e in elem.fieldnames:
			<th>$e</th>
		</tr>
	    </thead>
	    <tbody>
		$for line in elem.elements:
		    $if line['value'] != 'None' :
			<tr>
			    $for e in elem.fieldnames:
                                $if e == 'timestamp':
                                    $if line['timestamp'] != '' :
                                        <td>$useful.timestamp_to_date(int(line['timestamp']),c.get_time_format())</td>
                                $else :
				    <td align="center">$line[e]</td>
			</tr>
	    </tbody>
	</table>
    </div>
$else:
    -
