$def with (mail,type, id)	
$var recursive : True
$code :
    allElem = c.findAllFromType(type)
    elem = allElem.elements[id]
    keyID = allElem.keyColumn
 
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']


<div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <div class="col-xs-12 " >
	<div class="col-xs-2 vcenter">
	    <button type="button" class="btn btn-warning btn-md $(type)_$(id)" data-toggle="modal" data-target="#$(type)_$(id)modal"><span class="$c.AllHalflings.elements['info'].getHalfling()"></span></button>
	</div>
	<div class="col-xs-1 vcenter" >
	$if 'active' in elem.fields :
	    $if elem.fields['active'] == '0' or  elem.fields['active'] == 0 :
		<span class="glyphicon glyphicon-remove-circle"> </span>
	    $else:
		<span class="glyphicon glyphicon-ok-circle"> </span>
	</div>	    
	<div class="col-xs-5 vcenter" ><span class="$c.AllHalflings.elements[elem.get_name()].getHalfling()"></span> $elem.fields['acronym']<br/>
	    <strong>$elem.getName(self.lang)</strong>
	</div>
	$if c.is_component(type) == True or type == 'm' :
	    <div class="col-xs-2 vcenter" >
		<strong><a href="/find/d/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['measure'].getHalfling()"></span></a></strong>
	    </div>
	$elif type == 'g' :
	    <div class="col-xs-2 vcenter" >
		<strong><a href="/find/related/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['related'].getHalfling()"></span></a></strong>
	    </div>
	$if type in 'cpesm':
	    <div class="col-xs-1 vcenter" >
		<strong><a href="/graphic/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['graphic'].getHalfling()"></span></a></strong>
	    </div>
	$elif type in 'b':
	    <div class="col-xs-1 vcenter" >
		<strong><a href="/find/t/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['transfer'].getHalfling()"></span></a></strong>
	    </div>
    </div>
</div>


<div class="modal" id="modal_$(type)_$(id)">
    <div class="modal-dialog">
    </div>
</div>

<script>
    $$(document).ready(function(){
	$$('.$(type)_$(id)').on("click",function(e){
	    $$("#modal_$(type)_$(id)").find(".modal-dialog").load("/modal/$(type)_$(id)");
	    $$("#modal_$(type)_$(id)").modal('show');
	});
    });
</script>
