$def with (mail,type, id)	
$var recursive : True
$code :
    allElem = c.findAllFromType(type)
    elem = allElem.elements[id]
    keyID = allElem.keyColumn
    permissionKey = type +'_'

$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
<div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <div class="col-xs-12 " >
	<div class="col-xs-2 vcenter">
	    <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#$(type)_$(id)modal"><span class="$c.AllHalflings.elements['info'].getHalfling()"></span></button>
	</div>
	<div class="col-xs-1 vcenter" >
	$if 'active' in elem.fields :
	    $if elem.fields['active'] == '0' or  elem.fields['active'] == 0 :
		<span class="glyphicon glyphicon-remove-circle"> </span>
	    $else:
		<span class="glyphicon glyphicon-ok-circle"> </span>
	</div>	    
	<div class="col-xs-2 vcenter" ><span class="$c.AllHalflings.elements[elem.get_name()].getHalfling()"></span>    $elem.fields['acronym']</div>
	<div class="col-xs-3 vcenter">
	    <strong>$elem.getName(self.lang)</strong>
	</div>
	$if c.AllBarcodes.get_barcode(elem.get_type(), elem.id) != '' :
	    <div class="col-xs-2 vcenter">
		<strong><a href="/barcode/$(c.AllBarcodes.get_barcode(elem.get_type(), elem.id))" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['barcode'].getHalfling()"></span></a></strong>
	    </div>
	$if type in 'cpeb' :
	    <div class="col-xs-1 vcenter">
		<strong><a href="/export/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['exportdata'].getHalfling()"></span></a></strong>
	    </div>
    </div>
    <div class="col-xs-12 " style ="margin-top:10px" >
	$if type in 'cpesmb' :
	    <div class="col-xs-2" >
		<strong><a href="/find/d/$(type)_$(id)" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['measure'].getHalfling()"></span></a></strong>
	    </div>
	$else :
	    <div class="col-xs-2" >
	    </div>
	$if type in 'cpem' :
	    <div class="col-xs-2" >
		<strong><a href="/find/related/$(type)_$id" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['related'].getHalfling()"></span></a></strong>
	    </div>
	$elif type in 'b' :
	    <div class="col-xs-2" >
		<strong><a href="/find/v/$(type)_$id" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['pouring'].getHalfling()"></span></a></strong>
	    </div>
	$else :
	    <div class="col-xs-2" >
	    </div>
	$if type in 'cpesm' :
	    <div class="col-xs-2" >
		<strong><a href="/graphic/$(type)_$id" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['graphic'].getHalfling()"></span></a></strong>
	    </div>
	$else :
	    <div class="col-xs-2" >
	    </div>
	<div class="col-xs-2" >
	    <strong><a href="/edit/$(type)_$id" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['edit'].getHalfling()"></span></a></strong>
	</div>
	<div class="col-xs-2" >
	    <strong><a href="/permissions/$(type)_$id" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['group'].getHalfling()"></span></a></strong>
	</div>
	$if type in 'bce' :
	    <div class="col-xs-2" >
		<strong><a href="/find/t/$(type)_$id" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['transfer'].getHalfling()"></span></a></strong>
	    </div>
	$else :
	    <div class="col-xs-2" >
	    </div>
    </div>
</div>
