$def with (mail,id)
$var location: graphic/$id
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']

<h1 id="title">Graphic sensor : $c.AllSensors.elements[id].getName(self.lang)</h1>



    <table width="100%">
	<tr>
	    <td>
		<div id="mygraph"></div>
	    </td>
	</tr>
    </table>

    <script type="text/javascript">
	var graph_opts={legend: { noColumns:4}};
	var ds_graph_opts={'Oscilator':{ color: "#ff8000", lines: { show: true, fill: true, fillColor:"#FF0000"} },
                         'Idle':{ label: 'IdleJobs', color: "#00c0c0", 
                                  lines: { show: true, fill: true} },
                         'Running':{color: "#000000",yaxis:2}};
        $code:
            url = 'id/'+c.AllSensors.elements[id].getRRDName()
	flot_obj=new rrdFlotAsync("mygraph","$url",null,graph_opts,ds_graph_opts);
    </script>
