$def with(content)
$if content.recursive == 'False' :
    $if content.lang == 'disconnected':
	$var tmp : disconnected
    $else:
	$var tmp : connected 
    <!doctype html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>ELSA - Beta</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="icon" type="image/png" href="/static/favicon.ico">

	    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	    <style>
		body {
		    padding-top: 50px;
		    padding-bottom: 20px;
		}
	    </style>
	    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="/static/css/main.css">
	    <link rel="stylesheet" href="/static/css/glyphicons-halflings.css">
	    <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	    <script src="/static/js/jquery.js"></script>
	    <script src="/static/js/vendor/bootstrap.min.js"></script>
	    <script src="/static/js/plugins.js"></script>
	    <script src="/static/js/main.js"></script>

	</head>
	<body>
	    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/" style="margin-top:-10px;"><img src="/static/img/akuino.png" border="0" alt="This application stores the configuration and the data of the different AKUINO modules installed"/></a>
		</div>
			
		<div id="navbar" class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.AllMessages.elements['component'].getName(content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/p" tabindex="-1"><span class="$c.AllHalflings.elements['place'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['place'].getName(content.lang)</a></li>
				<li><a href="/list/e" tabindex="-2"><span class="$c.AllHalflings.elements['equipment'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['equipment'].getName(content.lang)</a></li>
				<li><a href="/list/c" tabindex="-3"><span class="$c.AllHalflings.elements['container'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['container'].getName(content.lang)</a></li>
				<li><a href="/list/gu" tabindex="-4"><span class="$c.AllHalflings.elements['guse'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['guse'].getName(content.lang)</a></li>				
			    </ul>
			</li>
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.AllMessages.elements['data'].getName(content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/m" tabindex="-1"><span class="$c.AllHalflings.elements['measure'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['measure'].getName(content.lang)</a></li>
				<li><a href="/list/a" tabindex="-2"><span class="$c.AllHalflings.elements['alarm'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['alarm'].getName(content.lang)</a></li>
				<li><a href="/list/s" tabindex="-3"><span class="$c.AllHalflings.elements['sensor'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['sensor'].getName(content.lang)</a></li>
			    </ul>
			</li>
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.AllMessages.elements['checkpoint'].getName(content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/h" tabindex="-1" class="blue"><span class="$c.AllHalflings.elements['checkpoint'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['checkpoint'].getName(content.lang)</a></li>
				<li><a href="/list/dm" tabindex="-2" class="blue"><span class="$c.AllHalflings.elements['manualdatamodel'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['manualdatamodel'].getName(content.lang)</a></li>
				<li><a href="/list/tm" tabindex="-3" class="blue"><span class="$c.AllHalflings.elements['transfermodel'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['transfermodel'].getName(content.lang)</a></li>
				<li><a href="/list/vm" tabindex="-4"><span class="$c.AllHalflings.elements['pouringmodel'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['pouringmodel'].getName(content.lang)</a></li>
			    </ul>
			</li>
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.AllMessages.elements['production'].getName(content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/b" tabindex="-1"><span class="$c.AllHalflings.elements['batch'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['batch'].getName(content.lang)</a></li>
				<li><a href="/list/gr" tabindex="-2"><span class="$c.AllHalflings.elements['grecipe'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['grecipe'].getName(content.lang)</a></li>
				<li><a href="/create/d" tabindex="-3"><span class="$c.AllHalflings.elements['manualdata'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['manualdata'].getName(content.lang)</a></li>
				<li><a href="/create/t" tabindex="-4"><span class="$c.AllHalflings.elements['transfer'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['transfer'].getName(content.lang)</a></li>
				<li><a href="/create/v" tabindex="-5"><span class="$c.AllHalflings.elements['pouring'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['pouring'].getName(content.lang)</a></li>
			    </ul>
			</li>
			<li class="dropdown" data-show-icon="true">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$c.AllMessages.elements['people'].getName(content.lang)<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="/list/u" tabindex="-1"><span class="$c.AllHalflings.elements['user'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['user'].getName(content.lang)</a></li>
				<li><a href="/list/gf" tabindex="-2"><span class="$c.AllHalflings.elements['gfunction'].getHalfling()"></span>&nbsp;&nbsp;$c.AllMessages.elements['gfunction'].getName(content.lang)</a></li>
				$if self.tmp == 'connected':
				    <li><a href="/disconnect" tabindex="-3"><span class="$c.AllHalflings.elements['disconnect'].getHalfling()"></span>&nbsp;$c.AllMessages.elements['disconnect'].getName(content.lang)</a></li>
			    </ul>
			</li>
		    </ul>
		    $if self.tmp == 'connected':
			<button type="button" class="btn btn-warning btn-md " data-toggle="modal" data-target="#modal_barcode" style="margin-top:5px;"><span class="$c.AllHalflings.elements['barcode'].getHalfling()"></span></button>
		</div><!--/.navbar-collapse -->
	    </div>
	</nav>
	<div class="container">
	    <div style="margin-top:10px;font-size:20px;">
		$if content.location != 'index' :
		    <a href="/"><span class="glyphicon glyphicon-home"></span>   </a>
		    $code : 
			url = '/'
		    $for elem in content.location.split():
			$code:
			    tmp = url+elem.split('=')[0]
			    css = ''
			    if 'tm' in tmp or 'vm' in tmp or 'dm' in tmp:
				css = 'blue'
			/    <a href="$tmp" class="$(css)"><span class="$c.AllHalflings.elements[elem.split('=')[1]].getHalfling()"></span>&nbsp;$c.AllMessages.elements[elem.split('=')[1]].getName(content.lang)</a>
			
	    </div>
	    <div style="margin-top:25px;">
		$:content
	    </div>
	  
	</div>
	<hr>
	<footer style="margin-top:40px;">
	    <div class="col-xs-11 text-center"><a href="http://www.akuino.net">AKUINO</a>, &copy;<small><a href="http://www.destin-informatique.com">DESTIN-Informatique</a>, <a href="http://www.glyphicons.com">GlyphIcons</a>, 2017</small></div>
	</footer> 
	    
	</body>
    </html>
    <div class="modal" id="modal_barcode">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header row ">
		    <div class="col-xs-2" >
			<strong><span class="$c.AllHalflings.elements['barcode'].getHalfling()"></span></strong>
		    </div>
		    <h4 class="modal-title col-xs-6 "> Search by barcode</h4>
		    <div class="col-xs-2" >
		    </div>
		    <button type="button" class="col-xs-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
		</div>
		    <script>
			function myFunction() {
			    value = document.getElementById("inputBarcode").value;
			    window.location.replace("/barcode/"+value);
			}
		    </script>
		<div class="modal-body">
		    <form action="/barcode/" onsubmit="myFunction()">
			<div class="form-group row">
			    <label for="inputBarcode" class="col-sm-3 col-form-label">$c.AllMessages.elements['barcode'].getName(content.lang)</label>
			    <div class="col-sm-9">
				<input name="barcode" type="text" class="form-control" id="inputBarcode" placeholder="$c.AllMessages.elements['barcode'].getName(content.lang)" required="true" onsubmit="myFunction()">
			    </div>
			</div>
			<button type= "submit" onclick="myFunction()" onsubmit="myFunction()" class="btn btn-primary btn-block" href ="/barcode/">Search</button>
		    </form>
		</div>
		<div class="modal-footer row">
		    <div class="col-xs-10" >
		    </div>
		    <button type="button" class="col-xs-2 btn btn-primary" data-dismiss="modal"><strong><big>&times;</big></strong></button>
		</div>
	    </div>
	</div>
    </div>
$else:
    $:content
