$def with (mail,type,id)
$var recursive : False
$var location: all/$(type)=$(c.findAllFromType(type).get_name_object()) graphic/$(type)_$(id)=graphic
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$code:
    allobjects = c.findAllFromType(type)
    elem = allobjects.elements[id]
    keyID = c.findAllFromObject(elem).keyColumn
    
<script>
    $$(function(){
	$$("#includedAllMenu$(type)_$(id)").load("/allmenu/$(type)_$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>

<script>
    $$(function(){
	$$("#includedModal$(type)_$(id)").load("/modal/$(type)_$(id)");
    });
</script>
<div id="includedModal$(type)_$(id)"></div>

<script>
    var graph_opts={legend: { noColumns:4},
		tooltip: true,
	    	tooltipOpts: { show:true, xDateFormat:"%H:%M:%S", content:"<h4>%s</h4> Value: %y.3 <br/> %x " } };
    var rrdflot_defaults={graph_width: "600px", graph_only:true}
</script>
$code:
    sensors = elem.get_sensors_in_component(c)

$for k in sensors:
	$code:
	    currSensor = c.AllSensors.elements[k]
	$if currSensor and (currSensor.fields['deny'] == '1' or currSensor.fields['deny'] == 1):
	    <h1 id="title"><a href="/graphic/cpehm_$currSensor.id"><strong><span class="$c.AllHalflings.elements['sensor'].getHalfling()"></span></strong> $currSensor.getName(self.lang)</a></h1>
	    <table width="100%">
		<tr>
		    <td>
			<div id="mygraph$(k)"></div>
		    </td>
		</tr>
	    </table>
	
	    <script type="text/javascript">		
		$code:
		    url = '/graphic/'+type+'_'+id+'/'+currSensor.getRRDName()
		    dsName = currSensor.fields['acronym']
	   	    dsColor = None #currSensor.fields['color']
		    if not dsColor:
			dsColor = "#0080ff"
		var ds_graph_opts = { '$dsName': { color:'$dsColor' }}
		flot_obj=new rrdFlotAsync("mygraph$(k)","$url",null,graph_opts,ds_graph_opts,rrdflot_defaults);
	    </script>
