$def with (type, id, mail)
$code:
    allobjects = c.findAllFromType(type)
    elem = allobjects.elements[id]
    keyID = c.findAllFromObject(elem).keyColumn
    
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var location: list/$(type)=$(c.findAllFromType(type).get_name_object()) find/h/$(type)_$(id)=checkpoint
$var recursive : False

<script>
    $$(function(){
	$$("#includedAllMenu$(type)_$(id)").load("/fullentry/$(type)_$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>


<div class="row active">
    <label class="col-sm-12">$c.AllMessages.elements['checkpoint'].getName(self.lang) :</label>
</div>

$for i in elem.checkpoints:
    <script>
    $$(function(){
	$$("#includedAllMenuh_$(i)").load("/fullentry/h_$(i)");
    });
    </script>
    <div id="includedAllMenuh_$(i)"></div>
    
<div style="margin:15px;">
</div>    


 
<div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="row active">
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-4">
		<select name = "checkpoint" class="form-control" id="inputPosition">
		$for k,v in c.AllCheckPoints.elements.items():
		    $if not k in elem.checkpoints:
			<option value="$k">$v.fields['acronym'] - $v.getName(self.lang) </option>
		</select>
	    </div>
	    <div class="col-sm-3">
		<button type="submit" class="btn btn-primary btn-block">$c.AllMessages.elements['add'].getName(self.lang) $c.AllMessages.elements['checkpoint'].getName(self.lang)</button>
	    </div>
	</div>
    </form>
</div>
