$def with (type,id,mail)
$var recursive : False
$var title : ELSA
$code:
    elem = c.findAllFromType(type).elements[id]
    keyID = c.findAllFromObject(elem).keyColumn
    
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var location: list/$(type)=$(elem.get_name()) find/related/$(type)_$(id)=related
$var title : ELSA - $(elem.get_name())

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
    <label class="col-sm-12">$c.AllMessages.elements['parent'].getName(self.lang) :</label>    
    $for k in elem.parents:
	<script>
	    $$(function(){
		$$("#includedMenuparents_$(k)").load("/fullentry/$(type)_$(k)");
	    });
	</script>
	<div id="includedMenuparents_$(k)"></div>
</div>

<script>
    $$(function(){
	$$("#includedAllMenug_$(id)").load("/fullentry/$(type)_$(id)");
    });
</script>
<div id="includedAllMenug_$(id)"></div>

<div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
    <label class="col-sm-12">$c.AllMessages.elements['child'].getName(self.lang) :</label>    
    $for k in elem.children:
	<script>
	    $$(function(){
		$$("#includedMenuchildren_$(k)").load("/fullentry/$(type)_$(k)");
	    });
	</script>
	<div id="includedMenuchildren_$(k)"></div>
</div>


$if type == 'gf':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['user'].getName(self.lang) :</label>    
	$for k,user in c.AllUsers.elements.items():
	    $if user.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenuu_$(k)").load("/fullentry/u_$(k)");
		    });
		</script>
		<div id="includedMenuu_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/u/$(type)_$(id)" class = "vcenter"><span class="halflings halflings-plus"></span>$c.AllMessages.elements['user'].getName(self.lang)</a>
	</div>
    </div> 
$elif type == 'h':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['manualdatamodel'].getName(self.lang) :</label>    
	$for k in elem.dm:
		<script>
		    $$(function(){
			$$("#includedMenudm_$(k)").load("/fullentry/dm_$(k)");
		    });
		</script>
		<div id="includedMenudm_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/dm/$(type)_$(id)" class = "vcenter"><span class="halflings halflings-plus"></span>$c.AllMessages.elements['manualdatamodel'].getName(self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['transfermodel'].getName(self.lang) :</label>    
	$for k in elem.tm:
		<script>
		    $$(function(){
			$$("#includedMenutm_$(k)").load("/fullentry/tm_$(k)");
		    });
		</script>
		<div id="includedMenutm_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/tm/$(type)_$(id)" class = "vcenter"><span class="halflings halflings-plus"></span>$c.AllMessages.elements['transfermodel'].getName(self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['pouringmodel'].getName(self.lang) :</label>    
	$for k in elem.vm:
		<script>
		    $$(function(){
			$$("#includedMenuvm_$(k)").load("/fullentry/vm_$(k)");
		    });
		</script>
		<div id="includedMenuvm_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/vm/$(type)_$(id)" class = "vcenter"><span class="halflings halflings-plus"></span>$c.AllMessages.elements['pouringmodel'].getName(self.lang)</a>
	</div>
    </div> 
$elif type == 'gu':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['place'].getName(self.lang) :</label>    
	$for k,p in c.AllPieces.elements.items():
	    $if p.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenup_$(k)").load("/fullentry/p_$(k)");
		    });
		</script>
		<div id="includedMenup_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/p/$(type)_$(id)" class = "vcenter"><span class="halflings halflings-plus"></span>$c.AllMessages.elements['place'].getName(self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['equipment'].getName(self.lang) :</label>    
	$for k,e in c.AllEquipments.elements.items():
	    $if e.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenue_$(k)").load("/fullentry/e_$(k)");
		    });
		</script>
		<div id="includedMenue_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/e/$(type)_$(id)" class = "vcenter"><span class="halflings halflings-plus"></span>$c.AllMessages.elements['equipment'].getName(self.lang)</a>
	</div>
    </div> 

    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['container'].getName(self.lang) :</label>    
	$for k,cont in c.AllContainers.elements.items():
	    $if cont.get_group() == id :
		<script>
		    $$(function(){
			$$("#includedMenuc_$(k)").load("/fullentry/c_$(k)");
		    });
		</script>
		<div id="includedMenuc_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/c/$(type)_$(id)" class = "vcenter"><span class="halflings halflings-plus"></span>$c.AllMessages.elements['container'].getName(self.lang)</a>
	</div>
    </div> 
$elif type == 'gr':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['batch'].getName(self.lang) :</label>    
	$for k,b in c.AllBatches.elements.items():
	    $if b.get_group() == id:
		<script>
		    $$(function(){
			$$("#includedMenub_$(k)").load("/fullentry/b_$(k)");
		    });
		</script>
		<div id="includedMenub_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/b/$(type)_$(id)" class = "vcenter"><span class="halflings halflings-plus"></span>$c.AllMessages.elements['batch'].getName(self.lang)</a>
	</div>
    </div> 
    
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['checkpoint'].getName(self.lang) :</label>    
	$for k,cp in c.AllCheckPoints.elements.items():
	    $if cp.fields['gr_id'] == id:
		<script>
		    $$(function(){
			$$("#includedMenub_$(k)").load("/fullentry/h_$(k)");
		    });
		</script>
		<div id="includedMenub_$(k)"></div>
    </div>
    <div class="row active" style="background-color:rgb(0, 21, 43);">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-6 vcenter" id="addItem">
	    <a href="/create/h/$(type)_$(id)" class = "vcenter"><span class="halflings halflings-plus"></span>$c.AllMessages.elements['checkpoint'].getName(self.lang)</a>
	</div>
    </div> 
