$def with (mail,type)
$if type == 'places':
    $var location: places/
    $code :
	elements = c.AllPieces.elements
	imgDir = '/static/img/p/place_'
	keyID = c.AllPieces.keyColumn
	permissionKey = 'p_'
	lname = 'place'
	
$elif type == 'users':
    $var location: users/
    $code :
	elements = c.AllUsers.elements
	imgDir = '/static/img/u/user_'
	keyID = c.AllUsers.keyColumn	
	permissionKey = 'u_'
	lname = 'user'
	
$elif type == 'equipments':
    $var location: equipments/
    $code :
	elements = c.AllEquipments.elements
	imgDir = '/static/img/e/equipment_'
	keyID = c.AllEquipments.keyColumn
	permissionKey = 'e_'
	lname = 'equipment'
	
$elif type == 'groups':
    $var location: groups/
    $code :
	elements = c.AllGroups.elements
	imgDir = '/static/img/g/group_'
	keyID = c.AllGroups.keyColumn
	permissionKey = 'g_'
	lname = 'group'
$elif type == 'containers':
    $var location: containers/
    $code :
	elements = c.AllContainers.elements
	imgDir = '/static/img/c/container_'
	keyID = c.AllContainers.keyColumn
	permissionKey = 'c_'
	lname = 'container'
	
$elif type == 'measures':
    $var location: measures/
    $code :
	elements = c.AllMeasures.elements
	imgDir = '/static/img/m/measure_'
	keyID = c.AllMeasures.keyColumn
	permissionKey = 'm_'
	lname = 'measure'
	
$elif type == 'sensors':
    $var location: sensors/
    $code :
	elements = c.AllSensors.elements
	imgDir = '/static/img/pehm/sensor_'
	keyID = c.AllSensors.keyColumn
	permissionKey = 'cpehm_'
	lname = 'sensor'
	
$elif type == 'alarms':
    $var location: alarms/
    $code :
	elements = c.AllAlarms.elements
	imgDir = '/static/img/a/alarm_'
	keyID = c.AllAlarms.keyColumn
	permissionKey = 'a_'
	lname = 'alarm'
	
$elif type == 'batches':
    $var location: batches/
    $code :
	elements = c.AllBatches.elements
	imgDir = '/static/img/b/batch_'
	keyID = c.AllBatches.keyColumn
	permissionKey = 'b_'
	lname = 'batch'
	
$elif type == 'transfers':
    $var location: transfers/
    $code :
	elements = c.AllTransfers.elements
	imgDir = '/static/img/t/transfer_'
	keyID = c.AllTransfers.keyColumn
	permissionKey = 't_'
	lname = 'transfer'

$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$code:
    groupList = c.hierarchyString()   
$for a,elem in elements.items():
    <div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<div class="col-xs-12" >
	    <div class="col-xs-1" >
	    $if 'deny' in elem.fields :
		$if elem.fields['deny'] == '0' or  elem.fields['deny'] == 0 :
		    <span class="glyphicon glyphicon-remove-circle"> </span>
		$else:
		    <span class="glyphicon glyphicon-ok-circle"> </span>
	    </div>
	    <div class="col-xs-4" >$elem.fields['acronym']</div>
	    <div class="col-xs-7">
		<strong>$elem.getName(self.lang)</strong>
	    </div>
	</div>
	<div class="col-xs-12" id="listing">
	    <div class="col-xs-4" >
	    </div>
	    $if type == 'sensors':
		<div class="col-xs-2" >
		    <strong><a href="/graphic/$elem.fields[keyID]" class="btn btn-warning" role="button"><span class="halflings halflings-stats"></span></a></strong>
		</div>
	    $elif type == 'batches':
		<div class="col-xs-2" >
		    <strong><a href="/transfers/b_$(a)" class="btn btn-warning" role="button"><span class="halflings halflings-transfer"></span></a></strong>
		</div>
	    $else:
		<div class="col-xs-2" >
		</div>
	    <div class="col-xs-2">
		<strong><a href="/$type/$elem.fields[keyID]" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-edit"></span></a></strong>
	    </div>
	    <div class="col-xs-2">
		<strong><a href="/permissions/$(permissionKey)$elem.fields[keyID]" class="btn btn-warning" role="button"><span class="halflings halflings-group"></span></a></strong>
	    </div>
	    <div class="col-xs-2">
		<button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#$elem.fields[keyID]Modal"><span class="halflings halflings-info-sign"></span></button>
	    </div>
	</div>
    </div>
    <div class="modal fade" id="$elem.fields[keyID]Modal" role="dialog">
	<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">$elem.getName(self.lang)</h4>
	    </div>
	    <div class="modal-body">
		<div class="container-fluid">
		    <div class="row">
			$if type != 'measures' and type != 'sensors' and type != 'alarms':
			    <div class="col-xs-3">
				<img src="$(imgDir)$(elem.fields[keyID]).jpg" alt="Image not found" style="width:128px;height:128px;">
			    </div>
			<div id="modalinfo" class="col-xs-6">
			    <span class="glyphicon glyphicon-flag"><strong>   $elem.fields['acronym']</span></strong>
			</div>
			<div id="modalinfo" class="col-xs-2">
			    $if elem.fields['deny'] == '1' or elem.fields['deny'] == 1 :
				<span class="glyphicon glyphicon-ok-circle"> </span>
			    $else :
				<span class="glyphicon glyphicon-remove-circle"> </span>		    
			</div>
		    </div>
		    $if type!= 'users':
			<div class="row" id="listingMarge" style="margin-top:10px;">
			    <div class="col-xs-3">
				$c.AllMessages.elements['name'].getName(self.lang) :
			    </div>
			</div>
			$for lg in c.AllLanguages.elements.keys():
			    <div class="row">
				<div class="col-xs-3">
				</div>
				<div class="col-xs-2">
				    $lg
				</div>
				<div class="col-xs-7" id="modalinfo" >
				    $elem.getName(lg)
				</div>
			    </div>
		    $else:
			<div class="row" id="listingMarge">
			    <div class="col-xs-3">
				$c.AllMessages.elements['name'].getName(self.lang) :
			    </div>
			    <div class="col-xs-7" id="modalinfo" >
				$elem.getName(self.lang)
			    </div>
			</div>
		    $if type != 'measures' and type != 'sensors' and type != 'alarms':
			<div class="row">
			    <div class="col-xs-3">
				$c.AllMessages.elements['group'].getName(self.lang) :
			    </div>
			</div>
			$code:
			    indent = 1
			    cindent = 11
			    elemgroup = []
			    for k,v in elem.groups.items():
				elemgroup.append(k)
			$if len(groupList) > 0:
			    $for group in groupList:
				$if group == 'IN' :
				    $code:
					indent+=1
					cindent-=1
				$elif group == 'OUT':
				    $code:
					indent-=1
					cindent+=1
				$else :
				    <div class="row" >
					<div class="col-xs-$indent">
					</div>
					<div id="modalinfo" class="col-xs-$cindent">
					    $if type != 'groups':
						$if group in elemgroup:
						    <strong><a href="/permissions/g_$group">$c.AllGroups.elements[group].getName(self.lang)</a></strong>
						$else:
						    <a href="/permissions/g_$group">$c.AllGroups.elements[group].getName(self.lang)</a>
					    $else:
						$if group == elem.fields['g_id']:
						    <strong><a href="/permissions/g_$group">$c.AllGroups.elements[group].getName(self.lang)</a></strong>
						$else:
						    <a href="/permissions/g_$group">$c.AllGroups.elements[group].getName(self.lang)</a>
					</div>
				    </div>
		    $elif type == 'measures':
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['source'].getName(self.lang) :
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$elem.fields['source']
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['formula'].getName(self.lang) :
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$if elem.fields['formula'] != '':
				    $elem.fields['formula']
				$else : 
				    -
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['unit'].getName(self.lang) :
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$elem.fields['unit']
			    </div>
			</div>
			
		    $elif type == 'alarms':
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['phone'].getName(self.lang) 1:
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$c.AllGroups.elements[elem.fields['o_sms1']].getName(self.lang)
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['mail'].getName(self.lang) 1:
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$c.AllGroups.elements[elem.fields['o_email1']].getName(self.lang)
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['sound'].getName(self.lang) 1:
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$c.AllGroups.elements[elem.fields['o_sound1']].getName(self.lang)
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['relay'].getName(self.lang) 1:
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$elem.fields['relay1']
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['phone'].getName(self.lang) 2:
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$c.AllGroups.elements[elem.fields['o_sms2']].getName(self.lang)
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['mail'].getName(self.lang) 2:
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$elem.fields['o_email2']
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['sound'].getName(self.lang) 1:
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$c.AllGroups.elements[elem.fields['o_sound2']].getName(self.lang)
			    </div>
			</div>
			<div class="row" style="margin-top:10px;">
			    <div class="col-xs-4">
				$c.AllMessages.elements['relay'].getName(self.lang) 2:
			    </div>
			    <div class="col-xs-8" id="modalinfo" >
				$elem.fields['relay2']
			    </div>
			</div>
		    
		    <div class="row" style="margin-top:10px;">
			<div class="col-xs-4">
			    $c.AllMessages.elements['code'].getName(self.lang) :
			</div>
			<div class="col-xs-8" id="modalinfo" >
			    $c.AllBarcodes.get_barcode(elem.get_type(), elem.id)
			</div>
		    </div>

		    <div class="row" style="margin-top:3px;">
			<div class="col-xs-4">
			    $c.AllMessages.elements['remark'].getName(self.lang) :
			</div>
			<div class="col-xs-8" id="modalinfo" >
			    $elem.fields['remark']
			</div>
		    </div>
		    
		    $if 'colorgraph' in elem.fields :
			<div class="row" style="margin-top:3px;" >
			    <div class="col-xs-4">
				$c.AllMessages.elements['color'].getName(self.lang) 
			    </div>
			    <div class="col-xs-2">
			    </div>
			    <div class="col-xs-4" style="background-color:$elem.fields['colorgraph'];" >$elem.fields['colorgraph']
			    </div>
			    <div class="col-xs-2">
			    </div>
			</div>
		    
		    <div class="row" style="margin-top:3px;">
			<div class="col-xs-4">
			    $c.AllMessages.elements['created'].getName(self.lang) :
			</div>
			<div class="col-xs-8" id="modalinfo" >
			    <strong>$c.AllUsers.elements[elem.creator].getName(self.lang) </strong> - <em>$elem.created</em>
			</div>
		    </div>
		    <div class="row" style="margin-top:3px;">
			<div class="col-xs-4">
			    $c.AllMessages.elements['modified'].getName(self.lang) :
			</div>
			<div class="col-xs-8" id="modalinfo" >
			    <strong>$c.AllUsers.elements[elem.fields['user']].getName(self.lang) </strong> - <em>$elem.fields['begin']</em>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	  </div>
	</div>
    </div>
<div class="row active" style="background-color:rgb(0, 21, 43);">
    <div class="col-xs-5">
    </div>
    <div class="col-xs-6" id="addItem">
	<a href="/$(type)/new"><span class="halflings halflings-plus"></span>$c.AllMessages.elements[lname].getName(self.lang)</a>
    </div>
</div>    
