$def with (type,id,mail)
$code:
    allobjects = c.findAllFromType(type)
    elem = allobjects.elements[id]
    keyID = c.findAllFromObject(elem).keyColumn
    
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var recursive : False
$var location: list/$(type)=$(c.findAllFromType(type).get_name_object()) find/related/$(type)_$(id)=related
<script>
    $$(function(){
        $$("#includedAllMenu$(type)_$(id)").load("/fullentry/$(type)_$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>
    
$code:
    t = elem.get_actual_position()    
	
$if t is not None :
    $code:
        pos = c.findAllFromType(c.AllTransfers.elements[t].fields['cont_type'])
        p = pos.elements[c.AllTransfers.elements[t].fields['cont_id']]
    <div class="row active" style ="margin-top:10px;margin-bottom:10px;background-color:#E5E5E7;padding:15px;" >
	<label class="col-sm-12">$c.AllMessages.elements['actualposition'].getName(self.lang) :</label>   
	<script>
            $$(function(){
                $$("#includedMenu$(c.AllTransfers.elements[t].fields['cont_type'])_$(c.AllTransfers.elements[t].fields['cont_id'])").load("/fullentry/$(c.AllTransfers.elements[t].fields['cont_type'])_$(c.AllTransfers.elements[t].fields['cont_id'])");
            });
	</script>
	<div id="includedMenu$(c.AllTransfers.elements[t].fields['cont_type'])_$(c.AllTransfers.elements[t].fields['cont_id'])"></div>
    </div>
    

$code:
    toCheck =[[type,id]]
$if type in 'p' :
    <div class="row active" style ="margin-top:10px;margin-bottom:10px;background-color:#E5E5E7;padding:15px;" >
	<label class="col-sm-12">$c.AllMessages.elements['equipment'].getName(self.lang) :</label>
	$for k,equipment in c.AllEquipments.elements.items():
	    $if equipment.is_actual_position(toCheck[0][0],id,c) :
		$code
		    toCheck.append(['e',k])
		<script>
		$$(function(){
		    $$("#includedMenue_$(k)").load("/fullentry/e_$(k)");
		});
		</script>
		<div id="includedMenue_$(k)"></div>
    </div>
$if type in 'pe':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['container'].getName(self.lang) :</label>    
	$for k,container in c.AllContainers.elements.items():
	    $if container.is_actual_position(toCheck[0][0],id,c) :
		$code
		    toCheck.append(['c',k])
		<script>
		$$(function(){
		    $$("#includedMenuc_$(k)").load("/fullentry/c_$(k)");
		});
		</script>
		<div id="includedMenuc_$(k)"></div>
    </div>
$if type not in 'bg':
    <div class="row active" style ="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<label class="col-sm-12">$c.AllMessages.elements['sensor'].getName(self.lang) :</label>    

    $for k,sensor in c.AllSensors.elements.items():
        $if sensor.fields[type+'_id'] is not '' :
            $if sensor.fields[type+'_id'] == id :
                <script>
                    $$(function(){
                        $$("#includedMenus_$(k)").load("/fullentry/s_$(k)");
                    });
                </script>
                <div id="includedMenus_$(k)"></div>
    </div>
<div class="row active"style = "background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <label class="col-sm-12">$c.AllMessages.elements['batch'].getName(self.lang) :</label>
    $for k,batch in c.AllBatches.elements.items():
        $for t, i in toCheck:
            $if batch.is_actual_position(t, i, c) is True:
                <script>
                    $$(function(){
                        $$("#includedMenub_$(k)").load("/fullentry/b_$(k)");
                    });
		</script>
		<div id="includedMenub_$(k)"></div>
</div>
