$def with (mail,id,type)
$code:
    allobjects = c.findAllFromType(type)
    elem = allobjects.elements[id]
    keyID = c.findAllFromObject(elem).keyColumn
    
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$var location: $(elem.get_name_listing())/

<div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
    <div class="col-xs-12" >
	<div class="col-xs-1" >
	$if 'deny' in elem.fields :
	    $if elem.fields['deny'] == '0' or  elem.fields['deny'] == 0 :
		<span class="glyphicon glyphicon-remove-circle"> </span>
	    $else:
		<span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	<div class="col-xs-4" >
	    $elem.fields['acronym']
	</div>
	<div class="col-xs-7">
	    <strong>$elem.getName(self.lang)</strong>
	</div>
    </div>
    <div class="col-xs-12" id="listing">
	<div class="col-xs-6" >
	</div>
	$if type == 'cpehm':
	    <div class="col-xs-2" >
		<strong><a href="/graphic/$elem.fields[keyID]" class="btn btn-warning" role="button"><span class="halflings halflings-stats"></span></a></strong>
	    </div>
	$elif type == 'b':
	    <div class="col-xs-2" >
		<strong><a href="#" class="btn btn-warning" role="button"><span class="halflings halflings-transfer"></span></a></strong>
	    </div>
	$else:
	    <div class="col-xs-2" >
	    </div>
	<div class="col-xs-2">
	    <strong><a href="/$(elem.get_name_listing())/$(elem.fields[keyID])" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-edit"></span></a></strong>
	</div>
	<div class="col-xs-2">
	    <strong><a href="/permissions/$(type)_$elem.fields[keyID]" class="btn btn-warning" role="button"><span class="halflings halflings-group"></span></a></strong>
	</div>
    </div>
</div>

$code:
    toCheck =[[type,id]]

<div class="row active">
    <label class="col-sm-12">$c.AllMessages.elements['equipment'].getName(self.lang) :</label>    
</div>
$for k,equipment in c.AllEquipments.elements.items():
    $if equipment.fields['place'] == id:
	$code
	    toCheck.append(['e',k])
	<div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	    <div class="col-xs-1" >
	    </div>
	    <div class="col-xs-3" >
	    </div>
		
	    <div class="col-xs-4" >
		<a href="/$(equipment.get_name_listing())/" >$equipment.fields['acronym'] - $equipment.getName(self.lang)</a>
	    </div>
	    <div class="col-xs-4" >
		$equipment.fields['remark']
	    </div>
	</div>

<div class="row active">
    <label class="col-sm-12">$c.AllMessages.elements['batch'].getName(self.lang) :</label>    
</div>
$for k,batch in c.AllBatches.elements.items():
    $for t, i in toCheck:
	$if batch.is_actual_position(t, i) is True:
	    <div class="row active" style="color:#f07e26;background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
		<div class="col-xs-1" >
		</div>
		<div class="col-xs-3" >
		    <a href="/$(c.findAllFromType(t).elements[i].get_name_listing())/" >$c.findAllFromType(t).elements[i].getName(self.lang)</a>
		</div>
		<div class="col-xs-4" >
		    <a href="/transfers/b_$(k)" >$batch.fields['acronym'] - $batch.getName(self.lang)</a>
		</div>
		<div class="col-xs-4" >
		    $batch.fields['remark']
		</div>
	    </div>
