$def with (mail,type,id)
$var recursive : False
$var location: all/$(type)=$(c.findAllFromType(type).get_name_object()) graphic/$(type)_$(id)=graphic
$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
$code:
    allobjects = c.findAllFromType(type)
    elem = allobjects.elements[id]
    keyID = c.findAllFromObject(elem).keyColumn
    
<script>
    $$(function(){
	$$("#includedAllMenu$(type)_$(id)").load("/allmenu/$(type)_$(id)");
    });
</script>
<div id="includedAllMenu$(type)_$(id)"></div>

<script>
    $$(function(){
	$$("#includedModal$(type)_$(id)").load("/modal/$(type)_$(id)");
    });
</script>
<div id="includedModal$(type)_$(id)"></div>

<script>
    var graph_opts={legend: { noColumns:4}};
    var rrdflot_defaults={graph_width: "600px"}
    var ds_graph_opts={'Oscilator':{ color: "#ff8000", lines: { show: true, fill: true, fillColor:"#FF0000"} },
			 'Idle':{ label: 'IdleJobs', color: "#00c0c0", 
				  lines: { show: true, fill: true} },
			 'Running':{color: "#000000",yaxis:2}};
</script>

$code:
    sensors = c.findAllFromType(type).elements[id].get_sensors_in_component(c)

$for k in sensors:
    <h1 id="title">Graphic sensor : $c.AllSensors.elements[k].getName(self.lang)</h1>
    <table width="100%">
	<tr>
	    <td>
		<div id="mygraph$(k)"></div>
	    </td>
	</tr>
    </table>

    <script type="text/javascript">
	
	$code:
	    url = '/graphic/$(type)_$(id)/'+c.AllSensors.elements[k].getRRDName()
	flot_obj=new rrdFlotAsync("mygraph$(k)","$url",null,graph_opts,ds_graph_opts,rrdflot_defaults);
    </script>
