$def with (mail,type, id)	
$var recursive : True
$code :
    elem = c.findAllFromType(type).elements[id]
    keyID = c.findAllFromType(type).keyColumn
    permissionKey = type +'_'

$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 
$code:
    groupList = c.hierarchyString()   

<div class="modal fade" id="$(type)_$(id)modal" role="dialog">
	<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
            <div class="modal-header row ">
		<div class="col-xs-2" >
		    <strong><a href="/edit/$(type)_$id" class="btn btn-warning" role="button"><span class="$c.AllHalflings.elements['edit'].getHalfling()"></span></a></strong>
		</div>
                <button type="button" class="close col-xs-3" data-dismiss="modal">&times;</button>
                <h4 class="modal-title col-xs-5 ">$elem.getName(self.lang)</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                    $if type != 'm' and type != 'cpehm' and type != 'a':
                        <div class="col-xs-5">
                            <img src="/$(elem.getImageDirectory())jpg" alt="Image not found" style="width:128px;height:128px;">
                        </div>
                    <div id="modalinfo" class="col-xs-5">
                        <span class="glyphicon glyphicon-flag"><strong>   $elem.fields['acronym']</span></strong>
                    </div>
                    <div id="modalinfo" class="col-xs-1">
                        $if elem.fields['deny'] == '1' or elem.fields['deny'] == 1 :
                            <span class="glyphicon glyphicon-ok-circle"> </span>
                        $else :
                            <span class="glyphicon glyphicon-remove-circle"> </span>		    
                    </div>
                    </div>
                    $if type!= 'u':
                        <div class="row" id="listingMarge" style="margin-top:10px;">
                            <div class="col-xs-3">
                            $c.AllMessages.elements['name'].getName(self.lang) :
                            </div>
                        </div>
                        $for lg in c.AllLanguages.elements.keys():
                            <div class="row">
                            <div class="col-xs-3">
                            </div>
                            <div class="col-xs-2">
                                $lg
                            </div>
                            <div class="col-xs-7" id="modalinfo" >
                                $elem.getName(lg)
                            </div>
                            </div>
                    $else:
                        <div class="row" id="listingMarge">
                            <div class="col-xs-3">
                            $c.AllMessages.elements['name'].getName(self.lang) :
                            </div>
                            <div class="col-xs-7" id="modalinfo" >
                            $elem.getName(self.lang)
                            </div>
                        </div>
                    $if type != 'm' and type != 'cpehm' and type != 'a':
                        <div class="row">
                            <div class="col-xs-3">
                            $c.AllMessages.elements['group'].getName(self.lang) :
                            </div>
                        </div>
                        $code:
                            indent = 1
                            cindent = 11
                            elemgroup = []
                            for k,v in elem.groups.items():
                                elemgroup.append(k)
                        $if len(groupList) > 0:
                            $for group in groupList:
                                $if group == 'IN' :
                                    $code:
                                        indent+=1
                                        cindent-=1
                                $elif group == 'OUT':
                                    $code:
                                        indent-=1
                                        cindent+=1
                                $else :
                                    <div class="row" >
                                        <div class="col-xs-$indent">
                                        </div>
                                        <div id="modalinfo" class="col-xs-$cindent">
                                            $if type != 'groups':
                                                $if group in elemgroup:
                                                    <strong><a href="/permissions/g_$group">$c.AllGroups.elements[group].getName(self.lang)</a></strong>
                                                $else:
                                                    <a href="/permissions/g_$group">$c.AllGroups.elements[group].getName(self.lang)</a>
                                            $else:
                                                $if group == elem.fields['g_id']:
                                                    <strong><a href="/permissions/g_$group">$c.AllGroups.elements[group].getName(self.lang)</a></strong>
                                                $else:
                                                    <a href="/permissions/g_$group">$c.AllGroups.elements[group].getName(self.lang)</a>
                                            </div>
                                        </div>
                    $elif type == 'm':
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['source'].getName(self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['source']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['formula'].getName(self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $if elem.fields['formula'] != '':
                                $elem.fields['formula']
                            $else : 
                                -
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['unit'].getName(self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['unit']
                            </div>
                        </div>
                        
                    $elif type == 'a':
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['phone'].getName(self.lang) 1:
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $c.AllGroups.elements[elem.fields['o_sms1']].getName(self.lang)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['mail'].getName(self.lang) 1:
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $c.AllGroups.elements[elem.fields['o_email1']].getName(self.lang)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['sound'].getName(self.lang) 1:
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $c.AllGroups.elements[elem.fields['o_sound1']].getName(self.lang)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['relay'].getName(self.lang) 1:
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['relay1']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['phone'].getName(self.lang) 2:
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $c.AllGroups.elements[elem.fields['o_sms2']].getName(self.lang)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['mail'].getName(self.lang) 2:
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['o_email2']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['sound'].getName(self.lang) 1:
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $c.AllGroups.elements[elem.fields['o_sound2']].getName(self.lang)
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                            $c.AllMessages.elements['relay'].getName(self.lang) 2:
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                            $elem.fields['relay2']
                            </div>
                        </div>
                    $elif type == 'cpehm':
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.AllMessages.elements['component'].getName(self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $if not elem.fields['p_id'] == '' :
                                    <a href="/all/p">$c.AllPieces.elements[elem.fields['p_id']].getName(self.lang)</a>
                                $elif not elem.fields['e_id'] == '' :
                                    <a href="/all/e">$c.AllEquipments.elements[elem.fields['e_id']].getName(self.lang)</a>
                                $if not elem.fields['c_id'] == '' :
                                    <a href="/all/c">$c.AllContainers.elements[elem.fields['c_id']].getName(self.lang)</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.AllMessages.elements['measure'].getName(self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                <a href="/all/m">$c.AllMeasures.elements[elem.fields['m_id']].getName(self.lang)</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.AllMessages.elements['formula'].getName(self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $elem.fields['formula']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.AllMessages.elements['sensor'].getName(self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $elem.fields['sensor']
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-4">
                                $c.AllMessages.elements['subsensor'].getName(self.lang) :
                            </div>
                            <div class="col-xs-8" id="modalinfo" >
                                $elem.fields['subsensor']
                            </div>
                        </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-4">
                            $c.AllMessages.elements['code'].getName(self.lang) :
                        </div>
                        <div class="col-xs-8" id="modalinfo" >
			    $code :
				barcode = c.AllBarcodes.get_barcode(elem.get_type(), elem.id)
			    $if barcode != '' :
				<a href="/barcode/$(barcode)">$(barcode)</a>
                        </div>
                    </div>

                    <div class="row" style="margin-top:3px;">
                        <div class="col-xs-4">
                            $c.AllMessages.elements['remark'].getName(self.lang) :
                        </div>
                        <div class="col-xs-8" id="modalinfo" >
			    $if elem.fields['remark'] != '' :
				$elem.fields['remark']
			    $else:
				-
                        </div>
                    </div>
                    
                    $if 'colorgraph' in elem.fields :
                        <div class="row" style="margin-top:3px;" >
                            <div class="col-xs-4">
                            $c.AllMessages.elements['color'].getName(self.lang) 
                            </div>
                            <div class="col-xs-2">
                            </div>
                            <div class="col-xs-4" style="background-color:$elem.fields['colorgraph'];" >$elem.fields['colorgraph']
                            </div>
                            <div class="col-xs-2">
                            </div>
                        </div>
                    
                    <div class="row" style="margin-top:3px;">
                        <div class="col-xs-4">
                            $c.AllMessages.elements['created'].getName(self.lang) :
                        </div>
                        <div class="col-xs-8" id="modalinfo" >
                            <strong>$c.AllUsers.elements[elem.creator].getName(self.lang) </strong> - <em>$elem.created</em>
                        </div>
                    </div>
                    <div class="row" style="margin-top:3px;">
                        <div class="col-xs-4">
                            $c.AllMessages.elements['modified'].getName(self.lang) :
                        </div>
                        <div class="col-xs-8" id="modalinfo" >
                            <strong>$c.AllUsers.elements[elem.fields['user']].getName(self.lang) </strong> - <em>$elem.fields['begin']</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
