$def with (mail,id,type)

$if type == 'p':
    $var location: places/ $id
    $code :
	element = c.AllPieces.elements[id]
	imgDir = '/static/img/p/place_'
	keyID = c.AllPieces.keyColumn
	classname = 'place'
$elif type == 'u':
    $var location: users/ $id
    $code :
	element = c.AllUsers.elements[id]
	imgDir = '/static/img/u/user_'
	keyID = c.AllUsers.keyColumn	
	classname = 'user'
$elif type == 'e':
    $var location: equipments/ $id
    $code :
	element = c.AllEquipments.elements[id]
	imgDir = '/static/img/e/equipment_'
	keyID = c.AllEquipments.keyColumn
	classname = 'equipment'
$elif type == 'g':
    $var location: groups/ $id
    $code :
	element = c.AllGroups.elements[id]
	imgDir = '/static/img/g/group_'
	keyID = c.AllGroups.keyColumn
	classname = 'group'
$elif type == 'cpehm':
    $var location: sensors/ $id
    $code :
	element = c.AllSensors.elements[id]
	imgDir = '/static/img/cpehm/cpehm_'
	keyID = c.AllSensors.keyColumn
	classname = 'sensor'
$elif type == 'c':
    $var location: containers/ $id
    $code :
	element = c.AllContainers.elements[id]
	imgDir = '/static/img/c/c_'
	keyID = c.AllContainers.keyColumn
	classname = 'container'
$elif type == 'a':
    $var location: alarms/ $id
    $code :
	element = c.AllAlarms.elements[id]
	imgDir = '/static/img/a/a_'
	keyID = c.AllAlarms.keyColumn
	classname = 'alarm'
$elif type == 'm':
    $var location: measures/ $id
    $code :
	element = c.AllMeasures.elements[id]
	imgDir = '/static/img/m/m_'
	keyID = c.AllMeasures.keyColumn
	classname = 'measure'

$var lang : $c.connectedUsers.users[mail].cuser.fields['language']

<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="form-group row">
	    <label class="col-sm-2 col-form-label">$c.AllMessages.elements['name'].getName(self.lang)</label>
	    <label id="modalinfo" class="col-sm-2 col-form-label">$element.getName(self.lang)</label>
	    <label class="col-sm-2 col-form-label">$c.AllMessages.elements['acronym'].getName(self.lang)</label>
	    <label id="modalinfo" class="col-sm-2 col-form-label">$element.fields['acronym']</label>
	    <label class="col-sm-2 col-form-label">Type :</label>
	    <label id="modalinfo" class="col-sm-2 col-form-label">$c.AllMessages.elements[classname].getName(self.lang)</label>
	</div>
	<div class="form-group row">
	    <label class="col-sm-3 col-form-label">$c.AllMessages.elements['removegroup'].getName(self.lang)</label>
	</div>
	$code:
	    groupList = c.hierarchyString() 
	    indent = 1
	    cindent = 9
	    
	    parents = c.get_parents_list(element)
	    children = c.get_children_list(element)
	$if len(groupList) > 0:
	    $for group in groupList:
		$if group == 'IN' :
		    $code:
			indent+=1
			cindent-=1
		$elif group == 'OUT':
		    $code:
			indent-=1
			cindent+=1
		$else :   
		    <div class="form-group row">
		    <label class="col-xs-$indent col-form-label"></label>
		    <label id="modalinfo" for="inputGroups" class="col-xs-$cindent col-form-label">$c.AllGroups.elements[group].getName(self.lang)</label>
			
                        $if type == 'g':
			    $if group in parents:
				<label class="col-sm-2 col-form-label">
				<span class="glyphicon glyphicon-remove-circle"> </span>
				    <label class="switch">
					<input id='inputDeny' name="$group" type="checkbox" value="1" checked>
					<div class="slider round"></div>
				    </label>
				    <span class="glyphicon glyphicon-ok-circle"> </span>
				</label>
			    $elif group in children or group == element.fields['g_id']:
				<label class="col-sm-2 col-form-label">-</label>
			    $else :
				<label class="col-sm-2 col-form-label">
				<span class="glyphicon glyphicon-remove-circle"> </span>
				    <label class="switch">
					<input id='inputDeny' name="$group" type="checkbox" >
					<div class="slider round"></div>
				    </label>
				    <span class="glyphicon glyphicon-ok-circle"> </span>
				</label>
			$elif not group in parents and not group in children : 
			    <label class="col-sm-2 col-form-label">
				<span class="glyphicon glyphicon-remove-circle"> </span>
                                $if group in element.groups:
					<label class="switch">
					    <input id='inputDeny' name="$group" type="checkbox" value="1" checked>
					    <div class="slider round"></div>
					</label>
                                $else:
                                	<label class="switch">
					    <input id='inputDeny' name="$group" type="checkbox">
					    <div class="slider round"></div>
					</label>
				<span class="glyphicon glyphicon-ok-circle"> </span>
			    </label>
			$else :
			    <label class="col-sm-2 col-form-label">-</label>
		    </div>
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a href="/$(classname)s/" class="btn btn-danger btn-block" role="button">$c.AllMessages.elements['cancel'].getName(self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>
