$def with (mail,id,type)

$if type == 'p':
    $var location: places/ $id
    $code :
	element = c.AllPieces.elements[id]
	imgDir = '/static/img/p/place_'
	keyID = c.AllPieces.keyColumn
	classname = 'place'
$elif type == 'u':
    $var location: users/ $id
    $code :
	element = c.AllUsers.elements[id]
	imgDir = '/static/img/u/user_'
	keyID = c.AllUsers.keyColumn	
	classname = 'user'
$elif type == 'e':
    $var location: equipments/ $id
    $code :
	element = c.AllEquipments.elements[id]
	imgDir = '/static/img/e/equipment_'
	keyID = c.AllEquipments.keyColumn
	classname = 'equipment'
$elif type == 'g':
    $var location: groups/ $id
    $code :
	element = c.AllGroups.elements[id]
	imgDir = '/static/img/g/group_'
	keyID = c.AllGroups.keyColumn
	classname = 'group'

$var lang : $c.connectedUsers.users[mail].cuser.fields['language']

<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="form-group row">
	    <label class="col-sm-2 col-form-label">$c.AllMessages.elements['name'].getName(self.lang)</label>
	    <label id="modalinfo" class="col-sm-2 col-form-label">$element.getName(self.lang)</label>
	    <label class="col-sm-2 col-form-label">$c.AllMessages.elements['acronym'].getName(self.lang)</label>
	    <label id="modalinfo" class="col-sm-2 col-form-label">$element.fields['acronym']</label>
	    <label class="col-sm-2 col-form-label">Type :</label>
	    <label id="modalinfo" class="col-sm-2 col-form-label">$c.AllMessages.elements[classname].getName(self.lang)</label>
	</div>
	<div class="form-group row">
	    <label class="col-sm-3 col-form-label">$c.AllMessages.elements['modifygroup'].getName(self.lang)</label>
	</div>

	$for k,group in element.groups.items():
	    <div class="form-group row">
		<label  class="col-sm-2 col-form-label"></label>
		<label id="modalinfo" for="inputGroups" class="col-sm-2 col-form-label">$group.getName(self.lang)</label>
		<label class="col-sm-8 col-form-label">
		    <span class="glyphicon glyphicon-remove-circle"> </span>
		    <label  class="switch">
			<input id='inputDeny'name="$k" type="checkbox" value="1" type="checkbox" checked>
			<div class="slider round"></div>
		    </label>
		    <span class="glyphicon glyphicon-ok-circle"> </span>
		</label>
	    </div>
	<div class="form-group row">
	    <label class="col-sm-3 col-form-label">$c.AllMessages.elements['addgroup'].getName(self.lang)</label>
	</div>
	$for k,group in c.AllGroups.elements.items():
	    $if k not in element.groups.keys():
		<div class="form-group row">
		    <label  class="col-sm-2 col-form-label"></label>
		    <label id="modalinfo" for="inputGroups" class="col-sm-2 col-form-label">$group.getName(self.lang)</label>
		    <label class="col-sm-8 col-form-label">
			<span class="glyphicon glyphicon-remove-circle"> </span>
			<label class="switch">
			    <input id='inputDeny'name="$k" type="checkbox" value="1" type="checkbox" >
			    <div class="slider round"></div>
			</label>
			<span class="glyphicon glyphicon-ok-circle"> </span>
		    </label>
		</div>
	<div class="form-group row">
	    <div class="col-sm-5">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-5">
	    </div>
	</div>
    </form>
</div>
