$def with (c, mail)
$var location: places

$for a,place in c.AllPieces.elements.items():
    $code:
	lang = c.connectedUsers.users[mail].cuser.fields['language']
    <div class="row active" style="background-color:#E5E5E7;margin-top:10px;margin-bottom:10px;padding:15px;">
	<div class="col-xs-2" >$place.fields['acronym']</div>
	<div class="col-xs-6">
	<strong>$place.names[lang]['name']</strong>
	</div>
	<div class="col-xs-2">
	    <strong><a href="/place/$place.fields['p_id']"><span class="glyphicon glyphicon-edit"></span></a></strong>
	</div>
	<div class="col-xs-2">
	    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#$place.fields['p_id']Modal">Voir infos</button>
	</div>
    </div>
    <div class="modal fade" id="$place.fields['p_id']Modal" role="dialog">
	<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">$place.names[lang]['name']</h4>
	    </div>
	    <div class="modal-body">
		<div class="container-fluid">
		    <div class="row">
			<div class="col-xs-5">
			    <img src="static/img/p/place_$(place.fields['p_id']).jpg" alt="Image not found" style="width:128px;height:128px;">
			</div>
			<div class="col-xs-6">
			    <span class="glyphicon glyphicon-flag"><strong>   $place.fields['acronym']</span></strong>
			</div>
			<div class="col-xs-1">
			    $if place.fields['deny'] == 1 :
				<span class="glyphicon glyphicon-ok-circle"></span>
			    $else :
				<span class="glyphicon glyphicon-remove-circle"></span>		    
			</div>
		    </div>
		    <div class="row">
			<div class="col-xs-12">
			    $c.AllMessages.elements['name'].names[lang]['name'] :
			</div>
		    </div>
		    $for lg in c.AllLanguages.elements.keys():
			<div class="row">
			    <div class="col-xs-3">
			    </div>
			    <div class="col-xs-2">
				$lg
			    </div>
			    <div class="col-xs-7">
				$place.names[lg]['name']
			    </div>
			</div>
		    <div class="row">
			<div class="col-xs-4">
			    $c.AllMessages.elements['remark'].names[lang]['name'] :
			</div>
			<div class="col-xs-8">
			    $place.fields['remark']
			</div>
		    </div>
		    <div class="row">
			<div class="col-xs-4">
			    $c.AllMessages.elements['created'].names[lang]['name'] :
			</div>
			<div class="col-xs-8">
			    <strong>$c.AllUsers.elements[place.creator].fields['name'] </strong> - <em>$place.created</em>
			</div>
		    </div>
		    <div class="row">
			<div class="col-xs-4">
			    $c.AllMessages.elements['modified'].names[lang]['name'] :
			</div>
			<div class="col-xs-8">
			    <strong>$c.AllUsers.elements[place.fields['user']].fields['name'] </strong> - <em>$place.fields['begin']</em>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	  </div>
	</div>
    </div>
<div class="col-xs-5">
    <p></p>
</div>
<div class="col-xs-6">
    <strong><a href="/place/new">Add a new place</a></strong>
</div>
