$def with (id, mail, errormess)
$var recursive : False
$if id == 'new':
    $code :
	myID = 'new'
	rmq = ''
    $var location: pourings=pouring pourings/new/new=add
$else :
    $code:
	if not id.split('_')[0] == 'b':
	    pouring = c.AllPourings.elements[id]
	    src = c.AllBatches.elements[pouring.fields['src']]
	    dest = c.AllBatches.elements[pouring.fields['dest']]
	    batch = dest
	    myID = 'update'
	    rmq = pouring.fields['remark']
	else:
	    myID = id.split('_')[2]
	    batch = c.findAllFromType(id.split('_')[0]).elements[id.split('_')[1]]
	    rmq = '' 
$if myID == 'update':
    $var location: list/b=batch find/v/b_$(dest.getID())=pouring edit/v_$(dest.getID())=edit
$elif myID == 'in' or myID == 'out':
    $var location: list/b=batch find/v/b_$(batch.getID())=pouring create/v/b_$(batch.getID())/new=add

$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 


<script>
function flip() {
    $$("#src").appendTo("#divdest");
    $$("#dest").appendTo("#divsrc");
    document.getElementsByName("src")[0].setAttribute("id", "test");
    document.getElementsByName("dest")[0].setAttribute("id", "src");
    document.getElementsByName("src")[0].setAttribute("id", "dest");
    document.getElementsByName("src")[0].setAttribute("name", "test");
    document.getElementsByName("dest")[0].setAttribute("name", "src");
    document.getElementsByName("test")[0].setAttribute("name", "dest");
}
</script>


<div class="container">
    <form  method="post" action="" id="modifyPouring"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.AllMessages.elements['time'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="time" type="text" class="form-control" id="inputTime" placeholder="$c.AllMessages.elements['time'].getName(self.lang)" 
		$if myID == 'update':
		    value="$pouring.fields['time']"
		$else :
		    value ="$c.get_time()"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="b_id" class="col-sm-3 col-form-label">$c.AllMessages.elements['batch'].getName(self.lang) $c.AllMessages.elements['source'].getName(self.lang)</label>
	    <div class="col-sm-9" id = "divsrc">
		<select name="src" class="form-control" id="src">
		    $if myID != 'out':
			$for k in c.AllBatches.elements.keys():
			    $if not (myID == 'in' and k == batch.getID()):
				<option value="$k"
				$if myID == 'update':
					    $if k == src.getID() :
						selected
				>$c.AllBatches.elements[k].fields['acronym'] - $c.AllBatches.elements[k].getName(self.lang) [= $c.AllBatches.elements[k].get_residual_quantity()] </option>
		    $else:
			<option value="$batch.getID()">$batch.fields['acronym'] - $batch.getName(self.lang) [$c.AllMessages.elements['residualqt'].getName(self.lang) : $batch.get_residual_quantity()] </option>
		</select>
	    </div>
	</div>
	<div class="form-group row">
	    <label for="inputbatch" class="col-sm-3 col-form-label">$c.AllMessages.elements['batch'].getName(self.lang) $c.AllMessages.elements['target'].getName(self.lang)</label>
	    <div class="col-sm-9" id = "divdest">
		<select name = "dest" class="form-control" id="dest">
			$if myID != 'in' :
			    $for k in c.AllBatches.elements.keys():
				$if not (myID == 'out' and k == batch.getID()):
				    <option value="$k"
				    $if myID == 'update':
					$if k == dest.getID() :
					    selected
				    >$c.AllBatches.elements[k].fields['acronym'] - $c.AllBatches.elements[k].getName(self.lang) [= $c.AllBatches.elements[k].get_residual_quantity()]</option>
			$else:
			    <option value="$batch.getID()">$batch.fields['acronym'] - $batch.getName(self.lang) [$c.AllMessages.elements['residualqt'].getName(self.lang) : $batch.get_residual_quantity()] </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <button type ="button" class="btn btn-info col-sm-2 col-md-offset-5" onclick="flip()">invert</button>
	</div>
	
	<div class="form-group row">
	    <label for="inputValue" class="col-sm-3 col-form-label">$c.AllMessages.elements['quantity'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="quantity" type="text" class="form-control" id="inputValue" placeholder="$c.AllMessages.elements['value'].getName(self.lang)" 
		$if myID == 'update':
		    value="$pouring.fields['quantity']"
		 required >
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="alarmSelect" class="col-sm-3 col-form-label">$c.AllMessages.elements['alarm'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<select name = "a_id" class="form-control" id="alarmSelect">
		    <option value=""></option>
		    $for k in c.AllAlarms.elements.keys():
			<option value="$k">$c.AllAlarms.elements[k].fields['acronym'] - $c.AllAlarms.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.AllMessages.elements['remark'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.AllMessages.elements['remark'].getName(self.lang)" >$rmq</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputactive" class="col-sm-6 col-form-label">$c.AllMessages.elements['active'].getName(self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
		<label class="switch">
		    <input id='inputactive' name="active" type="checkbox" value="1" checked>
		    <div class="slider round"></div>
		</label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		$if id == 'new' :
		    <a href="/index" class="btn btn-danger btn-block" role="button">$c.AllMessages.elements['cancel'].getName(self.lang)</a>
		$else:
		    <a href="/find/v/b_$(batch.getID())" class="btn btn-danger btn-block" role="button">$c.AllMessages.elements['cancel'].getName(self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>
