$def with (id, mail, errormess)

$if id == 'new':
    $var location: sensors/ new
    
$else:
    $var location: sensors/ $c.AllSensors.elements[id].fields['cpehm_id']

$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip" data-bv-submitButtons="#loginSubmit">
	<div class="form-group row" id="error">
	    $errormess
	</div>
	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$c.AllMessages.elements['acronym'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="$c.AllMessages.elements['acronym'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllSensors.elements[id].fields['acronym']"
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-3 col-form-label">$c.AllMessages.elements['name'].getName(self.lang)</label>
	</div>
	
	$for k,v in c.AllLanguages.elements.items():
	    <div class="form-group row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-3">
		    <strong>$v.fields['name']</strong>
		</div>
		<div class="col-sm-8">
		    <input name="$k" type="text" class="form-control" id="inputName" placeholder="Name"
		$if id !='new':
		    value="$c.AllSensors.elements[id].getName(self.lang)"
		required="true" >
		</div>
	    </div>
	
	<div class="form-group row">
	    <label for="langSelect" class="col-sm-3 col-form-label">$c.AllMessages.elements['component'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<select name = "component" class="form-control" id="langSelect">
		    <optgroup label="$c.AllMessages.elements['place'].getName(self.lang)">
		    $for k in c.AllPieces.elements.keys():
			<option value="p_$k"
			    $if id != 'new':
				$if k == c.AllSensors.elements[id].fields['p_id'] :
				    selected
			>$c.AllPieces.elements[k].fields['acronym'] - $c.AllPieces.elements[k].getName(self.lang) </option>
		    <optgroup label="$c.AllMessages.elements['equipment'].getName(self.lang)">
		    $for k in c.AllEquipments.elements.keys():
			<option value="e_$k"
			    $if id != 'new':
				$if k == c.AllSensors.elements[id].fields['e_id'] :
				    selected			
			>$c.AllEquipments.elements[k].fields['acronym'] - $c.AllEquipments.elements[k].getName(self.lang)</option>
		    <optgroup label="$c.AllMessages.elements['container'].getName(self.lang)">
		    $for k in c.AllContainers.elements.keys():
			<option value="c_$k"
			    $if id != 'new':
				$if k == c.AllSensors.elements[id].fields['c_id'] :
				    selected
			>$c.AllContainers.elements[k].fields['acronym'] - $c.AllContainers.elements[k].getName(self.lang)</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputPhase" class="col-sm-3 col-form-label">h_id</label>
	    <div class="col-sm-9">
		<input name="phase" type="text" class="form-control" id="inputPhase" placeholder="à implementer" 
		$if id != 'new':
		    value="$c.AllSensors.elements[id].fields['h_id']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="measureSelect" class="col-sm-3 col-form-label">$c.AllMessages.elements['measure'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<select name = "measure" class="form-control" id="measureSelect">
		    $for k in c.AllMeasures.elements.keys():
			<option value="m_$k"
			    $if id != 'new':
				$if k == c.AllSensors.elements[id].fields['m_id'] :
				    selected
			>$c.AllMeasures.elements[k].fields['acronym'] - $c.AllMeasures.elements[k].getName(self.lang) - $c.AllMeasures.elements[k].fields['unit']</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="channelSelect" class="col-sm-3 col-form-label">$c.AllMessages.elements['channel'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<select name = "channel" class="form-control" id="channelSelect">
		    <option value="wire"
			$if id != 'new':
			    $if "wire" == c.AllSensors.elements[id].fields['channel'] :
				selected
			>wire</option>
		    <option value="radio"
			$if id != 'new':
			    $if "radio" == c.AllSensors.elements[id].fields['channel'] :
				selected
		    >radio</option>
		</select>
	    </div>
	</div>
	$code:
	    listAlarm = ['minmin', 'min', 'typical', 'max', 'maxmax']
	$for alarm in listAlarm:
	    <div class="form-group row">
		<label for="$(alarm)Select" class="col-sm-3 col-form-label">$c.AllMessages.elements[alarm].getName(self.lang)</label>
		<div class="col-sm-9">
		    <input name="$(alarm)" type="text" class="form-control" id="$(alarm)Select" placeholder="$c.AllMessages.elements['alarm'].getName(self.lang)" 
		    $if id != 'new':
			value="$c.AllSensors.elements[id].fields[alarm]"
		    >
		</div>
	    </div>
	    <div class="form-group row">
		<label for="a$(alarm)Select" class="col-sm-3 col-form-label">$c.AllMessages.elements[alarm].getName(self.lang) - $c.AllMessages.elements['alarm'].getName(self.lang)</label>
		<div class="col-sm-9">
		    <select name = "a_$alarm" class="form-control" id="a$(alarm)Select">
			<option value=''></option>
			$for k in c.AllAlarms.elements.keys():
			    <option value="$k">$c.AllAlarms.elements[k].fields['acronym'] - $c.AllAlarms.elements[k].getName(self.lang) </option>
		    </select>
		</div>
	    </div>
	
	<div class="form-group row">
	    <label for="inputFormula" class="col-sm-3 col-form-label">$c.AllMessages.elements['formula'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="formula" type="text" class="form-control" id="inputFormula" placeholder="$c.AllMessages.elements['formula'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllSensors.elements[id].fields['formula']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputSensor" class="col-sm-3 col-form-label">$c.AllMessages.elements['sensor'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="sensor" type="text" class="form-control" id="inputSensor" placeholder="$c.AllMessages.elements['sensor'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllSensors.elements[id].fields['sensor']"
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputSubsensor" class="col-sm-3 col-form-label">$c.AllMessages.elements['subsensor'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="subsensor" type="text" class="form-control" id="inputUnit" placeholder="$c.AllMessages.elements['subsensor'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllSensors.elements[id].fields['subsensor']"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputValuetype" class="col-sm-3 col-form-label">$c.AllMessages.elements['valuetype'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<select name = "valuetype" class="form-control" id="channelSelect">
		    <option value="float"
			$if id != 'new':
			    $if "float" == c.AllSensors.elements[id].fields['valuetype'] :
				selected
			>float</option>
		    <option value="int"
			$if id != 'new':
			    $if "int" == c.AllSensors.elements[id].fields['valuetype'] :
				selected
		    >int</option>
		    <option value="hexa"
			$if id != 'new':
			    $if "hexa" == c.AllSensors.elements[id].fields['valuetype'] :
				selected
		    >hexa</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputBarcode" class="col-sm-3 col-form-label">$c.AllMessages.elements['code'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="code" type="text" class="form-control" id="inputBarcode" placeholder="$c.AllMessages.elements['code'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllBarcodes.get_barcode(c.AllSensors.elements[id].get_type(), id)"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.AllMessages.elements['remark'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="Remark" >
$if id != 'new':
    $c.AllSensors.elements[id].fields['remark']
</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputDeny" class="col-sm-6 col-form-label">$c.AllMessages.elements['deny'].getName(self.lang)</label>
	    <span class="glyphicon glyphicon-remove-circle"> </span>
	    $code:
		cond = not (id == 'new')
		if cond :
		    cond = (c.AllSensors.elements[id].fields['deny'] == 1 or c.AllSensors.elements[id].fields['deny'] == '1')
	    $if cond :
		<label class="switch">
		    <input id='inputDeny' name="deny" type="checkbox" value="1" checked>
		    <div class="slider round"></div>
		</label>
	    $else :
		<label class="switch">
		    <input id='inputDeny' name="deny" type="checkbox" value="1" >
		    <div class="slider round"></div>
		</label>
	    <span class="glyphicon glyphicon-ok-circle"> </span>
	</div>
	
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a href="/sensors/" class="btn btn-danger btn-block" role="button">$c.AllMessages.elements['cancel'].getName(self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
	
    </form>
</div>
