$def with (id1, id2, mail, errormess)

$if id1 == 'new':
    $code :
	myID = 'new'
	rmq = ''
$elif id1 == 'update' :
    $code :
	myID = 'update'
	transfer = c.AllTransfers.elements[id2.split('_')[-1]]
	elem = c.findAllFromType(transfer.fields['object_type']).elements[transfer.fields['object_id']]
	rmq = transfer.fields['remark']
$else :
    $code:
	myID = 'component'
	elem = c.findAllFromType(id1.split('_')[0]).elements[id1.split('_')[-1]]
	rmq = ''
$var location: transfers/ new

$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 


<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <label for="inputTime" class="col-sm-3 col-form-label">$c.AllMessages.elements['time'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="time" type="text" class="form-control" id="inputTime" placeholder="$c.AllMessages.elements['time'].getName(self.lang)" 
		$if myID == 'update':
		    value="$transfer.fields['time']"
		$else :
		    value ="$c.get_time()"
		>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputObject" class="col-sm-3 col-form-label">$c.AllMessages.elements['componentmove'].getName(self.lang) </label>
	    <div class="col-sm-9">
		<select name = "object" class="form-control" id="inputPosition">
		    <optgroup label="$c.AllMessages.elements['batch'].getName(self.lang)">
		    $for k in c.AllBatches.elements.keys():
			<option value="b_$k"
			    $if not myID == 'new':
				$if 'b' == elem.get_type() and k == elem.getID() :
				    selected
			>$c.AllBatches.elements[k].fields['acronym'] - $c.AllBatches.elements[k].getName(self.lang) </option>
		    <optgroup label="$c.AllMessages.elements['equipment'].getName(self.lang)">
		    $for k in c.AllEquipments.elements.keys():
			<option value="e_$k"
			    $if not myID == 'new':
				$if 'e' == elem.get_type() and k == elem.getID() :
				    selected			
			>$c.AllEquipments.elements[k].fields['acronym'] - $c.AllEquipments.elements[k].getName(self.lang)</option>
		    <optgroup label="$c.AllMessages.elements['container'].getName(self.lang)">
		    $for k in c.AllContainers.elements.keys():
			<option value="c_$k"
			    $if not myID == 'new':
				$if 'c' == elem.get_type() and k == elem.getID() :
				    selected
			>$c.AllContainers.elements[k].fields['acronym'] - $c.AllContainers.elements[k].getName(self.lang)</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputPosition" class="col-sm-3 col-form-label">$c.AllMessages.elements['componentin'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<select name = "position" class="form-control" id="inputPosition">
		    <optgroup label="$c.AllMessages.elements['place'].getName(self.lang)">
		    $for k in c.AllPieces.elements.keys():
			<option value="p_$k"
			    $if myID == 'update':
				$if 'p' == transfer.fields['cont_type'] and k == transfer.fields['cont_id'] :
				    selected
			>$c.AllPieces.elements[k].fields['acronym'] - $c.AllPieces.elements[k].getName(self.lang) </option>
		    <optgroup label="$c.AllMessages.elements['equipment'].getName(self.lang)">
		    $for k in c.AllEquipments.elements.keys():
			<option value="e_$k"
			    $if myID == 'update':
				$if 'e' == transfer.fields['cont_type'] and k == transfer.fields['cont_id'] :
				    selected			
			>$c.AllEquipments.elements[k].fields['acronym'] - $c.AllEquipments.elements[k].getName(self.lang)</option>
		    <optgroup label="$c.AllMessages.elements['container'].getName(self.lang)">
		    $for k in c.AllContainers.elements.keys():
			<option value="c_$k"
			    $if myID == 'update':
				$if 'c' == transfer.fields['cont_type'] and k == transfer.fields['cont_id'] :
				    selected
			>$c.AllContainers.elements[k].fields['acronym'] - $c.AllContainers.elements[k].getName(self.lang)</option>
		</select>
	    </div>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.AllMessages.elements['remark'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.AllMessages.elements['remark'].getName(self.lang)" >$rmq</textarea>
	    </div>
	</div>
	
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a href="/places/" class="btn btn-danger btn-block" role="button">$c.AllMessages.elements['cancel'].getName(self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>
