$def with (id, mail, errormess)


$if id == 'new':
    $var location: transfers/ new
    
$else:
    $var location: transfers/ $c.AllTransfers.elements[id].fields['t_id']

$var lang : $c.connectedUsers.users[mail].cuser.fields['language'] 


<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	<div class="col-sm-12" >
	    <p id="error">$errormess</p>
	</div>
	
	<div class="form-group row">
	    <label for="inputObject" class="col-sm-3 col-form-label">$c.AllMessages.elements['batch'].getName(self.lang) </label>
	    <div class="col-sm-9">
		<select name = "object" class="form-control" id="inputObject">
		    $for k in c.AllBatches.elements.keys():
			<option value="b_$k"
                        $if id != 'new':
			    $if c.AllTransfers.elements[id].get_type_object() == 'b' and c.AllTransfers.elements[id].get_id_object() == k :
				selected
			>$c.AllBatches.elements[k].fields['acronym'] - $c.AllBatches.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputPosition" class="col-sm-3 col-form-label">$c.AllMessages.elements['component'].getName(self.lang) </label>
	    <div class="col-sm-9">
		<select name = "position" class="form-control" id="inputPosition">
		    $for k in c.AllEquipments.elements.keys():
			<option value="e_$k"
                        $if id != 'new':
                            $if c.AllTransfers.elements[id].get_type_container() == 'e' and c.AllTransfers.elements[id].get_id_container() == k :
				selected
			>$c.AllEquipments.elements[k].fields['acronym'] - $c.AllEquipments.elements[k].getName(self.lang) </option>
		</select>
	    </div>
	</div>
	
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.AllMessages.elements['remark'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="$c.AllMessages.elements['remark'].getName(self.lang)" >
$if id != 'new':
    $c.AllTransfers.elements[id].fields['remark']
</textarea>
	    </div>
	</div>
	
	
	<div class="form-group row">
	    <div class="col-sm-3">
	    </div>
	    <div class="col-sm-2">
		<a href="/places/" class="btn btn-danger btn-block" role="button">$c.AllMessages.elements['cancel'].getName(self.lang)</a>
	    </div>
	    <div class="col-sm-2">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-3">
	    </div>
	</div>
    </form>
</div>
