$def with (id, mail)


$if id == 'new':
    $var location: users/ new
    
$else:
    $var location: users/ $c.AllUsers.elements[id].fields['u_id']

$var lang : $c.connectedUsers.users[mail].cuser.fields['language']
<div class="container">
    <form  method="post" action="" id="modifyPlace"  enctype="multipart/form-data" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
	
	<div class="form-group row">
	    <label for="inputName" class="col-sm-3 col-form-label">$c.AllMessages.elements['name'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="EN" type="text" class="form-control" id="inputName" placeholder="Name"
		$if id !='new':
		    value="$c.AllUsers.elements[id].getName('EN')"
		required="true" >
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputMail" class="col-sm-3 col-form-label">$c.AllMessages.elements['mail'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="mail" type="email" class="form-control" id="inputMail" aria-describedby="emailHelp" placeholder="Enter email"
		$if id !='new':
		    value="$c.AllUsers.elements[id].fields['mail']"
		required="true" >
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputPhone" class="col-sm-3 col-form-label">$c.AllMessages.elements['phone'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="phone" type="tel" class="form-control" id="inputPhone" placeholder=""
		$if id !='new':
		    value="$c.AllUsers.elements[id].fields['mail']"
		required="true" >
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputMail" class="col-sm-3 col-form-label">$c.AllMessages.elements['password'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="password" type="password" class="form-control" id="inputMail" aria-describedby="emailHelp" placeholder="Enter password" required="true" >
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputAcronym" class="col-sm-3 col-form-label">$c.AllMessages.elements['acronym'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="acronym" type="text" class="form-control" id="inputAcronym" placeholder="Acronym" 
		$if id != 'new':
		    value="$c.AllUsers.elements[id].fields['acronym']"
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputBarcode" class="col-sm-3 col-form-label">$c.AllMessages.elements['code'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<input name="code" type="text" class="form-control" id="inputBarcode" placeholder="$c.AllMessages.elements['code'].getName(self.lang)" 
		$if id != 'new':
		    value="$c.AllBarcodes.get_barcode(c.AllUsers.elements[id].getType(), id)"
		required="true">
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputRemark" class="col-sm-3 col-form-label">$c.AllMessages.elements['remark'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<textarea name="remark" type="text" class="form-control" id="inputRemark" placeholder="Remark" >
$if id != 'new':
    $c.AllUsers.elements[id].fields['remark']
</textarea>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputDeny" class="col-sm-6 col-form-label">$c.AllMessages.elements['deny'].names[self.lang]['name']</label>
	    <label class="switch">
		<input id='inputDeny'name="deny" type="checkbox" value="1" type="checkbox" >
		<div class="slider round"></div>
	    </label>
	</div>
	
	<div class="form-group row">
	    <label for="langSelect" class="col-sm-3 col-form-label">$c.AllMessages.elements['lang'].getName(self.lang)</label>
	    <div class="col-sm-9">
		<select name = "language" class="form-control" id="langSelect">
		  $for lg in c.AllLanguages.elements.keys():
		    <option>$lg</option>
		</select>
	    </div>
	</div>
	
	<div class="form-group row">
	    <label for="inputFile" class="col-sm-6 col-form-label">$c.AllMessages.elements['file'].getName(self.lang)</label>
	    <label class="control-label"></label>
	    <input id="inputFile" name="placeImg" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "jpeg"]'>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-5">
	    </div>
	    <div class="col-sm-2">
		<button type="submit" class="btn btn-primary btn-block">Save</button>
	    </div> 
	    <div class="col-sm-5">
	    </div>
	</div>
    </form>
</div>

