svg {
  border: 1px solid #999;
  overflow: hidden;
  background: #C0C0C0;
}

.node {
  white-space: nowrap;
}

.label {
  color: #000
}

.node rect,
.node diamond,
.node circle,
.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.cluster rect {
  stroke: #333;
  fill: #000;
  fill-opacity: 0.1;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}
